{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}

{% block mainmenu %}
 {% if is_own %}
  {{ "/share/"|main_menu }}
 {% else %}
  {{ "/directory/"|main_menu }}
 {% endif %}
{% endblock %}

{% block sectionmenu %}
 {% if is_own %}
  {{ "/share/lists/"|section_menu }}
 {% else %}
  {{ "/lists/"|section_menu }}
 {% endif %}
{% endblock %}

{% block title %}
 {% blocktrans with podcastlist.title as list_title and owner.username as ownername %}"{{ list_title }}" by {{ ownername }}{% endblocktrans %}
{% endblock %}

{% block header %}
  <h1>{{ podcastlist.title }}</h1>
  {% url "user" owner.username as user-lists-url %}
  <small class="description">
   {% blocktrans with owner.username as ownername %}a podcast list by <a href="{{ user-lists-url }}">{{ ownername }}</a>{% endblocktrans %}
   {% if podcastlist.get_rating %}
    &middot; {{ podcastlist.get_rating }} <i class="icon-thumbs-up"></i>
   {% endif %}
  </small>
{% endblock %}


{% block content %}

 <table class="list">
  <tr>
   <th></th>
   <th>{% trans "Podcast" %}</th>
   <th>{% trans "Subscribers" %}</th>
  </tr>

 {% for podcast in podcastlist.podcasts %}

  <tr>
   <td class="logo">{{ podcast|podcast_logo }}</td>
   <td>
    {% podcast_group_link podcast %}
   </td>
   <td>{% vertical_bar podcast.subscriber_count max_subscribers %}</td>

   {% if is_own %}
    <td>
     <form action="{% url "list-remove-podcast" owner.username podcastlist.slug podcast.get_id %}" method="post" target="_parent">
      {% csrf_token %}
      <button class="btn btn-danger btn-sm" type="submit" >
       <i class="icon-remove"></i>
      </button>
     </form>
    </td>
   {% endif %}
  </tr>
   {% empty %}
  <tr>
    <td colspan="3">{% trans "No Podcasts" %}</td>
  </tr>
 {% endfor %}
 </table>


  <form action="{% url "list-rate" owner.username podcastlist.slug %}?rate=1" method="post" style="display: inline;" >
   {% csrf_token %}
   <button class="btn btn-default" type="submit">
    <i class="icon-thumbs-up"></i>
    {% trans "Vote" %}
   </button>
  </form>

   <a class="btn btn-default" href="{% url "list-opml" owner.username podcastlist.slug %}">
    <i class="icon-download"></i>
    {% trans "Download as OPML" %}
    </a>

  {% if flattr_autosubmit %}
   <a href="{{ flattr_autosubmit }}">
    <img src="https://api.flattr.com/button/flattr-badge-large.png"
     alt="{% trans "Flattr this podcast list" %}" />
   </a>
  {% endif %}

 {% if is_own %}

  <hr />

  <h2>Add Podcast</h2>

  <form method="get" action="{% url "list-search" owner.username podcastlist.slug %}" class="form-inline" target="results">
   <div class="input-group">
    <span class="input-group-addon"><i class="icon-search"></i></span>
    <input class="form-control" type="text" name="q" {% if q %}value="{{ q }}"{% endif %} placeholder="{% trans "Search term or feed URL" %}" autofocus="autofocus">
    <span class="input-group-btn">
     <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
    </span>
   </div>
  </form>

  <iframe name="results" class="results">
  </iframe>

 {% endif %}

{% endblock %}



{% block sidebar %}
 {% if not is_own and user.is_authenticated %}
  <div class="well">
   <h4>{% trans "Your own Podcast Lists" %}</h4>
   <p>{% trans "Create and share your own podcast lists "%}</p>
   <a class="btn btn-primary" href="{% url "lists-overview" %}">{% trans "Go" %}</a>
  </div>

 {% endif %}
{% endblock %}


{% block javascript %}

    <script language="javascript">
        <!--
        function submitForm(formid)
        {
            document.forms[formid].submit();
            return true;
        }
        -->
    </script>

{% endblock %}
