{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}

{% block mainmenu %}
 {% if is_own %}
  {{ "/share/"|main_menu }}
 {% else %}
  {{ "/directory/"|main_menu }}
 {% endif %}
{% endblock %}

{% block sectionmenu %}
 {% if is_own %}
  {{ "/share/lists/"|section_menu }}
 {% else %}
  {{ "/lists/"|section_menu }}
 {% endif %}
{% endblock %}

{% block title %}
 {% blocktrans with podcastlist.title as list_title and owner.username as ownername %}"{{ list_title }}" by {{ ownername }}{% endblocktrans %}
{% endblock %}

{% block header %}
  <h1>{{ podcastlist.title }}</h1>
  {% url lists-user owner.username as user-lists-url %}
  <small class="description">{% blocktrans with owner.username as ownername %}a podcast list by <a href="{{ user-lists-url }}">{{ ownername }}</a>{% endblocktrans %}</small>
{% endblock %}


{% block content %}

 <table class="list">
  <tr>
   <th></th>
   <th>{% trans "Podcast" %}</th>
   <th>{% trans "Subscribers" %}</th>
  </tr>

 {% for podcast in podcastlist.podcasts %}

  <tr>
   <td class="logo">{{ podcast|podcast_logo }}</td>
   <td>
    {% podcast_group_link podcast %}
   </td>
   <td>{{ podcast.subscriber_count|vertical_bar:max_subscribers }}</td>

   {% if is_own %}
    <td>
     <form action="{% url list-remove-podcast owner.username podcastlist.slug podcast.get_id %}" method="post" target="_parent">
      {% csrf_token %}
      <button class="btn btn-danger" type="submit" >
       <i class="icon-remove"></i>
      </button>
     </form>
    </td>
   {% endif %}
  </tr>
   {% empty %}
  <tr>
    <td colspan="3">{% trans "No Podcasts" %}</td>
  </tr>
 {% endfor %}
 </table>

 <div class="action-buttons">

  <form action="{% url list-rate owner.username podcastlist.slug %}?rate=1" method="post">
   {% csrf_token %}
   <button class="btn" type="submit">
    <i class="icon-thumbs-up"></i>
    {% trans "Vote" %}
   </button>
  </form>

   <a class="btn" href="{% url list-opml owner.username podcastlist.slug %}">
    <i class="icon-download"></i>
    {% trans "Download as OPML" %}
    </a>

 {% if is_own %}

  <hr />

  <h2>Add Podcast</h2>
  <form method="get" action="{% url list-search owner.username podcastlist.slug %}" class="form-inline" target="results">
   <div class="input-prepend">
    <span class="add-on"><i class="icon-search"></i></span><input type="text" class="input-xxlarge" name="q" {% if q %}value="{{ q }}"{% endif %} >
   </div>
   <input class="btn btn-primary" type="submit" value="Search">
  </form>

  <iframe name="results" class="results">
  </iframe>

 {% endif %}
 {% if not is_own and user.is_authenticated %}

  <div class="info">
   {% url lists-overview as create-url %}
   {% blocktrans %}Create your own <a href="{{ create-url }}">podcast lists</a>.{% endblocktrans %}
  </div>

 {% endif %}

{% endblock %}
