{% extends "base.html" %}

{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/directory/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/lists/"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcast Lists" %}{% endblock %}

{% block content %}
 <div class="row-fluid">
  <div class="span12">
   <h1>{% blocktrans with user.username as username %}Podcast Lists by {{ username }}{% endblocktrans%}</h1>
  </div>
 </div>


 <div class="row-fluid">
 <div class="span8">
  <table class="list">
   {% for list in lists %}
    <tr>
     <td><a href="{% url list-show user.username list.slug %}">{{ list.title }}</a></td>
     <td>{% blocktrans with list.podcasts|length as num_podcasts %}{{ num_podcasts }} Podcasts{% endblocktrans %}</td>
    </tr>
   {% empty %}
    <tr>
     <td colspan="3">
      {% blocktrans with user.username as username %}{{ username }} hasn't created any podcast lists yet.{% endblocktrans %}
     </td>
    </tr>
   {% endfor %}
  </table>
 </div>

 <div class="span4">

 <div class="well">
  <h3>{% trans "Know Some Great Podcasts?" %}</h3>
  <p>{% trans "Create a list of podcasts about a topic you like" %}</p>
  <a class="btn btn-primary" href="{% url lists-overview %}">Go</a>
 </div>

 </div>

{% endblock %}
