{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/share/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/share/lists/"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcast Lists" %}{% endblock %}

{% block header %}
   <h1>{% trans "Podcast Lists" %}</h1>
{% endblock %}


{% block content %}

  <table class="list">
   {% for list in lists %}
    <tr>
     <td><a href="{% url list-show user.username list.slug %}">{{ list.title }}</a></td>
     <td>{% blocktrans with list.podcasts|length as num_podcasts %}{{ num_podcasts }} Podcasts{% endblocktrans %}</td>
     <td>
      <form action="{% url list-delete user.username list.slug %}" method="post">
       {% csrf_token %}
       <button class="btn btn-danger btn-small" type="submit">
        <i class="icon-trash"></i> {% trans "Delete" %}
       </button>
      </form>
     </td>
    </tr>
   {% endfor %}
  </table>

{% endblock %}


{% block sidebar %}

  <div class="well">

  <h4>{% trans "Create List" %}</h4>
  <form class="form-inline" action="{% url list-create %}" method="post">
   {% csrf_token %}
   <div class="input-append">
    <input placeholder="Title" class="input-medium" type="text" name="title" />
    <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
   </div>
  </form>

  <p>
   {% blocktrans %}Podcast Lists are intended to share podcasts about certain topics and are therefore always visible to everyone.{% endblocktrans %}
  </p>
 </div>

{% endblock %}
