{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load podcasts %}
{% load episodes %}
{% load charts %}
{% load math %}
{% load utils %}
{% load time %}
{% load gravatar %}

{% load menu %}
{% block mainmenu %}{{ "/share/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/share/me"|section_menu:page_user.username }}{% endblock %}

{% block title %}{{ page_user.username }}{% endblock %}


{% block header %}
  <div id="podcastlogo">{% gravatar_img page_user %}</div>

  <h1>{{ page_user.username }}</h1>
  <small class="description"></small>
{% endblock %}

{% block content %}

  <br style="clear: both;" />

  {% if subscriptions and not subscriptions_token %}

   <h2>{% blocktrans with subscriptions|length as subscription_count %}{{ subscription_count }} Subscriptions{% endblocktrans %}</h2>
   <table class="list">
    <tr>
     <th></th>
     <th></th>
     <th>{% trans "Episodes Listened" %}</th>
    </tr>

    {% for podcast in subscriptions|slice:":5" %}
     <tr>
      <td>{{ podcast|podcast_logo }}</td>
      <td class="listlink">{% podcast_group_link podcast %}</td>
      <td>{% vertical_bar podcast.episodes_listened podcast.episode_count "ratio" %}</td>
     </tr>
    {% endfor %}

    {% if subscriptions|length > 5 %}
     <tr>
      <td></td>
      <td colspan="2">
       <a href="{% url "shared-subscriptions" page_user.username %}">
        {% trans "see all" %}
       </a>
      </td>
     </tr>
    {% endif %}

   </table>

  {% endif %}




  {% if lists %}

   <h2>{% blocktrans with lists|length as list_count %}{{ list_count }} Podcast Lists{% endblocktrans %}</h2>
   <table class="list">
    {% for list in lists|slice:":5" %}
     <tr>
      <td><a href="{% url "list-show" page_user.username list.slug %}">{{ list.title }}</a></td>
      <td>{% blocktrans with list.podcasts|length as num_podcasts %}{{ num_podcasts }} Podcasts{% endblocktrans %}</td>
     </tr>
    {% endfor %}

    {% if lists|length > 5 %}
     <tr>
      <td></td>
      <td>
       <a href="{% url "lists-user" page_user.username %}">
        {% trans "see all" %}
       </a>
      </td>
     </tr>
    {% endif %}

   </table>

 {% endif %}


 {% if recent_episodes %}

  <h2>{% blocktrans with recent_episodes|length as num_episodes%}{{ num_episodes }} Recently Played Episodes{% endblocktrans %}</h2>
  <table class="list">
  {% for episode in recent_episodes %}
   <tr>
    <td>{{ episode.podcast|podcast_logo }}</td>
    <td>
     {% episode_link episode episode.podcast %}<br />
     {% if episode.podcast %}
      <span class="from_podcast">{% trans "from" %} {% podcast_group_link episode.podcast %}</td>
     {% endif %}
    </td>
   </tr>
  {% endfor %}

  </table>

 {% endif %}


 {% if favorite_episodes and not favorite_feeds_token %}

  <h2>{% blocktrans with favorite_episodes|length as num_fav_episodes %}{{ num_fav_episodes }} Favorite Episodes{% endblocktrans %}</h2>
  <table class="list">
  {% for episode in favorite_episodes|slice:":5" %}
   <tr>
    <td>{% if episode.podcast %}{{ episode.podcast|podcast_logo }}{% endif %}</td>
    <td>{% episode_link episode episode.podcast %}<br/>
     {% if episode.podcast %}
      <span class="from_podcast">{% trans "from" %} {% podcast_group_link episode.podcast %}</td>
     {% endif %}
   </tr>
  {% endfor %}

  {% if favorite_episodes|length > 5 %}
   <tr>
    <td></td>
    <td>
     <a href="{% url "favorites-feed" page_user.username %}">
      {% trans "see all" %}
     </a>
    </td>
   </tr>
  {% endif %}

  </table>

 {% endif %}

{% endblock %}


{% block sidebar %}

 <div class="well">
  <h3>{% trans "Stats" %}</h3>
  <ul>
   <li>{% trans "Total Played:" %}
    {% if seconds_played_total %}
     {{ seconds_played_total|format_duration }} /
    {% endif %}
    {{ num_played_episodes_total }} {% trans "Episodes" %}
   </li>
   <li>{% trans "Played Last Month:" %}
    {% if seconds_played_month %}
     {{ seconds_played_month|format_duration }} /
    {% endif %}
    {{ num_played_episodes_month }} {% trans "Episodes" %}
   </li>
   <li>{% trans "Member Since:" %}
    {% if user.date_joined.year > 2000 %}
     {{ user.date_joined }}
    {% else %}
     {% trans "the early days" %}
    {% endif %}
   </li>
  </ul>
 </div>

{% endblock %}
