language: python

dist: xenial

python:
 - "3.6"
 - "3.7"
 - "3.6-dev"
 - "3.7-dev"
 - "nightly"
 - "pypy3"

services:
 - redis-server
 - postgresql

addons:
  postgresql: "10"

install:
 - pip install -r requirements.txt -r requirements-test.txt
 - pip install coveralls

before_script:
  - psql -c "ALTER USER travis WITH PASSWORD 'travis';"
  - psql -c 'create database mygpo_test;' -U postgres

script:
  - pytest --cov=mygpo/ --cov-branch

after_script:
  - coveralls

env:
 - DATABASE_URL="postgres://travis:travis@localhost/mygpo_test"
