Django==2.1.1
Babel==2.6.0
Pillow==5.3.0
celery[redis]==4.2.1
dj-database-url==0.5.0
django-redis-sessions==0.6.1
python3-memcached==1.51
feedparser==5.2.1
gunicorn==19.9.0
html2text==2018.1.9
markdown2==2.3.5
oauth2client==4.1.3
psycopg2cffi==2.8.1
python-dateutil==2.7.3
redis==2.10.6
django-celery-results==1.0.1
# django-celery-beat > 1.1.0
git+https://github.com/celery/django-celery-beat.git@feaf34e2c30e28273b03d754d50e9a1d9f1191c6#egg=django-celery-beat
requests==2.20.0
