feedparser
python-dateutil
flup
PIL
Babel
Django
markdown2
simplejson
restkit
couchdbkit
django_couchdb_utils>=0.3
-e git+https://github.com/gpodder/mygpo-feedservice.git#egg=mygpo-feedservice
celery
celery-redis
