Babel==2.1.1
Pillow==3.0.0
Django==1.9.2
celery==3.1.19
dj-database-url==0.3.0
django-redis-sessions==0.5.0
python3-memcached==1.51
feedparser==5.2.1
gunicorn==19.4.1
html2text==2015.11.4
markdown2==2.3.0
oauth2client==1.5.2
psycopg2==2.6.1
pyes==0.99.6
python-dateutil==2.4.2
redis==2.10.5
django-celery==3.1.17
requests==2.8.1
# module is not longer used but still imported in migrations
django-uuidfield==0.5.0
