{% extends "base.html" %}
{% load i18n %}
{% load charts %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/admin/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Admin Area" %}{% endblock %}

{% block header %}
 <h1>{% trans "User-Agent Statistics" %}</h1>
{% endblock %}

{% block content %}
  <table>
   <tr>
    <th>{% trans "#" %}</th>
    <th>{% trans "Client" %}</th>
    <th>{% trans "Version" %}</th>
    <th>{% trans "Library" %}</th>
    <th>{% trans "Version" %}</th>
    <th>{% trans "OS" %}</th>
    <th>{% trans "Version" %}</th>
    <th>{% trans "Number of Clients" %}</th>
   </tr>

   {% for client, users in clients %}
    <tr>
     <td class="numeric">{{ forloop.counter }}</td>
     {% if client|is_tuple %}
      <td>{{ client.client|default:"" }}</td>
      <td>{{ client.client_version|default:"" }}</td>
      <td>{{ client.lib|default:"" }}</td>
      <td>{{ client.lib_version|default:"" }}</td>
      <td>{{ client.os|default:"" }}</td>
      <td>{{ client.os_version|default:"" }}</td>
      <td>{{ users|vertical_bar:max_users|default:"" }}</td>
     {% else %}
      <td colspan="6">{{ client }}</td>
     {% endif %}
    </tr>
   {% endfor %}

   <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>{% trans "Total" %}</th>
    <th>{{ total }}</th>
   </tr>
  </table>


{% endblock %}

