{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/admin/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Merge Finished" %}{% endblock %}

{% block header %}
 {% if ready %}
  <h1>{% trans "Merge Finished" %}</h1>
 {% else %}
  <h1>{% trans "Merge Ongoing" %}
 {% endif %}
{% endblock %}

{% block content %}

 {% if ready %}

  <p>{% trans "The following actions were recorded:" %}
   <ul>
    {% for action, count in actions %}
     <li>{{ action }}: {{ count }}</li>
    {% endfor %}
   </ul>
  </p>

  <p>{% trans "Go to podcast" %} {% podcast_group_link podcast %}</p>
 {% else %}
  <p>{% trans "The operation is still ongoing..." %}</p>

  <a class="btn" href="">{% trans "Refresh" %}</a>
 {% endif %}

{% endblock %}

