{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/admin/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Admin Area" %}{% endblock %}

{% block content %}
 <h1>{% trans "Merge Podcasts and Episodes" %}</h1>

 <form method="post" action="{% url admin-merge-verify %}">
  {% csrf_token %}
  <table>
   {% for url in urls %}
    <tr>
     <th>Feed URL {{ forloop.counter }}</th>
     <td><input type="text" name="feed{{forloop.counter0}}" value="{{ url }}" /></td>
    </tr>
   {% endfor %}
   <tr>
    <td><input type="submit" value="OK" /></td>
   </tr>
  </table>
 </form>

{% endblock %}

