{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/admin/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Admin Area" %}{% endblock %}

{% block content %}
 <h1>{% trans "Admin Area" %}</h1>

 <ul>
  <li><a href="{% url admin-merge %}?podcasts=2">{% trans "Merge Podcasts and Episodes" %}</a></li>
  <li><a href="{% url clients %}">{% trans "Client Stats" %}</a> (<a href="{% url clients-json %}">{% trans "JSON" %}</a>)</li>
  <li><a href="{% url useragents %}">{% trans "User-Agent Stats" %}</a></li>
 </ul>

{% endblock %}

