{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/admin/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block head %}
 {% if not ready %}
  <meta http-equiv="refresh" content="10">
 {% endif %}
{% endblock %}

{% block title %}
 {% if ready %}
  {% trans "Operation Finished" %}
 {% else %}
  {% trans "Operation Ongoing" %}
 {% endif %}
{% endblock %}

{% block header %}
 <h1>
  {% if ready %}
   {% trans "Operation Finished" %}
  {% else %}
   {% trans "Operation Ongoing" %}
  {% endif %}
 </h1>
{% endblock %}

{% block content %}

 {% if ready %}

  <p>{% trans "The following actions were recorded:" %}
   <ul>
    {% for action, count in actions %}
     <li>{{ action }}: {{ count }}</li>
    {% empty %}
     <li><em>{% trans "none" %}</em></li>
    {% endfor %}
   </ul>
  </p>

  <p>{% trans "Go to podcast" %} {% podcast_group_link podcast %}</p>
 {% else %}
  <p>{% trans "The operation is still ongoing..." %}</p>

  <a class="btn" href="">{% trans "Refresh" %}</a>
 {% endif %}

{% endblock %}

