{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/admin/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Admin Area" %}{% endblock %}

{% block header %}
 <h1>{% trans "Merge Podcasts and Episodes" %}</h1>
{% endblock %}

{% block content %}
 <form method="post" action="{% url "admin-unify-slugs" %}">
  {% csrf_token %}
  <table>
    <tr>
     <th>Feed URL</th>
     <td><input type="text" name="feed" value="" /></td>
    </tr>
   <tr>
    <td><input type="submit" value="OK" /></td>
   </tr>
  </table>
 </form>

{% endblock %}

