{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Activate User" %}{% endblock %}

{% block header %}
 <h1>{% trans "Activate User" %}</h1>
{% endblock %}

{% block content %}
 <form class="form-horizontal" method="post" action="{% url "admin-activate-user" %}">
  {% csrf_token %}

  <div class="control-group">
   <label class="control-label" for="username">{% trans "Username" %}</label>
   <div class="controls">
    <input name="username" type="text" id="username" placeholder="Username">
   </div>
  </div>

  <div class="control-group">
   <label class="control-label" for="email">{% trans "Email" %}</label>
   <div class="controls">
    <input name="email" type="text" id="email" placeholder="Email">
   </div>
  </div>

  <div class="control-group">
   <div class="controls">
    <button type="submit" class="btn">{% trans "Activate" %}</button>
   </div>
  </div>
 </form>

{% endblock %}

