{% extends "base.html" %}
{% load i18n %}
{% load charts %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/admin/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "File Type Stats" %}{% endblock %}

{% block header %}
 <h1>{% trans "File Type Stats" %}</h1>
{% endblock %}

{% block content %}
  <table>
   <tr>
    <th>{% trans "#" %}</th>
    <th>{% trans "File Type" %}</th>
    <th>{% trans "Episode URLs" %}</th>
   </tr>

   {% for filetype, num in stats %}
    <tr>
     <td class="numeric">{{ forloop.counter }}</td>
     <td>{{ filetype }}</td>
     <td>{% vertical_bar num max_num %}</td>
    </tr>
   {% endfor %}

  </table>


{% endblock %}

