{% extends "base.html" %}
{% load i18n %}
{% load time %}
{% load podcasts %}

{% block title %}{% trans "Host Information" %}{% endblock %}

{% block header %}
 <h1>{% trans "Host Information" %}</h1>
{% endblock %}

{% block content %}

 <table class="list">

  <tr>
   <td><strong>{% trans "mygpo Version" %}</strong></td>
   <td>
    {% if git_commit %}
     <a href="https://github.com/gpodder/mygpo/commit/{{ git_commit }}">{{ git_commit }} {{ git_msg }}</a>
    {% else %}
     could not be determined &mdash; run <strong><tt>git show HEAD</tt></strong> in the base directory
    {% endif %}
   </td>
  </tr>

  <tr>
   <td><strong>{% trans "Base Directory" %}</strong></td>
   <td><tt>{{ base_dir }}</tt></td>
  </tr>

  <tr>
   <td><strong>{% trans "Hostname" %}</strong></td>
   <td><tt>{{ hostname }}</tt></td>
  </tr>

  <tr>
   <td><strong>{% trans "Django Version" %}</strong></td>
   <td><tt>{{ django_version|join:"." }}</tt></td>
  </tr>

  <tr>
   <td><strong>{% trans  "Feed Update Queue" %}</strong></td>
   <td>
    {% if feed_queue_status >= 0 %}
     {{ feed_queue_status|floatformat:0 }} {% trans "min ahead" %}
    {% else %}
     {{ feed_queue_status|floatformat:0 }} {% trans "min behind" %}
    {% endif %}
   </td>
  </tr>

  <tr>
   <td>
    <strong>
     {% trans "Number of podcasts with outdated search index" %}
    </strong>
   </td>
   <td class="numeric">{{ num_index_outdated }}</td>
  </tr>

  <tr>
   <td>
    <strong>
     {% trans "Average podcast update duration" %}
    </strong>
   </td>
   <td class="numeric">{{ avg_podcast_update_duration.total_seconds|format_duration}}</td>
  </tr>

  <tr>
   <td><strong>{% trans "Scheduled Celery Tasks" %}</strong></td>
   <td><tt>{{ num_celery_tasks }}</tt></td>
  </tr>

 </table>

{% endblock %}

