{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Publisher Permissions" %}{% endblock %}

{% block header %}
 <h1>{% trans "Publisher Permissions" %}</h1>
{% endblock %}

{% block content %}
 <form method="post" action="{% url "admin-make-publisher" %}" role="form">
  {% csrf_token %}
    <label for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username"/>
    <label for="feeds">Feed URLs</label>
    <textarea name="feeds" class="form-control" id="feeds"></textarea>
    <input class="btn btn-default" type="submit" value="OK" />
 </form>

{% endblock %}

