{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}
{% load episodes %}

{% load menu %}
{% block mainmenu %}{{ "/admin/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Admin Area" %}{% endblock %}

{% block header %}
 <h1>{% trans "Merge Podcasts and Episodes" %}</h1>

 <p>Merging Podcasts
  {% for podcast in podcasts %}
   {% podcast_link podcast %}
  {% endfor %}
 </p>
{% endblock %}

{% block content %}
 <div class="alert alert-info">
  {% trans "Episodes that have the same number will be merged. Please verify all your changes by clicking on 'Renew Groups' before starting the Merge." %}
 </div>

 <form method="post" action="{% url "admin-merge-process" task.pk %}">
  {% csrf_token %}

  {% for podcast in podcasts %}
   <input type="hidden" name="feed{{ forloop.counter0 }}" value="{{ podcast.url }}" />
  {% endfor %}

  <table>
   <tr>
    <th>#</th>
    {% for podcast in podcasts %}
     <th>{% podcast_link podcast %}</th>
    {% endfor %}
   </tr>

   {% for line in groups %}
    <tr>
     <th>{{ forloop.counter }}</th>

     {% for episode in line %}
     <td>
      {% if episode %}
        <input
          type="text"
          name="episode_{{ episode.get_id }}"
          value="{{ forloop.parentloop.counter }}"
          size="2"
         />
        {% episode_link episode episode.podcast %}<br />
      {% endif %}
     </td>
    {% endfor %}

    </tr>
   {% endfor %}

   <tr>
    <td></td>
    <td><button formaction="{% url "admin-merge-update" task.pk %}">Renew Groups</button></td>
    <td><button>Merge</button></td>
   </tr>

  </table>

 </form>


{% endblock %}

