{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Admin Area" %}{% endblock %}

{% block header %}
 <h1>{% trans "Merge Podcasts and Episodes" %}</h1>
{% endblock %}

{% block content %}
 <form method="post" action="{% url "admin-merge-verify" %}" role="form">
  {% csrf_token %}
   {% for url in urls %}
    <div class="form-group">
     <label for="feed{{forloop.counter0}}">Feed URL {{ forloop.counter }}</label>
     <input type="text" class="form-control" name="feed{{ forloop.counter0 }}" id="feed{{ forloop.counter0 }}" placeholder="" value="{{ url }}" {% if forloop.first %}autofocus="autofocus"{% endif %}>
    </div>
   {% endfor %}
    <input class="btn btn-default" type="submit" value="OK" />
 </form>

{% endblock %}

