{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/admin/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Admin Area" %}{% endblock %}

{% block header %}
 <h1>{% trans "Admin Area" %}</h1>
{% endblock %}

{% block content %}
 <ul class="icons">
  <li><i class="icon-stethoscope"></i> <a href="{% url "admin-hostinfo" %}">{% trans "Host Information" %}</a></li>
  <li><i class="icon-resize-small"></i> <a href="{% url "admin-merge" %}?podcasts=2">{% trans "Merge Podcasts and Episodes" %}</a></li>
  <li><i class="icon-resize-small"></i> <a href="{% url "admin-unify-slugs-select" %}">{% trans "Unify Duplicate Slugs" %}</a></li>
  <li><i class="icon-bar-chart"></i> <a href="{% url "clients" %}">{% trans "Client Stats" %}</a> (<a href="{% url "clients-json" %}">{% trans "JSON" %}</a>)</li>
  <li><i class="icon-bar-chart"></i> <a href="{% url "useragents" %}">{% trans "User-Agent Stats" %}</a></li>
  <li><i class="icon-bar-chart"></i> <a href="{% url "admin-filetypes" %}">{% trans "File Type Stats" %}</a></li>
  <li><i class="icon-signal"></i> <a href="{% url "stats" %}">{% trans "General Stats" %}</a> (<a href="{% url "stats-json" %}">{% trans "JSON" %}</a>)</li>
  <li><i class="icon-certificate"></i> <a href="{% url "admin-activate-user" %}">{% trans "Activate User" %}</a></li>
  <li><i class="icon-user"></i> <a href="{% url "admin-make-publisher-input" %}">{% trans "Assign Publisher Permissions" %}</a></li>
 </ul>

{% endblock %}

