{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/admin/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/admin/"|section_menu:"Admin" }}{% endblock %}

{% block title %}{% trans "Admin Area" %}{% endblock %}

{% block header %}
 <h1>{% trans "Merge Podcasts and Episodes" %}</h1>
{% endblock %}

{% block content %}
 <form method="post" class="form-inline" action="{% url "admin-unify-slugs" %}" role="form">
  {% csrf_token %}
  <div class="input-group">
   <span class="input-group-addon"><i class="icon-link"></i></span>
   <input type="text" class="form-control" name="feed" id="feed" value="" placeholder="Feed URL">
   <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">{% trans "OK" %}</button>
   </span>
  </div>
 </form>

{% endblock %}

