{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load episodes %}
{% load podcasts %}
{% load charts %}
{% load pcharts %}

{% load menu %}
{% block mainmenu %}{{ "/publisher/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/publisher/podcast/"|section_menu:podcast.title }}{% endblock %}

{% block title %}{{ episode.title|default:"Unnamed Episode"|striptags }}{% endblock %}

{% block head %}
 {% if timeline_data %}
  {{ timeline_data|timeline }}
 {% endif %}
{% endblock %}


{% block header %}
  {% if podcast.logo_url %}
   <div id="podcastlogo">
    <a href="{% podcast_link_target podcast "podcast-publisher-detail" %}">
     {{ podcast|podcast_logo_big }}
    </a>
   </div>
  {% endif %}

  <h1>{% if episode.title %}{{ episode.title|striptags }}{% else %}{% trans "Unnamed Episode" %}{%endif%} <small>{% trans "Publisher Pages" %}</small></h1>
  <small class="description">
      {% trans "from" %} {% podcast_group_link podcast %}&middot;
       {% if not episode.outdated or "hide-outdated-urls" not in podcast.restrictions %}
        <a href="{{episode.url}}" title="{% trans "Download" %}">
         <i class="icon-download"></i>
        </a>
       {% endif %}
       {% if episode.link and episode.link != episode.url %}&middot;
        <a href="{{episode.link}}" title="{% trans "Website" %}">
         <i class="icon-external-link"></i>
        </a>
      {% endif %}
      {% if episode.listeners %}&middot;
       {{ episode.listeners }} {% trans "listeners" %}
      {% endif %}
  </small>

{% endblock %}


{% block content %}

  <div class="btn-group">
   <a class="btn btn-default" href="{% podcast_link_target podcast "podcast-publisher-episodes" %}">{% trans "Episode List" %}</a>
   <a class="btn btn-default" href="{% podcast_link_target podcast "podcast-publisher-detail" %}">{% trans "Podcast Page" %}</a>
  </div>


 <h2>{% trans "URL" %}</h2>
 <p>{% trans "You can configure the URL of this episode. Previous keys will automatically be added to the alternative keys and always redirect to the current URL." %}</p>

 <form class="form-inline" action="{% episode_link_target episode podcast "publisher-set-episode-slug" %}" method="post">
  {% csrf_token %}
  <div class="form-group">
   <label for="slug">
    http{% if is_secure %}s{% endif %}://{{ domain }}/podcast/{{ podcast.slug }}/
   </label>
   <input class="input-sm" placeholder="{% get_id episode %}" type="text" value="{{ episode.slug|default:"" }}" name="slug"></input>
  </div>

  <button class="btn btn-default" type="submit">{% trans "Save" %}</button>
 </form>

 <strong>Alternative Keys</strong>
 <ul>
  {% for slug in episode.merged_slugs %}
   <li>{{ slug }}</li>
  {% empty %}
   <li><em>{% trans "none" %}</em></li>
  {% endfor %}
 </ul>



  <h2>{% trans "Episode data" %}</h2>
  <p>{% trans "Last update: " %} {{ episode.last_update|naturaltime }}</p>

  {% if timeline_data %}
   <h3>Listener Timeline</h3>
   <div id="chart_div" style="width: 700px; height: 240px;"></div>
  {% endif %}

  {% if heatmap %}
   <h3>Heatmap</h3>
   {{ heatmap|episode_heatmap_visualization }}
   <div>{% trans "Red parts are often skipped, green parts never." %}</div>
  {% endif %}

{% endblock %}

