{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load podcasts %}
{% load charts %}
{% load pcharts %}

{% load menu %}
{% block mainmenu %}{{ "/publisher/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/publisher/podcast/"|section_menu:group.title }}{% endblock %}

{% block title %}{{ group.title|striptags }}{% endblock %}

{% block head %}
  {% if timeline_data %}
   {{ timeline_data|timeline }}
  {% endif %}
{% endblock %}

{% block content %}

  <h1>{% trans "Publisher Pages:" %} {{ group.title|striptags }}</h1>

 <p>{% trans "This is a group of podcasts containing" %}
  <ul>
   {% for podcast in group.podcasts %}
    <li>
     <a href="{% podcast_link_target podcast "podcast-publisher-detail" %}">{{ podcast.title }} ({{ podcast.group_member_name }})</a>
    </li>
   {% endfor %}
  </ul>
 </p>

  {% if timeline_data %}
   <h3>Listener Timeline</h3>
   <div id="chart_div" style="width: 700px; height: 240px;"></div>
  {% endif %}


  {% if subscriber_data %}
   <h3>Subscriptions</h3>
   <p>Please note that the chart shows subscriptions per user and device, so a single user subscribing to this podcast on 5 devices acccounts for 5 subscriptions.</p>
   {{ subscriber_data|bar_chart }}
  {% endif %}

{% endblock %}

