{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/publisher/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/publisher/"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcasts Published by You" %}{% endblock %}

{% block content %}
 <h1>{% trans "Podcasts Published by You" %}</h1>

 {% if not podcasts|length_is:"0" %}
 <table class="list">
  <tr>
   <th>&nbsp;</th>
   <th>{% trans "Podcast" %}</th>
  </tr>

  {% for s in podcasts %}
   <tr>
    <td>{{ s|podcast_logo }}</td>
    <td><a class="listlink" href="{% podcast_link_target s "podcast-publisher-detail" %}">{{ s.display_title|striptags }}</a></td>
   </tr>
  {% endfor %}
  </table>
 {% endif %}

 {% if user.is_staff %}
  <form action="{% url podcast-publisher-search %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans "Go" %}" />
 </form>
 {% endif %}

{% endblock %}

