{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/publisher/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/publisher/"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcasts Published by Me" %}{% endblock %}

{% block header %}
 <h1>{% trans "Podcasts Published by Me" %}</h1>
{% endblock %}


{% block content %}

 {% if not podcasts|length_is:"0" %}
 <table class="list">

  {% for s in podcasts %}
   <tr>
    <td>{{ s|podcast_logo }}</td>
    <td><a class="listlink" href="{% podcast_link_target s "podcast-publisher-detail" %}">{{ s.display_title|striptags }}</a></td>
   </tr>
  {% endfor %}
  </table>
 {% endif %}

 {% if user.is_staff %}
  <div class="well">
   <h2>Staff Only</h2>
   <p>{% trans "Go to the publisher page of any podcast by entering its feed URL" %}</p>
   <form class="form-inline" action="{% url podcast-publisher-search %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn" type="submit" value="{% trans "Go" %}" />
   </form>
  </div>
 {% endif %}

{% endblock %}

