{% load charts %}
{% load episodes %}
{% load humanize %}
{% load i18n %}
{% load utils %}

{% comment %}
 renders a box describing an episode

 requires parameters:
  * episode
  * podcast
  * long

{% endcomment %}

<div class="episode">

 {% if episode.listeners %}
  <div class="listeners">
   {% vertical_bar episode.listeners max_listeners %}
  </div>
 {% endif %}

 <div class="header">
  <span class="number">
   {% episode_number episode podcast %}
  </span>

  <span class="title">
   {% episode_link episode podcast %}
  </span>

  <span class="released">
   {{ episode.released|naturalday|default:"" }}
  </span>

  <span class="status">
   {% if episode.action.action == "play" %}
    <i class="icon-play"></i>
   {% elif episode.action.action == "download" %}
    <i class="icon-download"></i>
   {% elif episode.action.action == "delete" %}
    <i class="icon-trash"></i>
   {% endif %}
  </span>
 </div>

 {% if long %}
  <div class="description" {% if episode.language or podcast.language %}lang="{% firstof episode.language podcast.language %}"{% endif %}>
   {{ episode.description|default:""|truncatewords:"100"|markdown }}
   <a href="{% episode_link_target episode podcast %}">more...</a>
  </div>
 {% endif %}

</div>
