{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}
{% load cache %}

{% load menu %}
{% block sectionmenu %}{{ "/directory/"|section_menu }}{% endblock %}

{% block head %}

<style language="text/css">
.carousel a,
.carousel
{
    color: white;
}

.carousel div.logo
{
    height: 65px;
    width: 65px;
}

.carousel div.logo img
{
    height: 64px;
    width: 64px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
}
</style>


    {% endblock %}

{% block title %}{% trans "Explore" %}{% endblock %}

{% block header %}
   <h1>{% trans "Explore" %}</h1>
{% endblock %}


{% block content %}

 {% cache 3600 carousel %}

    <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">

     {% for c in topics.categories %}

      <div class="item {% if forloop.first %}active{% endif %}" >

       <div style="height: 290px; overflow: hidden">
        {% for podcast in c.get_podcasts_more %}

         <div class="logo" style="float: left;">
          <a data-original-title="{{ podcast.title }}" href="{% podcast_link_target podcast %}" rel="tooltip" data-placement="bottom">
           {{ podcast|podcast_logo_medium }}
          </a>
         </div>

       {% endfor %}
      </div>

        <br style="clear: both;" />

        <div class="carousel-caption">
          <h4>{{ c.label }}</h4>
          {% for podcast in c.get_podcasts|slice:":5" %}
           {% podcast_group_link podcast %},
          {% endfor %}
          <a href="{% url "directory" c.label %}">{% trans "..." %}</a>
        </div>
      </div>

     {% endfor %}

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

 {% endcache %}


{% endblock %}



{% block javascript %}

    <script type="text/javascript">

$(document).ready(function () {
    if ($("[rel=tooltip]").length) {
        $("[rel=tooltip]").tooltip();
    }
});

</script>

{% endblock %}
