{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% block title %}{{ category }}{% endblock %}

{% block header %}
 <h1>{{ category }}</h1>
{% endblock %}


{% block content %}

 <table class="list">
  <tr>
   <th></th>
   <th></th>
   <th></th>
  </tr>
  {% for entry in entries %}
   <tr>
    <td class="logo">{{ entry.podcast|podcast_logo}}</td>
    <td>{% podcast_group_link entry.podcast %}</td>
    <td class="description">
     {{ entry.podcast.description|truncatewords:15 }}
    </td>
   </tr>
  {% endfor %}
 </table>

 <ul class="pagination">
 {% if entries.has_previous %}
  <li><a href="{% url "directory" category %}?page={{ entries.previous_page_number }}">«</a></li>
 {% endif %}

 {% for page in page_list %}
  <li>
   {% if page == "..." %}
    <span>{{ page }}</span>
   {% else %}

     {% if page == entries.number %}
      <strong>{{ page }}</strong>
     {% else %}
      <a href="{% url "directory" category %}?page={{ page }}">{{ page }}</a>
     {% endif %}
   {% endif %}
  </li>
 {% endfor %}

 {% if entries.has_next %}
  <li>
  <a href="{% url "directory" category %}?page={{ entries.next_page_number }}">»</a>
  </li>
 {% endif %}
 </ul>

{% endblock %}

