{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/directory/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/directory/"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcast Directory" %}{% endblock %}

{% block header %}
   <h1>{% trans "Podcast Directory" %}</h1>
{% endblock %}


{% block content %}
  {% for c in topics.categories %}

   {% if forloop.counter0|divisibleby:"2" %}
    <div class="row">
   {% endif %}

   <div class="col-md-6">
    {% if c.cls == "PodcastList" %}
     {% url "user" c.username as user-lists-url %}
     <h2>{% blocktrans with c.title as listtitle and c.username as username %}{{ listtitle }} <span class="by-user">by <a href="{{ user-lists-url }}">{{ username }}</a></span>{% endblocktrans %}</h2>
    {% else %}
     <h2>{{ c.title }}</h2>
    {% endif %}

    <table class="list">
     {% for entry in c.podcasts|slice:":10" %}
      <tr>
       <td class="logo">{{ entry.podcast|podcast_logo }}</td>
       <td>{% podcast_group_link entry.podcast %}</td>
      </tr>
     {% endfor %}
     <tr>
      <td></td>
      <td>
       {% if c.cls == "PodcastList" %}
        <a href="{% url "list-show" c.username c.slug %}">{% trans "more..." %}</a>
       {% else %}
        <a href="{% url "directory" c.clean_title %}">{% trans "more..." %}</a>
       {% endif %}
      <td></td>
     </tr>
    </table>
   </div>

   {% if forloop.counter|divisibleby:"2" %}
    </div>
   {% endif %}

  {% endfor %}

  <hr style="clear: both;"/>

  <div id="tagcloud">
   {% for category in topics.tagcloud %}
    <span style="font-size: {% smartwidthratio category.num_entries topics.min_entries topics.max_entries 4 1 %}em">
     <a href="{% url "directory" category.clean_title %}">{{ category.title }}</a>
    </span>
   {% endfor %}
  </div>
{% endblock %}


{% block sidebar %}

 {% include "podcast-ad-box.html" with podcast_ad=podcast_ad only %}


  {% for podcastlist in podcastlists %}
   {% if podcastlist and podcastlist.user.username %}
    <div class="well">
     <h4>
      <a href="{% url "list-show" podcastlist.user.username podcastlist.slug %}">
       {{ podcastlist.title }}
      </a>
      <small>{% trans "Podcast List by" %}
       <a href="{% url "lists-user" podcastlist.user.username %}">
        {{ podcastlist.user.username }}
       </a>
      </small>
     </h4>

     <div class="logo-group">
      {% for podcast in podcastlist.podcasts %}

       <a href="{% podcast_link_target podcast %}">
        {{ podcast|podcast_logo }}
       </a>

      {% endfor %}

      {% if podcastlist.more_podcasts %}
       {% blocktrans with podcastlist.more_podcasts as more %}and {{ more }} more{% endblocktrans %}
      {% endif %}
     </div>

     <div class="btn-group">
      <a class="btn btn-primary" href="{% url "lists-overview" %}">
      {% trans "Create a Podcast List" %}
     </a>
     </div>

   </div>
   {% endif %}
  {% endfor %}

 {% if random_podcast %}
   <div class="well">

   <h4><small>{% trans "Random" %}</small></h4>


   <a href="{% podcast_link_target random_podcast %}">
    <div id="podcastlogo">{{ random_podcast|podcast_logo_medium }}</div>
   </a>

   <h4>{{ random_podcast.title }}</h4>

   <p class="description">
    {{ random_podcast.description|default:""|truncatewords:"50" }}
   </p>

   <p>
    <a href="{% podcast_link_target random_podcast %}">{% trans "more..." %}</a>
   </p>

   </div>
 {% endif %}

{% endblock %}

