{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}
{% block sectionmenu %}{{ "/directory/"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcast Directory" %}{% endblock %}

{% block header %}
   <h1>{% trans "Podcast Directory" %}</h1>
{% endblock %}


{% block content %}

 <div class="categories">

  {% for c in topics.categories %}
   <div>
    <h2>{{ c.title }}</h2>
    <table class="list">
     {% for entry in c.podcasts|slice:":10" %}
      <tr>
       <td class="logo">{{ entry.podcast|podcast_logo }}</td>
       <td>{% podcast_group_link entry.podcast %}</td>
      </tr>
     {% endfor %}
     <tr>
      <td></td>
      <td>
       <a href="{% url "directory" c.clean_title %}">{% trans "more..." %}</a>
      <td></td>
     </tr>
    </table>
   </div>
  {% endfor %}

  {% if podcast_ad %}
   <div class="ad">
    {% include "podcast-ad-box.html" with podcast_ad=podcast_ad only %}
   </div>
  {% endif %}

  {% for pl in podcastlists %}
   <div>
    <h2>{{ pl.title }}
    {% url "user" pl.user.username as user_lists_url %}
    <span class="by-user">{% trans "by" %} <a href="{{ user_lists_url }}">{{ pl.user.username }}</a></span>
    </h2>

    <table class="list">
     {% for entry in pl.entries.all|slice:":10" %}
      <tr>
       <td class="logo">{{ entry.podcast|podcast_logo }}</td>
       <td>{% podcast_group_link entry.podcast %}</td>
      </tr>
     {% endfor %}
     <tr>
      <td></td>
      <td>
       <a href="{% url "list-show" pl.user.username pl.slug %}">{% trans "more..." %}</a>
      <td></td>
     </tr>
    </table>
   </div>
  {% endfor %}


 </div>

  <hr style="clear: both;"/>

  <div id="tagcloud">
   {% for category in topics.tagcloud %}
    <span style="font-size: {% smartwidthratio category.num_entries topics.min_entries topics.max_entries 4 1 %}em">
     <a href="{% url "directory" category.clean_title %}">{{ category.title }}</a>
    </span>
   {% endfor %}
  </div>
{% endblock %}
