{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}
{% load episodes %}
{% load charts %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/toplist/episodes"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/toplist/episodes"|section_menu }}{% endblock %}

{% block title %}{% trans "Episode-Toplist" %}{% endblock %}

{% block header %}
   <h1>{% trans "Episode-Toplist" %}</h1>
{% endblock %}

{% block content %}

  <table class="list episode_list">
   <tr>
    <th></th>
    <th></th>
    <th>{% trans "Episode" %}</th>
    <th>{% trans "Listeners" %}</th>
   </tr>
  {% for entry in entries %}
   <tr>
    <td class="numeric toplist-pos">
     {% ifchanged entry.listeners %}
      {{ forloop.counter }}
     {% endifchanged %}
    </td>
    <td class="logo">{{ entry.podcast|podcast_logo }}</td>
    <td>
     {% episode_link entry entry.podcast %}<br/>
     <span class="from_podcast">{% podcast_group_link entry.podcast %}</span>
    </td>
    <td>{{ entry.listeners|vertical_bar:max_listeners }}</td>
   </tr>
  {% empty %}
   <tr>
    <td colspan="4">
     {% trans "Currently not available" %}
    </td>
   </tr>
  {% endfor %}
  </table>

{% endblock %}


{% block sidebar %}

  <div class="well">
   <h3>{% trans "Language" %}</h3>
    <form class="form-inline" action="{% url episode-toplist %}" method="get">
     <select class="input-medium" name="lang">
      {% if language == "" %}
       <option selected="selected" value="">{% trans "all" %}</option>
      {% else %}
       <option value="">{% trans "all" %}</option>
      {% endif %}

      {% for key, name in all_languages.iteritems %}
       {% if language == key %}
        <option selected="selected" value="{{ key }}">{{ name }}</option>
       {% else %}
        <option value="{{ key }}">{{ name }}</option>
       {% endif %}
      {% endfor %}
     </select>
     <input class="btn btn-primary" type="submit" value="{% trans "OK" %}" />
    </form>

</div>

{% endblock %}
