{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/toplist/episodes"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/toplist/episodes"|section_menu }}{% endblock %}

{% block head %}
 <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
 <script type="text/javascript">
    $(document).ready(function()
    {
        $(".config-toplist").hide();
        $("#open-config").click(function()
        {
            $(".config-toplist").slideToggle(500);
        });
    });
 </script>
{% endblock head %}

{% block title %}{% trans "Episode-Toplist" %}{% endblock %}

{% block content %}
  <h1>{% trans "Episode-Toplist" %}</h1>

  <p>
   {% if languages|length_is:"0" %}
    {% blocktrans with entries|length as count and types|join:", " as media_types %}These are the {{ count }} most listened {{ media_types }} episodes of the last seven days of all languages.{% endblocktrans %}
   {% else %}
    {% blocktrans with entries|length as count and all_languages|lookup_list:languages|join:", " as lang and types|join:", " as media_types %}The are the {{ count }} most listened {{ media_types }} episodes of the last seven days for the languages {{ lang }}.{% endblocktrans %}
   {% endif %}
   <a href="#" id="open-config">({% trans "change"%})</a>
  </p>

 <div class="config-toplist">
  <h3>{% trans "Languages" %}</h3>
  {% if languages|length_is:"0" %}
   <div>{% trans "Currently showing all languages." %}<br />
    {% trans "Show a specific one:" %}
    <form action="{% url episode-toplist %}?lang={{ languages|join:"," }}" method="post">
     {% csrf_token %}
     <select name="lang">
      {% for key, name in all_languages.iteritems %}
       <option value="{{ key }}">{{ name }}</option>
      {% endfor %}
     </select>
     <input type="submit" value="{% trans "Show" %}" />
    </form>
   </div>
  {% else %}
   <div>{% trans "Remove a language" %}
    <ul>
     {% for lang in languages %}
      <li>
       <a href="{% url episode-toplist %}?lang={{ languages|remove:lang|join:"," }}&types={{ types|join:"," }}">{{ all_languages|lookup:lang }}</a>
      </li>
     {% endfor %}
    </ul>
    <form action="{% url episode-toplist %}?lang={{ languages|join:"," }}&types={{ types|join:"," }}" method="post">
     {% csrf_token %}
     <select name="lang">
      {% for key, name in all_languages.iteritems %}
       {% if not key in languages %}
        <option value="{{ key }}">{{ name }}</option>
       {% endif %}
      {% endfor %}
     </select>
     <input type="submit" value="{% trans "Add" %}" />
    </form>
    {% url episode-toplist as episode-toplist-url %}
    {% blocktrans with types|join:"," as type_param %}or show <a href="{{ episode-toplist-url }}?lang=&types={{ type_param }}">all languages</a>.{% endblocktrans %}
   </div>
  {% endif %}
 </div>

 <div class="config-toplist">
  <h3>Media Types</h3>
  {% for type in all_types %}
   {% if type in types %}
    <a class="activated" href="{% url episode-toplist %}?lang={{ languages|join:"," }}&types={{ types|remove:type|join:"," }} ">{{ type }}</a>
   {% else %}
    <a class="deactivated" href="{% url episode-toplist %}?lang={{ languages|join:"," }}&types={{ types|append:type|join:"," }}">{{ type }}</a>
   {% endif %}
  {% endfor %}
 </div>


  <table class="list episode_list">
   <tr>
    <th></th>
    <th></th>
    <th>{% trans "Episode" %}</th>
    <th>{% trans "Listeners" %}</th>
   </tr>
  {% for entry in entries %}
   <tr>
    <td class="numeric toplist-pos">
     {% ifchanged entry.listeners %}
      {{ forloop.counter }}
     {% endifchanged %}
    </td>
    <td>{{ entry.episode.podcast|podcast_logo }}</td>
    <td><a href="{% url episode entry.episode.id %}">
     {% if entry.episode.title %}
      {{ entry.episode.title|striptags }}
     {% else %}
      {% trans "Unnamed Episode" %}
     {% endif %}
     </a><br/>
     <span class="from_podcast">{% trans "from" %} {% podcast_group_link entry.episode.podcast %}</td>
    <td>{{ entry.listeners|vertical_bar:max_listeners }}</td>
   </tr>
  {% endfor %}
  </table>

  <div class="info"><strong>{% trans "You think that's not much?" %}</strong> {% blocktrans %}You're right - the listener counts are still pretty low, because they are only counted for users of gPodder 2.2 or later, which is rather new. So <a href="http://gpodder.org/downloads.html">get it</a>, if you don't have it already.{% endblocktrans %}</div>
{% endblock %}
