{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/directory/+flattr"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/directory/+flattr"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcasts using Flattr" %}{% endblock %}

{% block header %}
   <h1>{% trans "Podcasts using Flattr" %}</h1>
{% endblock %}

{% block content %}
  <p>{% blocktrans %}These podcasts use <a href="https://flattr.com/">Flattr</a>. You can support them by flattring their episodes.{% endblocktrans %}</p>
  <table class="list">
   <tr>
    <th></th>
    <th>{% trans "Podcast" %}</th>
    <th>{% trans "Subscribers" %}</th>
   </tr>
  {% for podcast in podcasts %}
   <tr>
    <td class="logo">{{ podcast|podcast_logo }}</td>
    <td>
     {% podcast_group_link podcast %}
    </td>
    <td>{% vertical_bar podcast.subscriber_count view.max_subscribers %}</td>
   </tr>
  {% empty %}
   <tr>
    <td colspan="5">
     {% trans "Currently not available" %}
    </td>
   </tr>
  {% endfor %}
  </table>

  <ul class="pagination">
 {% for page in view.page_list %}
  <li>
   {% if page == "..." %}
    <span>{{ page }}</span>
   {% else %}

     {% if page == current_page %}
      <a href="{% url "flattr-podcasts" %}?page={{ page }}"><strong>{{ page }}</strong></a>
     {% else %}
      <a href="{% url "flattr-podcasts" %}?page={{ page }}">{{ page }}</a>
     {% endif %}
   {% endif %}
  </li>
 {% endfor %}
 </ul>

{% endblock %}


{% block sidebar %}

 {% if not flattr_auth %}
  <div class="well">
   <h4>{% trans "Login to Flattr" %}</h4>

   <p>{% trans "You have to login to Flattr to use the Flattr features." %}</p>
   <a href="{% url "account" %}#flattr" class="btn btn-primary">{% trans "Flattr Settings" %}</a>
 </div>
 {% endif %}

{% endblock %}
