{% extends 'base.html' %}

{% load i18n %}
{% load podcasts %}
{% load charts %}

{% load menu %}
{% block mainmenu %}{{ "/missing/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/missing/"|section_menu }}{% endblock %}

{% block title %}{% trans "Missing Podcast" %}{% endblock %}

{% block header %}
<h1>{% trans "Missing Podcast" %}</h1>
{% endblock %}


{% block content %}

 <p>{% blocktrans with site as sitename %}If you're missing a podcast on {{ sitename }}, please enter its feed URL here{% endblocktrans %}</p>

  <form class="form" method="get" action="{% url "missing-podcast" %}" class="search">
   <div class="input-group">
    <span class="input-group-addon"><i class="icon-search"></i></span>
    <input class="form-control" type="text" placeholder="Podcast Feed URL" name="q" {% if q %}value="{{ q }}"{% endif %} >
    <span class="input-group-btn">
     <button class="btn btn-primary" type="submit">{% trans "Check" %}</button>
    </span>
   </div>
  </form>

 {% if q %}

  {% if podcast %}

   <p>{% trans "The podcast already exists" %}</p>
   <div class="result">
     {{ podcast|podcast_logo }}
     {% podcast_group_link podcast %}
   </div>

  {% else %}

   {% if can_add %}

    <form action="{% url "add-podcast" %}" method="post">
     {% csrf_token %}
     <input type="hidden" name="url" value="{{ q }}">
     <button class="btn btn-primary" type="submit">{% trans "Add Podcast" %}</button>
    </form>

   {% endif %}

  {% endif %}

 {% endif %}

{% endblock %}
