{% extends 'base.html' %}

{% load i18n %}
{% load podcasts %}
{% load charts %}

{% load menu %}
{% block mainmenu %}{{ "/search/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/search/"|section_menu }}{% endblock %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block header %}
<h1>{% trans "Search" %}</h1>
{% endblock %}


{% block content %}

  <form class="form-inline" method="get" action="{% url "search" %}" class="search">
   <div class="input-group">
    <span class="input-group-addon"><i class="icon-search"></i></span>
    <input class="form-control" type="text" name="q" {% if q %}value="{{ q }}"{% endif %} placeholder="{% trans "Search term or feed URL" %}" autofocus="autofocus">
    <span class="input-group-btn">
     <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
    </span>
   </div>
  </form>

 {% if q %}
  {% if results %}
   <table class="list">
    <tr>
     <th></th>
     <th>{% trans "Podcast" %}</th>
     <th>{% trans "Subscribers" %}</th>
    </tr>

    {% for podcast in results %}
     <tr>
      <td class="logo">{{ podcast|podcast_logo }}</td>
      <td>{% podcast_group_link podcast %}</td>
      <td>{% vertical_bar podcast.subscriber_count max_subscribers %}</td>
     </tr>
    {% endfor %}
   </table>

<div class="pagination pagination-centered">
 <ul>
 {% if results.has_previous %}
  <li>
  <a href="{% url "search" %}?q={{ q }}&page={{ results.previous_page_number }}">«</a>
  </li>
 {% endif %}

 {% for page in page_list %}
  <li>
   {% if page == "..." %}
    <span>{{ page }}</span>
   {% else %}

     {% if page == results.number %}
      <strong>{{ page }}</strong>
     {% else %}
      <a href="{% url "search" %}?q={{ q }}&page={{ page }}">{{ page }}</a>
     {% endif %}
   {% endif %}
  </li>
 {% endfor %}

 {% if results.has_next %}
  <li>
  <a href="{% url "search" %}?q={{ q }}&page={{ results.next_page_number }}">»</a>
  </li>
 {% endif %}
 </ul>
</div>

  {% else %}

   <div>{% trans "Nothing found" %}</div>

  {% endif %}

 {% endif %}

{% endblock %}


{% block sidebar %}

  <div class="well">
   <h4>{% trans "Search API" %}</h4>
   <p>{% trans "Access the following address to search for <em>tech</em> podcasts." %}</p>
   <a href="/search.opml?q=tech">
    <pre>http://{{domain}}/search.opml?q=tech</pre>
   </a>
  </div>
{% endblock %}

