{% extends 'base.html' %}

{% load i18n %}
{% load podcasts %}
{% load charts %}

{% load menu %}
{% block mainmenu %}{{ "/search/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/search/"|section_menu }}{% endblock %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
<h2>{% trans "Search" %}</h2>

<form method="get" action="{% url search %}" class="search">
 <input type="text" name="q" {% if q %}value="{{ q }}"{% endif %} >
 <input type="submit" value="Search">
</form>

 {% if q %}
  {% if results %}
   <h3>{% trans "Results" %}</h3>

   <table class="list">
    <tr>
     <th></th>
     <th>{% trans "Podcast" %}</th>
     <th>{% trans "Subscribers" %}</th>
    </tr>

    {% for podcast in results %}
     <tr>
      <td>{{ podcast|podcast_logo }}</td>
      <td>{% podcast_group_link podcast %}</td>
      <td>{% vertical_bar podcast.subscriber_count max_subscribers %}</td>
     </tr>
    {% endfor %}
   </table>

<div class="pagination">

 {% if results.has_previous %}
  <a href="{% url search %}?q={{ q }}&page={{ results.previous_page_number }}">«</a>
 {% endif %}

 {% for page in page_list %}
  <span class="page-link">
   {% if page == "..." %}
    {{ page }}
   {% else %}

     {% if page == results.number %}
      <strong>{{ page }}</strong>
     {% else %}
      <a href="{% url search %}?q={{ q }}&page={{ page }}">{{ page }}</a>
     {% endif %}
   {% endif %}
  </span>
 {% endfor %}

 {% if results.has_next %}
  <a href="{% url search %}?q={{ q }}&page={{ results.next_page_number }}">»</a>
 {% endif %}

</div>

  {% else %}

   <div>{% trans "Nothing found" %}</div>

  {% endif %}

 {% endif %}
{% endblock %}

