{% extends 'base.html' %}

{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/search/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/search/"|section_menu }}{% endblock %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
<h2>{% trans "Search" %}</h2>

<form method="get" action="{% url search %}" class="search">
 <input type="text" name="q" {% if q %}value="{{ q }}"{% endif %} >
 <input type="submit" value="Search">
</form>

 {% if q %}
  <h3>{% trans "Results" %}</h3>

  <table class="list">
   <tr>
    <th></th>
    <th></th>
   </tr>

   {% for result in results %}
    <tr>
     {% if result|is_podcast %}
       <td>{{ result|podcast_logo }}</td>
       <td>
        <a class="podcast" href="{% url podcast result.oldid %}">{{ result.display_title }}</a><br />
        <span class="listlink description">{{ result.description|default:""|striptags|truncatewords:"15" }}</span>
       </td>
     {% else %}
      <td>{{ result|podcast_logo }}</td>
      <td>
       {{result.display_title|striptags}}
       (
        {% for p in result.podcasts %}
         <a href="{% url podcast p.oldid %}">{{ p.group_member_name|striptags }}</a>
        {% endfor %}
       )
     {% endif %}
    </tr>
   {% endfor %}
  </table>

<div class="pagination">

 {% if results.has_previous %}
  <a href="{% url search %}?q={{ q }}&page={{ results.previous_page_number }}">«</a>
 {% endif %}

 {% for page in page_list %}
  <span class="page-link">
   {% if page == "..." %}
    {{ page }}
   {% else %}

     {% if page == results.number %}
      <strong>{{ page }}</strong>
     {% else %}
      <a href="{% url search %}?q={{ q }}&page={{ page }}">{{ page }}</a>
     {% endif %}
   {% endif %}
  </span>
 {% endfor %}

 {% if results.has_next %}
  <a href="{% url search %}?q={{ q }}&page={{ results.next_page_number }}">»</a>
 {% endif %}

</div>

 {% endif %}
{% endblock %}

