{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}
{% load static %}

{% load menu %}
{% block mainmenu %}{{ "/toplist/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/toplist/"|section_menu }}{% endblock %}

{% block title %}{% trans "Toplist" %}{% endblock %}

{% block header %}
   <h1>{% trans "Toplist" %}</h1>
{% endblock %}

{% block content %}
  <table class="list">
   <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>{% trans "Podcast" %}</th>
    <th>{% trans "Subscribers" %}</th>
   </tr>
  {% for oldpos, podcast in entries %}
   <tr>
    <td class="numeric toplist-pos">
     {% ifchanged podcast.subscriber_count %}
      {{ forloop.counter }}
     {% endifchanged %}
    </td>
    <td class="oldposition">
     {% if oldpos %}
      {% if oldpos|subtract:forloop.counter %}
       {{ oldpos|subtract:forloop.counter|format_diff }}
      {% endif %}
     {% else %}
      <img src="{% static "charts-new.png" %}" alt="new">
     {% endif %}
    </td>
    <td class="logo">{{ podcast|podcast_logo }}</td>
    <td>
     {% podcast_group_link podcast %}
    </td>
    <td>{% vertical_bar podcast.subscriber_count max_subscribers %}</td>
   </tr>
  {% empty %}
   <tr>
    <td colspan="5">
     {% trans "Currently not available" %}
    </td>
   </tr>
  {% endfor %}
  </table>

{% endblock %}


{% block sidebar %}

   <div class="well">

  <h4>{% trans "Language" %}</h4>
    <form class="form-inline" action="{% url "toplist" %}" method="get">

     <div class="form-group">
      <label class="sr-only" for="lang">{% trans "Language" %}</label>
      <select class="form-control input-md" name="lang">

      {% if language == "" %}
       <option selected="selected" value="">{% trans "all" %}</option>
      {% else %}
       <option value="">{% trans "all" %}</option>
      {% endif %}


      {% for key, name in all_languages.iteritems %}
       {% if language == key %}
        <option selected="selected" value="{{ key }}">{{ name }}</option>
       {% else %}
        <option value="{{ key }}">{{ name }}</option>
       {% endif %}
      {% endfor %}
     </select>
    </div>
     <button class="btn btn-primary btn-md" type="submit">{% trans "OK" %}</button>
    </form>
  </div>

   <div class="well">
   <h4>{% trans "Client Access" %}</h4>

    <p>Access <a href="{% url "toplist-opml" 30 "opml" %}">http://{{ url }}{% url "toplist-opml" 30 "opml" %}</a> for the Top-30.</p>
 </div>

{% endblock %}
