{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/toplist/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/toplist/"|section_menu }}{% endblock %}

{% block title %}{% trans "Toplist" %}{% endblock %}

{% block content %}
 <div class="row-fluid">
  <div class="span12">
   <h1>{% trans "Toplist" %}</h1>
  </div>
 </div>

 <div class="row-fluid">
  <div class="span8">

  <table class="list">
   <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>{% trans "Podcast" %}</th>
    <th>{% trans "Subscribers" %}</th>
   </tr>
  {% for oldpos, podcast in entries %}
   <tr>
    <td class="numeric toplist-pos">
     {% ifchanged podcast.subscriber_count %}
      {{ forloop.counter }}
     {% endifchanged %}
    </td>
    <td class="oldposition">
     {% if oldpos %}
      {% if oldpos|subtract:forloop.counter %}
       {{ oldpos|subtract:forloop.counter|format_diff }}
      {% endif %}
     {% else %}
      <img src="/media/charts-new.png" alt="new">
     {% endif %}
    </td>
    <td class="logo">{{ podcast|podcast_logo }}</td>
    <td>
     {% podcast_group_link podcast %}
    </td>
    <td>{{ podcast.subscriber_count|vertical_bar:max_subscribers }}</td>
   </tr>
  {% empty %}
   <tr>
    <td colspan="5">
     {% trans "Currently not available" %}
    </td>
   </tr>
  {% endfor %}
  </table>

 </div>

 <div class="span4">

  <div class="row-fluid">
   <div class="span12 well">

  <h3>{% trans "Language" %}</h3>
    <form class="form-inline" action="{% url toplist %}" method="get">
     <select class="input-medium" name="lang">

      {% if language == "" %}
       <option selected="selected" value="">{% trans "all" %}</option>
      {% else %}
       <option value="">{% trans "all" %}</option>
      {% endif %}


      {% for key, name in all_languages.iteritems %}
       {% if language == key %}
        <option selected="selected" value="{{ key }}">{{ name }}</option>
       {% else %}
        <option value="{{ key }}">{{ name }}</option>
       {% endif %}
      {% endfor %}
     </select>
     <input class="btn btn-primary" type="submit" value="{% trans "OK" %}" />
    </form>
  </div>
  </div>

  <div class="row-fluid">
   <div class="span12 well">
   <h3>{% trans "Client Access" %}</h3>

    <p>Access <a href="{% url toplist-opml 30 "opml" %}">http://{{ url }}{% url toplist-opml 30 "opml" %}</a> for the Top-30.</p>
  </div>
  </div>
 </div>
 </div>

{% endblock %}
