{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/toplist/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/toplist/"|section_menu }}{% endblock %}

{% block head %}
 <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
 <script type="text/javascript">
    $(document).ready(function()
    {
        $(".config-toplist").hide();
        $("#open-config").click(function()
        {
            $(".config-toplist").slideToggle(500);
        });
    });
 </script>
{% endblock head %}

{% block title %}{% trans "Toplist" %}{% endblock %}

{% block content %}
  <h1>{% trans "Toplist" %}</h1>

  <p>
   {% if languages|length_is:"0" %}
    {% blocktrans with entries|length as count and types|join:", " as media_types %}These are the {{ count }} most subscribed {{ media_types }} podcasts of all languages.{% endblocktrans %}
   {% else %}
    {% blocktrans with entries|length as count and all_languages|lookup_list:languages|join:", " as lang and types|join:", " as media_types %}These are the {{ count }} most subscribed {{ media_types }} podcasts for the languages {{ lang }}.{% endblocktrans %}
   {% endif %}
   <a href="#" id="open-config">({% trans "change"%})</a>
  </p>

 <div class="config-toplist">
  <h3>{% trans "Languages" %}</h3>
  {% if languages|length_is:"0" %}
   <div>{% trans "Currently showing all languages." %}<br />
    {% trans "Show a specific one:" %}
    <form action="{% url toplist %}?lang={{ languages|join:"," }}&types={{ types|join:"," }}" method="post">
     {% csrf_token %}
     <select name="lang">
      {% for key, name in all_languages.iteritems %}
       <option value="{{ key }}">{{ name }}</option>
      {% endfor %}
     </select>
     <input type="submit" value="{% trans "Show" %}" />
    </form>
   </div>
  {% else %}
   <div>{% trans "Remove a language" %}
    <ul>
     {% for lang in languages %}
      <li>
       <a href="{% url toplist %}?lang={{ languages|remove:lang|join:"," }}&types={{ types|join:"," }}">{{ all_languages|lookup:lang }}</a>
      </li>
     {% endfor %}
    </ul>
    <form action="{% url toplist %}?lang={{ languages|join:"," }}&types={{ types|join:"," }}" method="post">
     {% csrf_token %}
     <select name="lang">
      {% for key, name in all_languages.iteritems %}
       {% if not key in languages %}
        <option value="{{ key }}">{{ name }}</option>
       {% endif %}
      {% endfor %}
     </select>
     <input type="submit" value="{% trans "Add" %}" />
    </form>

    {% url toplist as toplist-url %}
    {% blocktrans with types|join:"," as type_param %}or show <a href="{{ toplist-url }}?lang=&types={{ type_param }}">all languages</a>.{% endblocktrans %}
   </div>
  {% endif %}
 </div>

 <div class="config-toplist">
  <h3>Media Types</h3>
  {% for type in all_types %}
   {% if type in types %}
    <a class="activated" href="{% url toplist %}?lang={{ languages|join:"," }}&types={{ types|remove:type|join:"," }} ">{{ type }}</a>
   {% else %}
    <a class="deactivated" href="{% url toplist %}?lang={{ languages|join:"," }}&types={{ types|append:type|join:"," }}">{{ type }}</a>
   {% endif %}
  {% endfor %}
 </div>

  <table class="list">
   <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>{% trans "Podcast" %}</th>
    <th>{% trans "Subscribers" %}</th>
   </tr>
  {% for oldpos, podcast in entries %}
   <tr>
    <td class="numeric toplist-pos">
     {% ifchanged podcast.subscriber_count %}
      {{ forloop.counter }}
     {% endifchanged %}
    </td>
    <td class="oldposition">
     {% if oldpos %}
      {% if oldpos|subtract:forloop.counter %}
       {{ oldpos|subtract:forloop.counter|format_diff }}
      {% endif %}
     {% else %}
      <img src="/media/charts-new.png" alt="new">
     {% endif %}
    </td>
    <td>
     {{ podcast|podcast_logo }}
    </td>
    <td>
     {% podcast_group_link podcast %}
    </td>
    <td>{% vertical_bar podcast.subscriber_count max_subscribers %}</td>
   </tr>
  {% endfor %}
  </table>

  <div class="info"><strong>Get the toplist from your Client</strong>! Access <a href="{% url toplist-opml 30 "opml" %}">http://{{ url }}{% url toplist-opml 30 "opml" %}</a> for the Top-30.</div>
{% endblock %}
