{% extends "base.html" %}
{% load i18n %}
{% load devices %}
{% load episodes %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/subscriptions/"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcast Subscriptions" %}{% endblock %}


{% block header %}
 <h1>{% trans "Podcast Subscriptions" %}</h1>
{% endblock %}


{% block content %}

 <table class="list podcast_list">

  {% for s in subscriptionlist %}
   <tr>
    <td class="logo">
     <a href="{% podcast_link_target s.podcast %}">
      {{ s.podcast|podcast_logo }}
     </a>
    </td>
    <td>{% podcast_group_link s.podcast %}<br/><span class="latest_episode">
     {% if s.episodes %}
      {% blocktrans with s.episodes as episode_count %}{{ episode_count }} Episodes{% endblocktrans %}
     {% endif %}
     </span></td>
     <td>{{ s.devices|device_list }}</td>
   </tr>
  {% empty %}
   <tr class="nohighlight">
    <td colspan="3">
     {% url "directory-home" as directory %}
     {% url "devices" as devices %}
     {% blocktrans %}You don't have any subscriptions yet. Set up your <a href="{{ devices }}">podcast clients</a> and <a href="{{ directory }}">discover interesting podcasts</a>.{% endblocktrans %}
    </td>
   </tr>
  {% endfor %}
  <tr class="nohighlight">
   <td colspan="3">
    <form class="form-inline" method="get" action="{% url "search" %}" class="search">
     <div class="input-group">
      <span class="input-group-addon"><i class="icon-search"></i></span>
      <input class="" type="text" name="q" {% if q %}value="{{ q }}"{% endif %} placeholder="{% trans "Search term or feed URL" %}">
      <span class="input-group-btn">
       <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
      </span>
     </div>
    </form>
   </td>
  </tr>
 </table>

 <div class="btn-group">
  <a class="btn btn-default" href="{% url "subscriptions-opml" %}">
   <i class="fa-download"></i> {% trans "Download OPML" %}
  </a>

  <a class="btn btn-default" href="{% url "share" %}">
   <i class="fa-share"></i> {% trans "Share" %}
  </a>
 </div>

{% endblock %}
