{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/register/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/register/"|section_menu }}{% endblock %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <div class="success">{% trans "You are already registered." %}</div>
{% else %}
  <h1>{% trans "Create a User Account" %}</h1>
  <p>
      {% trans "Already got an account?" %}
      <a href="/login/">{% trans "Login here" %}</a>
  </p>
  <form action="/register/" method="POST">
  <table class="register">
   {{ form.as_table }}
   <tr><th></th><td><input type="submit" value="Register" /></td></tr>
   </table>
  </form>

  <p>{% trans "After registration, you'll receive an activation email to confirm the validity of your email address." %}</p>
  <p>{% blocktrans %}If it doesn't arrive, you can <a href="/register/resend-activation">resend</a> it.{% endblocktrans %}</a>

{% endif %}

{% endblock %}

