{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/register/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/register/"|section_menu }}{% endblock %}

{% block title %}{% trans "Create Account" %}{% endblock %}

{% block header %}
 <h1>{% trans "Create Account" %}</h1>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

  <div class="alert alert-success">{% trans "You are already registered." %}</div>

 {% else %}

  <form class="form-horizontal" action="{% url "register" %}" method="POST">
   <fieldset>
    {% csrf_token %}

    <div class="control-group">
     <label class="control-label">Username</label>
     <div class="controls">
      {{ form.username }}
      <p class="help-block">Letters, digits, hypens, underscores</p>
     </div>
    </div>

    <div class="control-group">
     <label class="control-label">Email Address</label>
     <div class="controls">
      {{ form.email }}
      <p class="help-block">We won't share it with anyone</p>
     </div>
    </div>

    <div class="control-group">
     <label class="control-label">Password</label>
     <div class="controls">
      {{ form.password1 }}
      <p class="help-block">as secure as you like it</p>
     </div>
    </div>

    <div class="control-group">
     <label class="control-label">Password (confirm)</label>
     <div class="controls">
      {{ form.password2 }}
     </div>
    </div>

    <div class="control-group">
     <div class="controls">
      <button class="btn btn-primary" type="submit">{% trans "Register" %}</button>
     </div>
    </div>

   </fieldset>
  </form>

 {% endif %}

{% endblock %}


{% block sidebar %}

 <div class="well">
  <h3>{% trans "Activation Mail" %}</h3>
  <p>{% trans "After registration, you'll receive an activation mail to confirm the validity of your email address." %}</p>
  {% url "resend-activation" as resend-activation-url %}
  <p>{% blocktrans %}If it doesn't arrive, you can <a href="{{ resend-activation-url }}">resend</a> it.{% endblocktrans %}
 </div>

{% endblock %}

