{% extends "embed.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}

{% block head %}
 <base target="_parent" />
{% endblock %}

{% block content %}

  {% if results %}
   <table class="list">
    {% for podcast in results %}
     <tr>
      <td class="logo">{{ podcast|podcast_logo }}</td>
      <td>{% podcast_group_link podcast %}</td>
      <td>{% vertical_bar podcast.subscriber_count max_subscribers %}</td>
      <td>
       <form action="{% url "list-add-podcast" user.username listname podcast.get_id %}" method="post" target="_parent">
        {% csrf_token %}
        <button class="btn btn-success btn-sm" type="submit">
         <i class="icon-plus"></i>
        </button>
       </form>
      </td>
     </tr>
    {% endfor %}
   </table>

<ul class="pagination">

 {% if results.has_previous %}
  <li>
   <a href="{% url "list-search" user.username listname %}?q={{ q }}&page={{ results.previous_page_number }}">«</a>
  </li>
 {% endif %}

 {% for page in page_list %}
  <li>
   {% if page == "..." %}
    <span>{{ page }}</span>
   {% else %}

     {% if page == results.number %}
      <strong>{{ page }}</strong>
     {% else %}
      <a href="{% url "list-search" user.username listname %}?q={{ q }}&page={{ page }}">{{ page }}</a>
     {% endif %}
   {% endif %}
  </li>
 {% endfor %}

 {% if results.has_next %}
  <li>
   <a href="{% url "list-search" user.username listname %}?q={{ q }}&page={{ results.next_page_number }}">»</a>
  </li>
 {% endif %}

</ul>

  {% else %}

   <div>{% trans "Nothing found" %}</div>

  {% endif %}

{% endblock %}
