{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}
{% block sectionmenu %}{{ "/share/lists/"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcast Lists" %}{% endblock %}

{% block header %}
   <h1>{% trans "Podcast Lists" %}</h1>
{% endblock %}


{% block content %}

 <form class="form-inline" action="{% url "list-create" %}" method="post">
  {% csrf_token %}

  <table class="list">
   {% for list in lists %}
    <tr>
     <td><a href="{% url "list-show" user.username list.slug %}">{{ list.title }}</a></td>
     <td>{% blocktrans with list.num_entries as num_podcasts %}{{ num_podcasts }} Podcasts{% endblocktrans %}</td>
     <td>
      <form action="{% url "list-delete" user.username list.slug %}" method="post">
       {% csrf_token %}
       <button class="btn btn-danger btn-sm" type="submit">
        <i class="icon-trash"></i> {% trans "Delete" %}
       </button>
      </form>
     </td>
    </tr>
   {% empty %}
    <tr>
     <td colspan="3">{% trans "You don't have any podcast lists yet." %}</td>
    </tr>
   {% endfor %}
   <tr class="nohighlight">
    <td>
     <input placeholder="Title" class="form-control input-md" type="text" name="title" />
    </td>
    <td></td>
    <td>
     <button class="btn btn-success btn-sm" type="submit">
      <i class="icon-plus"></i>
      {% trans "Create" %}
     </button>
    </td>
   </tr>
  </table>
 </form>

 <div class="alert alert-info">
  {% blocktrans %}Podcast Lists are intended to share podcasts about certain topics and are therefore always visible to everyone.{% endblocktrans %}
 </div>

{% endblock %}
