{% load static %}
<html>
    <head>
        <title>404 Not found (gpodder.net)</title>
        <link rel="stylesheet" type="text/css" href="{% static "fail.css" %}" />
    </head>
    <body>
        <div id="c">
            <div id="fail">
                <h1>404 - Not found.</h1>
                <p>
                The requested document was not found on this server.
                Please try again later or contact us.
                </p>
            </div>
        </div>
        <img id="icon" src="{% static "failpodder.png" %}">
    </body>
</html>

