<html>
    <head>
        <title>500 Internal server error (gpodder.net)</title>
        <link rel="stylesheet" type="text/css" href="/media/fail.css" />
    </head>
    <body>
        <div id="c">
            <div id="fail">
                <h1>500 - Internal server error.</h1>
                <p>
                The service is currently overloaded.
                Please try again later or contact us.
                </p>
            </div>
        </div>
        <img id="icon" src="/media/failpodder.png">
    </body>
</html>

