{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Settings" %}{% endblock %}

{% block content %}
  <h1>{% trans "Account Settings" %}</h1>

 {% if success %}
   <div class="success">{% trans "Your settings have been saved." %}</div>
 {% endif %}

  <p>{% trans "Update the settings for your account." %}</p>
  <form action="/account/" method="POST">
   <table class="form">
    {{ form.as_table }}
    <tr>
     <td colspan="2">
      <input type="submit" value="Save" />
     </td>
    </tr>
   </table>
  </form>
  
  <p><br /><a href="/delete_account/">{% trans "Delete my account" %}</a><p>

{% endblock %}

