{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/account/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/account/"|section_menu }}{% endblock %}

{% block title %}{% trans "Account settings" %}{% endblock %}

{% block content %}
  <h1>{% trans "Account settings" %}</h1>

  <form action="{% url account %}" method="POST">
      {% csrf_token %}
      <h3>{% trans "Contact information and password" %}</h3>
      <table class="form">
          <tr>
              <th>{{ form.email.label_tag }}:</th>
              <td>{{ form.email }}</td>
          </tr>
          <tr>
              <th>{{ form.password_current.label_tag }}:</th>
              <td>{{ form.password_current }}</td>
          </tr>
          <tr>
              <th>{{ form.password1.label_tag }}:</th>
              <td>{{ form.password1 }}</td>
          </tr>
          <tr>
              <th>{{ form.password2.label_tag }}:</th>
              <td>{{ form.password2 }}</td>
          </tr>

          <tr>
              <td></td>
              <td>
                <input type="submit" value="{% trans "Update account settings" %}" />
              </td>
          </tr>
      </table>
  </form>

  <hr>

  <h2>{% trans "Account-related actions" %}</h2>
  <ul>
      <li><a href="{% url delete-account %}">{% trans "Delete account" %}</a></li>
  <ul>

{% endblock %}

