{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "For podcast authors" %}</h1>

  <p><img src="/media/subscribe.png" /></p>
  <p>{% trans "You can paste this code on your website, so users of mygpo can directly subscribe to your podcast!" %}</p>
  <p>{% trans "Change the field 'YOUR_ADRESS' with the adress of your podcast." %}</p>
  <p>
   <textarea cols="80" rows="1"><a href="http://my.gpodder.org/subscribe?url=YOUR_ADRESS"><img src="http://my.gpodder.org/media/subscribe.png" /></a></textarea>
  </p>
{% endblock %}
