{% extends "skeleton.html" %}
{% load i18n %}
{% load menu %}
{% load static %}
{% load utils %}

{% block body %}

        <div id="logo">
            <a href="/">
                <img class="visible-desktop" src="{% static "gpoddernet_64.png" %}" alt="gpodder.net" />
            </a>
        </div>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="navbar-brand" href="/"><img id="inline_logo" src="{% static "gpoddernet_25.png" %}" alt="gpodder.net" /><span style="padding-left: 65px; padding-right: 10px;" >gpodder.net</span></a>
                </div>
                <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% block mainmenu %}
                            {{ "/"|main_menu }}
                            {% endblock %}
                        </ul>

                    <ul class="nav navbar-nav navbar-right">
                     <li class="dropdown">
                        {% if user.is_authenticated %}
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i> {{ user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "account" %}">{% trans "Account" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url "logout" %}">Sign Out</a></li>
                        </ul>
                        {% else %}
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="">
                            <i class="icon-user"></i> {% trans "Login" %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "login" %}?next={{ request.get_full_path|urlquote }}">{% trans "Login" %}</a></li>
                            <li><a href="{% url "login-google" %}?next={{ request.get_full_path|urlquote }}">{% trans "Login with Google" %}</a></li>
                            <li><a href="{% url "register" %}">{% trans "Register" %}</a></li>
                        </ul>
                        {% endif %}
                      </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="sidebar-nav">
                        <ul class="nav nav-list">
                            {% block sectionmenu %}
                            {% endblock %}
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
                <div class="col-md-10">

                    <div class="row">
                        <div class="col-md-12">
                            {% block header %}
                            <h1>Block "header" not defined for this template</h1>
                            {% endblock %}
                        </div>
                    </div>

                    {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="row">
                        <div class="col-md-8" id="content">
                            {% block content %}
                            {% endblock %}
                        </div>


                        <div class="col-md-4" id="sidebar">
                            {% block sidebar %}
                            {% endblock %}
                        </div>
                    </div>

                </div>

            </div>

                    <footer>

                 {% block ads %}
                  {% if adsense_client %}
                   <hr />

                   <div class="row">
                    <div class="col-lg-offset-2 col-md-8">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                     <!-- Bottom -->
                     <ins class="adsbygoogle"
                          style="display:inline-block;width:728px;height:90px"
                          data-ad-client="{{ adsense_client }}"
                          data-ad-slot="{{ adsense_slot_bottom }}"></ins>
                    <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                   </div>

                  {% endif %}
                 {% endblock %}

                  <div class="row">
                        <hr />

                        <div class="col-lg-offset-2 col-md-1">
                            <ul>
                                <li><strong>{% trans "Discover" %}</strong></li>
                                <li><a href="{% url "directory-home" %}">{% trans "Directory" %}</a></li>
                                <li><a href="{% url "toplist" %}">{% trans "Podcasts" %}</a></li>
                                <li><a href="{% url "search" %}">{% trans "Search" %}</a></li>
                            </ul>
                        </div>

                        <div class="col-md-1">
                            <ul>
                                <li><strong>{% trans "Support" %}</strong></li>
                                <li><a href="{% url "help" %}">{% trans "Docs" %}</a></li>
                                <li><a href="http://wiki.gpodder.org/wiki/Mailing_List">{% trans "Mailing&nbsp;List" %}</a></li>
                                <li><a href="https://getsatisfaction.com/gpoddernet">{%trans "Questions" %}</a></li>
                            </ul>
                        </div>

                        <div class="col-md-1">
                            <ul>
                                <li><strong>{% trans "Support&nbsp;Us" %}</strong></li>
                                <li><a href="http://flattr.com/thing/2304/gpodder-net">{% trans "Flattr" %}</a></li>
                                <li><a href="{% url "contribute" %}">{% trans "Donate" %}</a></li>
                                <li><a href="{% url "advertise" %}">{% trans "Advertise" %}</a></li>
                            </ul>
                        </div>

                        <div class="col-md-1">
                            <ul>
                                <li><strong>{% trans "Follow" %}</strong></li>
                                <li><a href="https://twitter.com/gpoddernet">{% trans "Twitter" %}</a></li>
                                <li><a href="http://blog.gpodder.org/">{% trans "Blog" %}</a></li>
                                <li><a href="http://blog.gpodder.org/feeds/posts/default">{% trans "Blog&nbsp;(RSS)" %}</a></li>
                            </ul>
                        </div>

                        <div class="col-md-1">
                            <ul>
                                <li><strong>{% trans "Develop" %}</strong></li>
                                <li><a href="http://wiki.gpodder.org/wiki/Web_Services/API_2">{% trans "API" %}</a></li>
                                <li><a href="http://wiki.gpodder.org/wiki/Web_Services/Libraries">{% trans "Libraries" %}</a></li>
                                <li><a href="http://wiki.gpodder.org/wiki/Web_Services/Clients">{% trans "Clients" %}</a></li>
                            </ul>
                        </div>

                        <div class="col-md-1">
                            <ul>
                                <li><strong>{% trans "Publish" %}</strong></li>
                                <li><a href="{% url "publisher" %}">{% trans "Get&nbsp;Access" %}</a></li>
                                <li><a href="{% url "link-here" %}">{% trans "Link&nbsp;To&nbsp;Us" %}</a></li>
                                <li><a href="{% url "advertise" %}">{% trans "Advertise" %}</a></li>
                            </ul>
                        </div>

                    </div> <!-- row -->
                    </footer>

                </div><!--/.fluid-container-->

            </div>

        </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>

        {% block javascript %}{% endblock javascript %}

        <!-- getsatisfaction.com feedback tab -->
        <script type="text/javascript">
            var is_ssl = ("https:" == document.location.protocol);
            var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
            document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            var feedback_widget_options = {};
            feedback_widget_options.display = "overlay";
            feedback_widget_options.company = "gpoddernet";
            feedback_widget_options.placement = "left";
            feedback_widget_options.color = "#222";
            feedback_widget_options.style = "idea";
            var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
        </script>

{% endblock %}
