{% load i18n %}

<html>
 <head>
<!--
#
# This file is part of my.gpodder.org.
#
# my.gpodder.org is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at your
# option) any later version.
#
# my.gpodder.org is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
# License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with my.gpodder.org. If not, see <http://www.gnu.org/licenses/>.
#
-->
  <title>{% block title %}{% endblock %}my.gPodder.org</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" href="http://my.gpodder.org/favicon.png">
  <link rel="stylesheet" href="/media/screen.css" type="text/css" />
  <link rel="stylesheet" href="/media/screen-base.css" type="text/css" />
 </head>
 <body>
  <h1 id="logo">
   <strong><img alt="gPodder" title="gPodder" src="http://gpodder.org/images/weblogo64.png" /></strong>
  </h1>
  <div id="topnav">
   <ul id="gpodder-menu">
    <li><a href="http://gpodder.org/"><img src="http://gpodder.org/images/icons/go-home.png" alt="">Home</a></li>
    <li><a href="http://gpodder.org/news.html"><img src="http://gpodder.org/images/icons/accessories-text-editor.png" alt="">News</a></li>
    <li><a href="http://gpodder.org/downloads.html"><img src="http://gpodder.org/images/icons/package-x-generic.png" alt="">Download</a></li>
    <li><a href="http://gpodder.org/documentation.html"><img src="http://gpodder.org/images/icons/help-browser.png" alt="">Help</a></li>
    <li><a href="http://bugs.gpodder.org/"><img src="http://gpodder.org/images/icons/dialog-warning.png" alt="">Bugs</a></li>
    <li><strong><img src="http://gpodder.org/images/icons/mygpo.png" alt="">Web Service</strong></li>
   </ul>
  </div>

  <hr>

  <div id="body">

   {% if error_message %}
    <div class="error">{{ error_message }}</div>
   {% endif %}

   {% block content %}
    <h1>gPodder Web Service</h1>
    <p>...will go online soon...</p>
    <ul>
     <li><a href="http://gpodder.org/wiki/Web_Services">Wiki page</a></li>
     <li><a href="toplist.opml">Toplist as OPML</a></li>
    </ul>
   {% endblock %}
  </div>
  <div id="navigation">
   <span class="spacer1">&nbsp;</span>
   <span class="spacer2">&nbsp;</span>

   {% if user.is_authenticated %}
    <ul class="menu">
     <li class="heading"><strong>{{ user.username }}</strong></li>
     <li><a href="/">{% trans "Subscriptions" %}</a></li>
     <li><a href="/history/">{% trans "History" %}</a></li>
     <li><a href="/account/">{% trans "Settings" %}</a></li>
     <li><a href="/logout/">{% trans "Logout" %}</a></li>
    </ul>

    <ul class="menu">
     <li class="heading"><strong>{% trans "Discover" %}</strong></li>
     <li><a href="/search/">{% trans "Search" %}</a></li>
     <li><a href="/toplist/">{% trans "Toplist" %}</a></li>
     <li><a href="/suggestions/">{% trans "Suggestions" %}</a></li>
    </ul>
    
    <ul class="menu">
     <li class="heading"><strong>{% trans "Documentation" %}</strong></li>
     <li><a href="/online-help/">{% trans "Online Help" %}</a></li>
     <li><a href="/authors/">{% trans "For podcast authors" %}</a></li>
    </ul>
    
   {% else %}
    <ul class="menu">
     <li class="heading"><strong>my.gpodder.org</strong></li>
     <li><a href="/">{% trans "Home" %}</a></li>
     <li><a href="/login/">{% trans "Login" %}</a></li>
     <li><a href="/register/">{% trans "Register" %}</a></li>
    </ul>

    <ul>
     <li class="heading"><strong>{% trans "Discover" %}</strong></li>
     <li><a href="/search/">{% trans "Search" %}</a></li>
     <li><a href="/toplist/">{% trans "Toplist" %}</a></li>
    </ul>
    
    <ul class="menu">
     <li><a href="/authors/">{% trans "For podcast authors" %}</a></li>
    </ul>
   {% endif %}

  </div>

  <hr style="clear: both;">

  <address>© 2005-2009 <a class="noextlink" href="http://thpinfo.com/">Thomas Perl</a> and the gPodder Team</address>
 </body>
</html>

