{% load i18n %}
{% load menu %}

<html>
 <head>
<!--
#
# This file is part of my.gpodder.org.
#
# my.gpodder.org is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at your
# option) any later version.
#
# my.gpodder.org is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
# License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with my.gpodder.org. If not, see <http://www.gnu.org/licenses/>.
#
-->
  <title>{% block title %}{% endblock %} (gpodder.net)</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" href="http://my.gpodder.org/favicon.png">
  <link rel="stylesheet" href="/media/screen.css" type="text/css" />
  {% block head %}{% endblock %}
 </head>
 <body>
  <div id="body">
	<h1 id="logo">
	 <strong><img alt="gPodder" title="gPodder" src="http://gpodder.org/images/weblogo64.png" /></strong>
	</h1>

    <div id="navigation">
      {% block mainmenu %}
        {{ "/"|main_menu }}
      {% endblock %}
    </ul>

    {% block sectionmenu %}
      <ul class="menu secondary">
        <li class="selected"><a href="">{% trans "Page" %}</a></li>
      </ul>
    {% endblock %}
   </div>

   <div id="content-area">

   {% if error_message %}
    <div class="error">{{ error_message }}</div>
   {% endif %}

   {% block content %}
    <h1>gPodder Web Service</h1>
    <p>...will go online soon...</p>
    <ul>
     <li><a href="http://gpodder.org/wiki/Web_Services">Wiki page</a></li>
     <li><a href="toplist.opml">Toplist as OPML</a></li>
    </ul>
   {% endblock %}
   </div>
   <address>
     <hr>
     <strong>{% trans "Documentation" %}</strong>:
     <a href="/online-help/">{% trans "Manual" %}</a>,
     <a href="/authors/">{% trans "Publisher API" %}</a>
   </address>
  </div>

{% block javascript %}{% endblock javascript %}

 </body>
</html>

