{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/directory/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/directory/"|section_menu:category }}{% endblock %}

{% block title %}{{ category }}{% endblock %}

{% block content %}
 <h1>{{ category }}</h1>

 <table class="list">
  <tr>
   <th></th>
   <th></th>
   <th></th>
  </tr>
  {% for entry in entries.object_list %}
   <tr>
    <td>{{ entry|podcast_logo}}</td>
    <td>
     <a href="{% url podcast entry.id %}">{{ entry.title }}</a>
    </td>
    <td class="description">
     {{ entry.description|truncatewords:15 }}
    </td>
   </tr>
  {% endfor %}
 </table>

<div class="pagination">

 {% if entries.has_previous %}
  <a href="{% url directory category %}?page={{ entries.previous_page_number }}">«</a>
 {% endif %}

 {% for page in page_list %}
  <span class="page-link">
   {% if page == "..." %}
    {{ page }}
   {% else %}

     {% if page == entries.number %}
      <strong>{{ page }}</strong>
     {% else %}
      <a href="{% url directory category %}?page={{ page }}">{{ page }}</a>
     {% endif %}
   {% endif %}
  </span>
 {% endfor %}

 {% if entries.has_next %}
  <a href="{% url directory category %}?page={{ entries.next_page_number }}">»</a>
 {% endif %}

</div>

{% endblock %}

