{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/online-help"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/contribute/"|section_menu }}{% endblock %}

{% block title %}{% trans "Contribute" %}{% endblock %}

{% block header %}
  <h1>{% trans "Contribute to gpodder.net" %}</h1>
{% endblock %}


{% block content %}
  <p>{% blocktrans %}gpodder.net is run as a hobby project without continuous funding for servers, storage and bandwidth. We rely on contributors and donations to keep the site running and improve it constantly.{% endblocktrans %}</p>

  <h2>{% trans "Work" %}</h2>
  <p>{% blocktrans %}If you want to contribute to gpodder.net by writing code, check out the <a href="/developer/">Development</a> page. We also appreciate contributions of non-coding work, such as web and interface design, server operations, testing, etc. If you are interested, join the <a href="https://gpodder.github.io/docs/mailing-list.html">mailing list</a> or the IRC channel #gpodder on chat.freenode.net.{% endblocktrans %}</p>


  <h2>{% trans "Donate" %}</h2>
  <p>{% blocktrans %}If you want to support gpodder.net financially, you can donate via <a href="https://paypal.me/pools/c/8lxTu5kqTp">PayPal</a>.{% endblocktrans %}

  <p><a href=https://paypal.me/pools/c/8lxTu5kqTp>
    <img src="//www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" alt="PayPal - The safer, easier way to pay online!">
    <img src="//www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" border="0" alt="">
  </a></p>

{% endblock %}
