{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block sectionmenu %}{{ "/"|section_menu }}{% endblock %}

{% block title %}{% trans "Attention!" %}{% endblock %}

{% block header %}
 <h1>{% trans "Attention, Attention!" %}</h1>
{% endblock %}


{% block content %}

<p>{% blocktrans %}It seems that {{ referer }} has linked to {{ site }} to get you to change some data. <strong>This will possibly change some of your data / settings!</strong>. Do you really want to continue? <strong>If in doubt, chose No.</strong>{% endblocktrans %}</p>

<form method="{{ method }}" action="{{ path }}{% if get %}?{% for key, value in get.iteritems %}{{ key }}={{ value }}&{% endfor %}{% endif %}">
 {% csrf_token %}
 {% for key, value in post.iteritems %}
  <input type="hidden" name="{{ key }}" value="{{ value }}" />
 {% endfor %}
 <input type="submit" value="{% trans "Yes" %}" />
 <a href="{% url "home" %}">{% trans "No" %}</a>
</form>

{% endblock %}

