{% extends "base.html" %}
{% load i18n %}
{% load devices %}
{% load episodes %}
{% load podcasts %}
{% load humanize %}
{% load cache %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/"|section_menu }}{% endblock %}

{% block title %}{% trans "Overview" %}{% endblock %}

{% block header %}
   <h1>{% trans "Hi, " %}{{ user.username }}</h1>
{% endblock %}


{% block content %}
 {% cache 600 newest_episodes user.username %}
   {% if newest_episodes %}
    <h2>{% trans "Newest Episodes" %}</h2>
    <table class="list">
     {% for episode in newest_episodes %}
      <tr>
       <td class="logo">{{ episode.podcast|podcast_logo }}</td>
       <td>
        {% episode_link episode episode.podcast %}<br/>
        <span class="from_podcast">{% podcast_group_link episode.podcast %}</span>
       </td>
       <td>{{ episode.released|naturalday|nbsp }}</td>
      </tr>
     {% endfor %}
    </table>
   {% else %}
    <p>
     {% blocktrans %}Welcome to {{ site }}! If this is your first visit, you should set up your <a href="https://gpoddernet.readthedocs.io/en/latest/user/clients.html">podcast client</a> and try to check as many <em>Explore</em> boxes as you can.{% endblocktrans %}
    </p>

    <p>
     {% url "help" as help %}
     {% blocktrans %}If you have problems, have a look at the <a href="{{ help }}">docs</a> or ask questions on the <a href="https://gpodder.github.io/docs/mailing-list.html">mailing list</a> or <a href="https://github.com/gpodder/mygpo/issues">forum</a>.{% endblocktrans %}
    </p>

   {% endif %}
 {% endcache %}

 <hr>
<div class="well">
<h3>2025-02-08 <b>Annoucement</b></h3>

<p>Dear gpodder.net users,</p>
<p>we now have a total of 146k accounts, which is an amazing number.
Thank you for joining us on this platform! But of these 146k accounts,
only 2500 logged-in last month, 7000 logged-in in the past 12 months: not that many active users after all!</p>

<p><b>This message is to inform you that we will likely purge inactive (no login since 2024-01-01) user data from our database.</b></p>

<p><b><i>As you see this message, you are connected to gpodder.net so your data will not be removed</i>.</b></p>

<p>To my knowledge this is the first purge since 2009.
We have to do it in order to restore good performance for active users.
Indeed the system has struggled with an ever-increasing database for <a href="https://github.com/gpodder/mygpo/issues/349">years</a> now.
More than 300GB database on spinning disks is too much. We also keep album artwork for long-gone podcasts, up to 70GB. This has to go.
</p>

<p>Based on first simulations, we would <i>reclaim more than 80%</i> of the database,
going down to 50GB. This would encourage our hoster to migrate us to newer hardware,
with even more performance gains. By the way, a huge thank you to our hoster
<a href="https://tornadovps.com">tornadovps.com</a>, who provided us with 2 VMs
with significant resources free of charge for years. We really appreciate their support.</p>

<p><b>So, what will happen to long-inactive user data?</b> We will produce a downloadable export of everything they have sent to gpodder.net:</p>
<ol>
<li>the list of their current subscriptions, in OPML format, to be able to easily re-import them in their podcatcher of choice;</li>
<li>a json export of their profile, all subscribed podcasts, all episodes, every history entry ((un)subscribe, download, play, delete, ...), tags, favorite episodes, etc..</li>
</ol>

<p>This archive will be available for download from their user profile. It will be kept for as long as it's reasonable,
at least for another year. Any other action on gpodder.net will be unavailable.
There is currently no way to re-activate an archived account but we could think
of something if necessary (open an issue).</p>

<p>The export code is available for review on <a href="https://github.com/gpodder/mygpo/pull/829">github</a>.
Please give feedback if you find missing data. It's our intent to give back any bit of data we can find on our system.</p>

<p>We also would like to engage with you on the future of gpodder.net: please bring your feedback
on <a href="https://github.com/gpodder/mygpo/issues/830">this issue</a>. In particular, should it be a more stripped-down
syncing engine or is the web experience crucial?</p>

<p>Thank you for reading this, and for your continued use of the podcasting ecosystem!</p>
</div>
{% endblock %}

{% block sidebar %}

 {% include "podcast-ad-box.html" with podcast_ad=podcast_ad only %}

 {% if random_podcast %}
 {% cache 3600 random_podcast_box %}
   <div class="well">

   <h4><small>{% trans "Random" %}</small></h4>


   <a href="{% podcast_link_target random_podcast %}">
    <div id="podcastlogo">{{ random_podcast|podcast_logo_medium }}</div>
   </a>

   <h4>{{ random_podcast.title }}</h4>

   <p class="description">
    {{ random_podcast.description|default:""|truncatewords:"50" }}
   </p>

   <p>
    <a href="{% podcast_link_target random_podcast %}">{% trans "more..." %}</a>
   </p>

   </div>
 {% endcache %}
 {% endif %}

  <div class="well">
   <h4>{% blocktrans %}Explore {{ site }}{% endblocktrans %}</h4>
   <ul class="icons">
    <li><i class="icon-check"></i>
     <a href="{% url "home" %}">
      {% blocktrans %}Sign up to {{ site }}{% endblocktrans %}
     </a>
    </li>
    <li><i class="icon-check{% if not "devices" in checklist %}-empty{% endif %}"></i>
     <a href="{% url "devices" %}">
      {% trans "Connect your Podcast Clients" %}
     </a>
    </li>
    <li><i class="icon-check{% if not "subscriptions" in checklist %}-empty{% endif %}"></i>
     <a href="{% url "subscriptions" %}">
      {% trans "Subscribe to Podcasts" %}
     </a>
    </li>
    <li><i class="icon-check{% if not "favorites" in checklist %}-empty{% endif %}"></i>
     <a href="{% url "favorites" %}">
      {% trans "Mark your Favorite Episodes" %}
     </a>
    </li>
    <li><i class="icon-check{% if not "share" in checklist %}-empty{% endif %}"></i>
     <a href="{% url "share" %}">
      {% trans "Share your Subscriptions" %}
     </a>
    </li>
    <li><i class="icon-check{% if not "share-favorites" in checklist %}-empty{% endif %}"></i>
     <a href="{% url "share" %}">
      {% trans "Share your Favorite Episodes" %}
     </a>
    </li>
    <li><i class="icon-check{% if not "userpage" in checklist %}-empty{% endif %}"></i>
     <a href="{% url "share" %}">
      {% trans "Share your Userpage" %}
     </a>
    </li>
    <li><i class="icon-check{% if not "tags" in checklist %}-empty{% endif %}"></i>
     <a href="{% url "tags" %}">
      {% trans "Tag Podcasts" %}
     </a>
    </li>
    <li><i class="icon-check{% if not "lists" in checklist %}-empty{% endif %}"></i>
     <a href="{% url "lists-overview" %}">
      {% trans "Create Podcast Lists" %}
     </a>
    </li>
    <li><i class="icon-check{% if not "publish" in checklist %}-empty{% endif %}"></i>
     <a href="{% url "publisher" %}">
      {% trans "Publish your own Podcast" %}
     </a>
    </li>
   </ul>
  </p>

 </div>

 {% if show_install_reader %}
  <div class="well">
    <h4>{% trans "Subscribe in Your Browser" %}</h4>
    <p>
     {% blocktrans %}Register {{ site.domain }} as a feed reader, and subscribe to podcasts directly from your browser{% endblocktrans %}
    </p>
    <a class="btn btn-primary" href="#" onclick="registerHandler();">
     {% trans "Install" %}
    </a>

 </div>
 {% endif %}

{% endblock %}


{% block javascript %}
<script type="text/javascript">
  function registerHandler()
  {
    navigator.registerProtocolHandler("application/vnd.mozilla.maybe.feed",
        document.location.protocol + "//{{ site.domain }}/subscribe?url=%s",
        "{{ site.domain }}");
  }
</script>
{% endblock %}
