{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/account/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/account/"|section_menu }}{% endblock %}

{% block title %}
  {% trans "Delete Account" %}
{% endblock %}


{% block header %}
  <h1>{% trans "Delete your Account?" %}</h1>
{% endblock %}


{% block content %}

  <p>{% trans "Do you really want to delete your account?" %}</p>
  <form method="post" action="{% url "delete-account" %}">
   {% csrf_token %}
   <input type="submit" value="{% trans "Yes, please" %}" />
  </form>

{% endblock %}
