{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/online-help"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/developer/"|section_menu }}{% endblock %}

{% block title %}{% trans "Development" %}{% endblock %}

{% block content %}
  <h1>{% trans "Development" %}</h1>

  <h2>{% trans "Webservice" %}</h2>
  <p>{% blocktrans %}The sourcecode of the webservice gpodder.net is released as open source under the AGPLv3 and <a href="https://github.com/gpodder/mygpo">hosted at GitHub</a>. Bugs can be reported at the <a href="https://bugs.gpodder.org/enter_bug.cgi?product=gpodder.net">gPodder Bugtracker</a>.{% endblocktrans %}</p>


  <h2>{% trans "Integrating Clients" %}</h2>
  <p>{% blocktrans %}If you want to integrate gpodder.net in some podcasting client, you might want to use one of the existing client libraries.{% endblocktrans %}
   <ul>
    <li><a href="http://thpinfo.com/2010/mygpoclient/">mygpoclient</a> (Python)</li>
    <li><a href="http://github.com/nheid/mygpodderlib">mygpodderlib</a> (Java)</li>
    <li><a href="http://wiki.gpodder.org/wiki/Libmygpo-qt">libmygpo-qt</a> (C++/Qt)</li>
    <li><a href="http://wiki.gpodder.org/wiki/Web_Services/API_2">{% trans "API Documentation" %}</a></li>
   </ul>
  </p>

{% endblock %}
