{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load humanize %}
{% load devices %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/device/"|section_menu:device.name }}{% endblock %}

{% block title %}{% blocktrans with device.name|striptags as devicename %}Device {{ devicename }}{% endblocktrans %}{% endblock %}

{% block header %}
  <h1>{{ device.name|striptags }}</h1>

  <a href="{% url "device" device.uid %}">{% trans "Back to" %} {{ device|device_icon }} {{device|striptags}}</a>
{% endblock %}


{% block content %}

  {% if device.deleted %}<div class="info">{% trans "This device was deleted." %}</div>{% endif %}

  {% if not device.deleted %}

  <h2>{% trans "Edit" %}</h2>
  <div class="well">

   <form class="form-horizontal" action="{% url "device-update" device.uid %}" method="POST">

    {{ device_form.non_field_errors }}
    {% csrf_token %}

    <fieldset>

    <div class="control-group">
     <label class="control-label">Name</label>
     <div class="controls">
      {{ device_form.name }}
     </div>
    </div>

    <div class="control-group">
     <label class="control-label">Type</label>
     <div class="controls">
      {{ device_form.type }}
     </div>
    </div>

    <div class="control-group">
     <label class="control-label">Device-ID
     </label>
     <div class="controls">
      {{ device_form.uid }}
      <p class="help-block">use the same in your client</p>
     </div>
    </div>

    <div class="control-group">
     <div class="controls">
      <button class="btn" type="submit">{% trans "Save" %}</button>
     </div>
    </div>
   </fieldset>
  </form>
 </div>

   <h2>{% trans "Replace Subscriptions" %}</h2>
   <div class="well">
   <form class="form-inline" method="post" action="{% url "device-upload-opml" device.uid %}" enctype="multipart/form-data">
    <p>{% trans "Replace your current subscriptions by uploading an OPML file." %}</p>
    {% csrf_token %}

    <input type="file" class="input-xlarge" name="opml" id="opml" />

    <button class="btn" type="submit">{% trans "Upload" %}</button>
   </form>
  </div>

  <h2>{% trans "Delete" %}</h2>
  <div class="well">
  <form action="{% url "device-delete" device.uid %}" method="POST">
   {% csrf_token %}
   <button class="btn btn-danger" type="submit">
    <i class="icon-trash"></i> {% trans "Delete Device" %}
   </button>
  </form>
  </div>
  {% endif %}

{% endblock %}

