{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load devices %}

{% block content %}
  <h1>{% trans "Device List" %}</h1>

   <table class="list">
    <tr>
     <th>{% trans "Name" %}</th>
     <th>{% trans "Type" %}</th>
     <th>{% trans "UID" %}</th>
    </tr>
    {% for d in devices %}
     {% ifchanged d.sync_group %}
      <tr class="group">
       <td colspan="3">
        {% if not d.sync_group %}{% trans "Not synchronized" %}
        {% else %}{% trans "Synchronized" %}
        {% endif %}
       </td>
      </tr>
     {% endifchanged %}
     <tr>
      <td><a href="/device/{{ d.id }}">{{ d|device_icon }}{{ d.name }}</a></td>
      <td>{{ d|device_type }}</td>
      <td>{{ d.uid }}</td>
     </tr>
    {% endfor %}
   </table>

   <div class="info"><strong>{% trans "How do I add a new device?" %}</strong> {% trans "Just upload your subscriptions with a new device using gPodder, and it will automatically show up in this list." %}</div>
{% endblock %}

