{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load devices %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/device/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/device/"|section_menu:device.name }}{% endblock %}

{% block title %}{% blocktrans with device.name|striptags as devicename %}Device {{ devicename }}{% endblocktrans %}{% endblock %}

{% block content %}
  <h1>{{ device.name|striptags }}</h1>
  <hr/>

  {% if device.deleted %}<div class="info">{% trans "This device was deleted." %}</div>{% endif %}

  {% if not subscriptions|length_is:"0" %}
   <table class="list">
    <tr>
     <th></th>
     <th>{% trans "Podcast" %}</th>
     <th>{% trans "Subscribed" %}</th>
     <th>{% trans "Unsubscribe" %}</th>
    </tr>

    {% for subscription in subscriptions %}
     <tr>
      <td>{{ subscription.podcast|podcast_logo }}</td>
      <td><a href="/podcast/{{subscription.podcast.id}}">{{ subscription.podcast|striptags }}</a></td>
      <td><abbr title="{{subscription.subscribed_since}}">{{subscription.subscribed_since|naturalday}}</abbr></td>
      <td style="text-align: center;"><a href="/podcast/{{subscription.podcast.id}}/unsubscribe/{{ device.id }}?return_to=/device/{{ device.id }}"><img src="/media/unsubscribe.png" /></a></td>
     </tr>
    {% endfor %}
   </table>
  {% else %}
   <p>{% trans "You don't have any podcasts subscribed on this device. Go ahead and upload some." %}</p>
  {% endif %}

  <div>
   <a href="/device/{{ device.id }}.opml">
    <img src="/media/download.png" class="action-button" /> {% trans "Download Subscriptions as OPML" %}
   </a>
  </div>

  <div>
   <a href="/device/{{ device.id }}/history">
    <img src="/media/office-calendar.png" class="action-button" />
    {% blocktrans with device.name|striptags as devicename %} Show history for {{ devicename }} {% endblocktrans %}</a>
   </a>
  </div>

  {% if not device.deleted %}

  <div>
   <a href="/device/{{ device.id}}/edit">
    <img src="/media/preferences-system-22.png" class="action-button" />
    {% trans "Edit Device" %}
   </a>
  </div>

  <h2>{% trans "Synchronize" %}</h2>
  <p>{% blocktrans %}If you synchronize devices, they will always have the same subscriptions. A podcast that is subscribed on one device, will automatically be added to all synchronized devices.{% endblocktrans %}</p>

  {% if synced_with|length_is:"0" %}

   <p>{% blocktrans with device.name|striptags as devicename %}{{ devicename }} is currently not synchronized with other devices.{% endblocktrans %}</p>

  {% else %}

   <p>{% blocktrans with device.name|striptags as devicename and synced_with|device_list as synclist %}{{ devicename }} is currently synchronized with {{ synclist }}.{% endblocktrans %}</p>
   <a href="/device/{{ device.id }}/unsync">{% blocktrans with device.name|striptags as devicename %}Stop synchronisation for {{ devicename }} {% endblocktrans %}</a>
  
  {% endif %}

  {% if has_sync_targets %}
   <form action="/device/{{ device.id }}/sync" method="POST">
    {% csrf_token %}
    {{ sync_form.as_p }}
    <input type="submit" value="{% trans "OK" %}" />
   </form>
  {% endif %}

  {% endif %}

{% endblock %}

