{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load humanize %}
{% load devices %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/devices/"|section_menu }}{% endblock %}

{% block title %}{% trans "Create Device " %}{% endblock %}

{% block header %}
  <h1>{% trans "Create Device" %}</h1>
{% endblock %}


{% block content %}

  <div class="well">
   <form class="form-horizontal" action="{% url "device-create" %}" method="POST">

    {{ device_form.non_field_errors }}
    {% csrf_token %}

    <fieldset>

    <div class="control-group">
     <label class="control-label">Name</label>
     <div class="controls">
      {{ device_form.name }}
     </div>
    </div>

    <div class="control-group">
     <label class="control-label">Type</label>
     <div class="controls">
      {{ device_form.type }}
     </div>
    </div>

    <div class="control-group">
     <label class="control-label">Device-ID
     </label>
     <div class="controls">
      {{ device_form.uid }}
      <p class="help-block">use the same in your client</p>
     </div>
    </div>

    <div class="control-group">
     <div class="controls">
      <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
     </div>
    </div>
   </fieldset>
  </form>
 </div>

{% endblock %}


{% block sidebar %}

 <div class="well">
  <h3>{% trans "Device ID" %}</h3>
  {% blocktrans %}The Device ID connects your physical device with this page, so you should enter the same text on your device and here.{% endblocktrans %}
 </div>

{% endblock %}

