{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load devices %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/device/"|section_menu:device.name }}{% endblock %}

{% block title %}{% blocktrans with device.name|striptags as devicename %}Device {{ devicename }}{% endblocktrans %}{% endblock %}

{% block content %}
  <h1>{{ device.name|striptags }}</h1>
  <hr/>

  <a href="{% url device device.uid %}">{% trans "Back to" %} {{ device|device_icon }} {{device|striptags}}</a>

  {% if device.deleted %}<div class="info">{% trans "This device was deleted." %}</div>{% endif %}

  {% if not device.deleted %}


  <h2>{% trans "Edit" %}</h2>

  <form action="{% url device-update device.uid %}" method="POST">
   {% csrf_token %}
   <table class="form">
    {{ device_form.as_table }}
    <tr>
     <td></td>
     <td>
      <button type="submit">{% trans "Save" %}</button>
     </td>
    </tr>
   </table>
  </form>

  <h2>{% trans "Replace Subscriptions" %}</h2>
  <p>{% trans "You can replace your current subscriptions on this device by uploading an OPML file." %}</p>
  <form method="post" action="{% url device-upload-opml device.uid %}" enctype="multipart/form-data">
   {% csrf_token %}
   <input type="file" name="opml" id="opml" />
   <input type="submit" value="{% trans "Upload" %}" />
  </form>

  <h2>{% trans "Delete" %}</h2>
  <form action="{% url device-delete device.uid %}" method="POST">
   {% csrf_token %}
   <button type="submit">{% trans "Delete this device" %}</button>
  </form>
  <br />
  {% endif %}
  <div class="info">The <strong>Device ID</strong> connects your physical device with this page, so you should enter the same text on your device and here.</div>

{% endblock %}

