{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load devices %}

{% load menu %}
{% block mainmenu %}{{ "/devices/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/devices/"|section_menu }}{% endblock %}

{% block title %}{% trans "My Devices" %}{% endblock %}

{% block content %}
  <h1>{% trans "My Devices" %}</h1>

   <table class="list">
    <tr>
     <th>{% trans "Name" %}</th>
     <th>{% trans "Type" %}</th>
     <th>{% trans "Device ID" %}</th>
     <th class="buttons">{% trans "Configure" %}</th>
    </tr>
    {% for group in device_groups %}
     <tr>
      {% if group.is_synced %}
       <th colspan="4">{% trans "Synchronized" %}</th>
      {% else %}
       <th colspan="4">{% trans "Not Synchronized" %}</th>
      {% endif %}
     </tr>

     {% for device in group.devices %}
      <tr>
       <td><a href="{% url device device.uid %}">{{ device|device_icon }}{{ device.name|striptags }}</a></td>
       <td>{{ device|device_type }}</td>
       <td>{{ device.uid|striptags }}</td>
       <td>
        <div class="btn icon-edit">
         <a href="{% url device-edit device.uid %}">
          {% trans "Configure" %}
         </a>
        </div>
       </td>
      </tr>
     {% endfor %}
    {% endfor %}
   </table>

   {% if deleted_devices %}
    <h2>{% trans "Deleted Devices" %}</h2>
    <table class="list">
    {% for d in deleted_devices %}
     <tr>
      <td><a href="{% url device d.uid %}">{{ d|device_icon }}{{ d.name|striptags }}</a></td>
      <td>{{ d|device_type }}</td>
      <td>{{ d.uid|striptags }}</td>
      <td>
       <form method="post" action="{% url device-undelete d.uid %}">
        <button class="btn btn-warning icon-repeat" type="submit">
         {% trans "Reactivate" %}
        </button>
       </form>
      </td>
      <td>
       <form method="post" action="{% url device-delete-permanently d.uid %}">
        <button class="btn btn-danger icon-trash" type="submit">
         {% trans "Delete Permanently" %}
        </button>
       </form>
      </td>

     </tr>
    {% endfor %}
   </table>


   {% endif %}

  <div class="action-buttons">
    <a class="btn btn-success icon-plus" href="{% url device-edit-new %}">
     {% trans "Create Device" %}
    </a>
  </div>

   <div class="info"><strong>{% trans "How do I add a new device?" %}</strong> {% trans "Just upload your subscriptions with a new device using gPodder, and it will automatically show up in this list." %}</div>
{% endblock %}

