{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load devices %}

{% load menu %}
{% block mainmenu %}{{ "/devices/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/devices/"|section_menu }}{% endblock %}

{% block title %}{% trans "My Devices" %}{% endblock %}

{% block content %}
  <h1>{% trans "My Devices" %}</h1>

   <table class="list">
    <tr>
     <th>{% trans "Name" %}</th>
     <th>{% trans "Type" %}</th>
     <th>{% trans "Device ID" %}</th>
     <th class="buttons">{% trans "Configure" %}</th>
    </tr>
    {% for d in devices %}
    {% ifchanged d.sync_group %}
      {% if d.sync_group %}
      </table>
      <h2>{% trans "Synchronized" %}</h2>
      <table class="list">
       <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Device ID" %}</th>
        <th class="buttons">{% trans "Configure" %}</th>
       </tr>
      {% endif %}
     {% endifchanged %}
     <tr>
      <td><a href="/device/{{ d.id }}">{{ d|device_icon }}{{ d.name|striptags }}</a></td>
      <td>{{ d|device_type }}</td>
      <td>{{ d.uid|striptags }}</td>
      <td class="buttons">
       <a href="/device/{{ d.id }}/edit">
        <img src="/media/preferences-system.png" />
       </a>
      </td>
     </tr>
    {% endfor %}
   </table>

   {% if deleted_devices %}
    <h2>{% trans "Deleted Devices" %}</h2>
    <table class="list">
     <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Type" %}</th>
      <th>{% trans "ID" %}</th>
      <th>{% trans "Actions" %}</th>
     </th>
    {% for d in deleted_devices %}
     <tr>
      <td><a href="/device/{{ d.id }}">{{ d|device_icon }}{{ d.name|striptags }}</a></td>
      <td>{{ d|device_type }}</td>
      <td>{{ d.uid|striptags }}</td>
      <td>
       <div>
        <a href="/device/{{ d.id }}/undelete">
         <img src="/media/edit-undo.png" class="action-button" /> {% trans "Reactivate" %}
        </a>
       </div>

       <div>
        <a href="/device/{{ d.id }}/remove">
         <img src="/media/unsubscribe.png" class="action-button" /> {% trans "Delete Permanently" %}
        </a>
       </div>
      </td>

     </tr>
    {% endfor %}
   </table>


   {% endif %}
   <div class="info"><strong>{% trans "How do I add a new device?" %}</strong> {% trans "Just upload your subscriptions with a new device using gPodder, and it will automatically show up in this list." %}</div>
{% endblock %}

