{% extends "skeleton.html" %}
{% load i18n %}
{% load menu %}
{% load static %}

{% block body %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">

    {% if messages %}
     {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
       {{ message }}
      </div>
     {% endfor %}
    {% endif %}


    {% block content %}
    {% endblock %}

    </div>
    </div>


    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    {% block javascript %}{% endblock javascript %}

{% endblock %}
