{% load i18n %}
{% load menu %}

<html>
 <head>
<!--
#
# This file is part of my.gpodder.org.
#
# my.gpodder.org is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at your
# option) any later version.
#
# my.gpodder.org is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
# License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with my.gpodder.org. If not, see <http://www.gnu.org/licenses/>.
#
-->
  <title>{% block title %}{% endblock %} (gpodder.net)</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="/media/screen.css" type="text/css" />
  {% block head %}{% endblock %}

  {% if google_analytics_property_id %}
   {% load googleanalytics %}
   {{ google_analytics_property_id|google_analytics_async }}
  {% endif %}

 </head>
 <body class="embed">
   <div id="content-area">

   {% block content %}
    content goes here
   {% endblock %}
   </div>


{% block javascript %}{% endblock javascript %}

 </body>
</html>
