{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load humanize %}
{% load episodes %}
{% load devices %}
{% load podcasts %}
{% load mygpoutil %}
{% load time %}
{% load youtube %}
{% load flickr %}
{% load facebook %}
{% load google %}
{% load charts %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/podcast/"|main_menu }}{% endblock %}
{% block sectionmenu %}
 {% if podcast.title %}
  {{ "/podcast/"|section_menu:podcast.title }}
 {% else %}
  {{ "/podcast/"|section_menu:"Unnamed Podcast" }}
 {% endif %}
{% endblock %}

{% block head %}
 {% if episode.url|is_youtube_video %}
  <script type="text/javascript" src="/media/js/swfobject.js"></script>
  <script type="text/javascript" src="/media/js/json2.js"></script>
  <script type="text/javascript" src="/media/js/youtube-handler.js"></script>
 {% endif %}
 {% opengraph_episode episode podcast %}
 {% google_plus_one_head %}

{% endblock head %}

{% block title %}{{ episode.title|default:"Unnamed Episode"|striptags }} - {{ podcast.title|default:"Unnamed Podcast"|striptags}}{% endblock %}

{% block header %}

  {% if podcast.logo_url %}
   <div id="podcastlogo"><a href="{% podcast_link_target podcast %}">{{ podcast|podcast_logo_big }}</a></div>
  {% endif %}
  <h1>
   {{ episode.title|default:"Unnamed Episode"|striptags }}
   {% if episode.released %}
    <small>{{ episode.released|naturalday }}</small>
   {% endif %}
  </h1>
  <small class="description">
      {% trans "from" %} {% podcast_group_link podcast %}&middot;
       {% if not episode.outdated or "hide-outdated-urls" not in podcast.restrictions %}
        <a href="{{episode.url}}" title="{% trans "Download" %}">
         <i class="icon-download"></i>
        </a>
       {% endif %}
       {% if episode.link and episode.link != episode.url %}&middot;
        <a href="{{episode.link}}" title="{% trans "Website" %}">
         <i class="icon-external-link"></i>
        </a>
      {% endif %}
      {% if episode.listeners %}&middot;
       {{ episode.listeners }} {% trans "listeners" %}
      {% endif %}
  </small>

{% endblock %}



{% block content %}

  {% if episode.content or episode.description %}
   <div class="description">
    {% if episode.content %}
     {{ episode.content|markdown }}
    {% else %}
     {{ episode.description|markdown }}
    {% endif %}
   </div>
  {% endif %}

  {% if episode.url|is_youtube_video %}
    <div id="ytapiplayer">
      You need Flash player 8+ and JavaScript enabled to view this video.
    </div>
  {% endif %}


  {% if episode.url|is_flickr_photo %}
   {{ episode|embed_flickr_photo }}
  {% endif %}

  {% if episode|is_image %}
   <img src="{{ episode.url }}" />
  {% endif %}

  {% if user.is_authenticated %}

   {% if is_favorite %}
     <a class="btn" href="{% episode_link_target episode podcast "episode-fav" %}">
      <i class="icon-star"></i> {% trans "Remove Favorite" %}
     </a>
   {% else %}
     <a class="btn" href="{% episode_link_target episode podcast "episode-fav" %}">
      <i class="icon-star-empty"></i> {% trans "Favorite" %}
     </a>
   {% endif %}

   {% if played_parts %}
    <h3>Already played</h3>
    {{ played_parts|episode_heatmap_visualization }}
   {% endif %}

  {% endif %}

  <div class="pagination">
   <ul>
    {% if prev %}
     <li>
      {% episode_link prev podcast %}
     </li>
    {% endif %}
    <li>
     <a href="{% podcast_link_target podcast %}#episodes">{% trans "..." %}</a>
    </li>
    {% if next %}
     <li>
      {% episode_link next podcast %}
     </li>
    {% endif %}
   </ul>
  </div>

{% endblock %}


{% block sidebar %}

 <div class="well">

  <h4>Share</h4>

  {% google_plus_one_button %}
  {% fb_like_episode episode podcast %}

  {% if episode.flattr_url %}
   <a href="{{ podcast.flattr_url }}">
    <img src="https://api.flattr.com/button/flattr-badge-large.png"
     alt="Flattr {{ episode.title|default:"Unnamed Episode"|striptags }}" />
   </a>
  {% endif %}

 </div>



  {% if user.is_authenticated or chapters %}
    <div class="well">

   <h4>{% trans "Chapters" %}</h4>

   <table class="list">
    <tr>
     <th></th>
     <th>{% trans "Ad?" %}</th>
     <th>{% trans "Label" %}</th>
     <th></td>
    </tr>

    {% for chapter in chapters %}
     <tr {% if chapter.is_own %}class="own-chapter"{% endif %} >
      <td>{{ chapter.start|sec_to_time|time:"H:i:s" }}{% if chapter.start != chapter.end %} - {{ chapter.end|sec_to_time|time:"H:i:s" }}{% endif %}</td>
      <td>{% if chapter.advertisement %}Yes{% endif %}</td>
      <td>{{ chapter.label }}</strong>
      <td>
       {% if chapter.is_own %}
        <a href="{% episode_link_target episode "remove-chapter" chapter.start chapter.end %}">
         <img src="/media/unsubscribe.png" alt="{% trans "Remove" %}" />
        </a>
       {% endif %}
      </td>
     </tr>
    {% endfor %}
    {% if user.is_authenticated %}
    <tr>
     <form class="form-inline" action="{% episode_link_target episode podcast "add-chapter" %}" method="POST">
      {% csrf_token %}
      <td>
       <input class="input-mini" type="text" name="start" id="start" class="time" placeholder="h:mm:ss"/>
       <input class="input-mini" type="text" name="end" id="end" class="time" placeholder="h:mm:ss"/>
      </td>
      <td>
       <input type="checkbox" name="advertisement" />
      </td>
      <td>
       <input class="input-mini" type="text" name="label" />
      </td>
      <td>
       <input class="btn" type="submit" value="{% trans "Add" %}" />
      </td>
     </form>
    </tr>
    {% endif %}
  </table>
  </div>
  {% endif %}

  {% if user.is_authenticated or history %}
  <div class="well">
  <h4>{% trans "History" %}</h4>
  <table class="list">
   <tr>
    <th>{% trans "Time" %}</th>
    <th>{% trans "Action" %}</th>
    <th>{% trans "Device" %}</th>
    <th></th>
   </tr>

   {% for s in history %}
    <tr>
     <td><abbr title="{{ s.timestamp }}">{{ s.timestamp|naturalday }}</abbr></td>
     <td style="text-align: center;">{{ s|episode_status_icon }}</td>
     <td>
      {% if s.device %}
       <a href="{% url "device" s.device.uid %}">{{ s.device|device_icon }} {{ s.device.name|striptags }}</a>
      {% endif %}
     </td>
     <td>{% if s.started or s.playmark %}{{s.started|format_time }} - {% endif %}
         {% if s.playmark %}{{ s.playmark|format_time }}{% endif %}
     </td>
	</tr>
   {% endfor %}

   {% if user.is_authenticated %}
    <tr>
     <form action="{% episode_link_target episode podcast "add-episode-action" %}" method="POST">
      {% csrf_token %}
      <td>
       <input class="input-mini" type="text" id="timestamp" name="timestamp" placeholder="empty = now" /></td>
      <td>
       <select class="input-mini" name="action">
        {% for action, str in actions %}
         <option value="{{ action }}">{{ str }}</option>
        {% endfor %}
       </select>
      </td>
      <td>
       <select class="input-mini" name="device">
        <option value=""></option>
        {% for device_id, name in devices.items %}
         <option value="{{ device_id }}">{{ name }}</option>
        {% endfor %}
       </select>
      </td>
      <td>
       <input class="btn" type="submit" value="{% trans "Add" %}" />
      </td>
     </form>
    </tr>
   {% endif %}
  </table>
 </div>
  {% endif %}

{% endblock %}


{% block javascript %}
 <script type="text/javascript">

  {% if episode.url|is_youtube_video %}
   {% embed_youtube_video podcast episode user %}
  {% endif %}

 </script>
{% endblock javascript %}


{% block ads %}
 {% comment %}disable ads on episode pages{% endcomment %}
{% endblock %}
