{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load episodes %}
{% load devices %}
{% load podcasts %}
{% load mygpoutil %}
{% load time %}
{% load youtube %}
{% load flickr %}
{% load facebook %}
{% load google %}
{% load charts %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/podcast/"|main_menu }}{% endblock %}
{% block sectionmenu %}
 {% if podcast.title %}
  {{ "/podcast/"|section_menu:podcast.title }}
 {% else %}
  {{ "/podcast/"|section_menu:"Unnamed Podcast" }}
 {% endif %}
{% endblock %}

{% block head %}
 <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
 <script type="text/javascript" src="/media/js/jquery.watermark.min.js"></script>
 {% if episode.url|is_youtube_video %}
  <script type="text/javascript" src="/media/js/swfobject.js"></script>
  <script type="text/javascript" src="/media/js/json2.js"></script>
  <script type="text/javascript" src="/media/js/youtube-handler.js"></script>
 {% endif %}
 {% opengraph_episode episode podcast %}
 {% google_plus_one_head %}

 <script type="text/javascript">
    $(document).ready(function()
    {
        $("#listcontent div.listblock").hide();
        $("#listcontent h2").click(function()
        {
            $(this).next("#listcontent div").slideToggle(500);
        });
    });
 </script>
{% endblock head %}

{% block title %}{{ episode.title|default:"Unnamed Episode"|striptags }} - {{ podcast.title|default:"Unnamed Podcast"|striptags}}{% endblock %}

{% block content %}
  {% if podcast.logo_url %}
   <div id="podcastlogo"><a href="{% podcast_link_target podcast %}">{{ podcast|podcast_logo_big }}</a></div>
  {% endif %}
  <h1>{{ episode.title|default:"Unnamed Episode"|striptags }}</h1>
  <small class="description">
      {% trans "from" %} {% podcast_group_link podcast %}{% if episode.released %}, {% trans "released" %} {{episode.released}}{% endif %},
      {% trans "links" %}:
       {% if not episode.outdated or "hide-outdated-urls" not in podcast.restrictions %}
        <a href="{{episode.url}}">{% trans "download" %}</a>
       {% endif %}
       {% if episode.link and episode.link != episode.url %}
        <a href="{{episode.link}}">{% trans "website" %}</a>
      {% endif %},
      {% trans "stats:" %} {% blocktrans with episode.listener_count as listener_count %}{{listener_count}} listeners{% endblocktrans %}
  </small>
  <hr style="clear: none;"/>

  {% if episode.url|is_youtube_video %}
    <div id="ytapiplayer">
      You need Flash player 8+ and JavaScript enabled to view this video.
    </div>
  {% endif %}

  {% if episode.description %}
   <p>{{ episode.description|remove_html_tags|linebreaksbr }}</p>
  {% endif %}

  <div class="share">
   {% google_plus_one_button %}
   {% fb_like_episode episode podcast %}
  </div>

  {% if episode.url|is_flickr_photo %}
   {{ episode|embed_flickr_photo }}
  {% endif %}

  {% if episode|is_image %}
   <img src="{{ episode.url }}" />
  {% endif %}

  {% if user.is_authenticated %}

   {% if is_favorite %}
    <div>
     <a href="{% episode_link_target episode podcast "episode-fav" %}">
      <img src="/media/fav.png" style="vertical-align: middle;" /> {% trans "Favorite" %}
     </a>
    </div>
   {% else %}
    <div>
     <a href="{% episode_link_target episode podcast "episode-fav" %}">
      <img src="/media/fav-add.png" style="vertical-align: middle;" /> {% trans "Add as Favorite" %}
     </a>
    </div>
   {% endif %}

   {% if played_parts %}
    <h3>Already played</h3>
    {{ played_parts|episode_heatmap_visualization }}
   {% endif %}

  {% endif %}

  <div class="navigation">
   <div class="prev">
    {% if prev %}
     {% trans "Previous Episode:" %} {% episode_link prev podcast %}
    {% endif %}
   </div>
   <div class="list">
    <a href="{% podcast_link_target podcast %}#episodes">{% trans "Episode-List" %}</a>
   </div>
   <div class="next">
    {% if next %}
     {% trans "Next Episode:" %} {% episode_link next podcast %}
    {% endif %}
   </div>
  </div>

  <hr/>

 <div id="listcontent">

  {% if user.is_authenticated or chapters %}
   <h2>{% trans "Chapters" %}</h2>

   <div id="chapters" class="listblock">
   <div class="info">
     {% blocktrans %}Your chapters are shown in bold.{% endblocktrans %}
   </div>

   <table class="list">
    <tr>
     <th></th>
     <th>{% trans "Ad?" %}</th>
     <th>{% trans "Label" %}</th>
     <th></td>
    </tr>

    {% for chapter in chapters %}
     <tr {% if chapter.is_own %}class="own-chapter"{% endif %} >
      <td>{{ chapter.start|sec_to_time|time:"H:i:s" }}{% if chapter.start != chapter.end %} - {{ chapter.end|sec_to_time|time:"H:i:s" }}{% endif %}</td>
      <td>{% if chapter.advertisement %}Yes{% endif %}</td>
      <td>{{ chapter.label }}</strong>
      <td>
       {% if chapter.is_own %}
        <a href="{% episode_link_target episode "remove-chapter" chapter.start chapter.end %}">
         <img src="/media/unsubscribe.png" alt="{% trans "Remove" %}" />
        </a>
       {% endif %}
      </td>
     </tr>
    {% endfor %}
    {% if user.is_authenticated %}
    <tr>
     <form action="{% episode_link_target episode podcast "add-chapter" %}" method="POST">
      {% csrf_token %}
      <td>
       <input type="text" name="start" id="start" class="time" /> -
       <input type="text" name="end" id="end" class="time" />
      </td>
      <td>
       <input type="checkbox" name="advertisement" />
      </td>
      <td>
       <input type="text" name="label" />
      </td>
      <td>
       <input type="submit" value="{% trans "Add" %}" />
      </td>
     </form>
    </tr>
    {% endif %}
  </table>
  </div>
  {% endif %}

  {% if user.is_authenticated or history %}
  <h2>{% trans "History" %}</h2>
  <div id="history" class="listblock">
  <table class="list">
   <tr>
    <th>{% trans "Time" %}</th>
    <th>{% trans "Action" %}</th>
    <th>{% trans "Device" %}</th>
    <th></th>
   </tr>

   {% for s in history %}
    <tr>
     <td><abbr title="{{ s.timestamp }}">{{ s.timestamp|naturalday }}</abbr></td>
     <td style="text-align: center;">{{ s|episode_status_icon }}</td>
     <td>
      {% if s.device %}
       <a href="{% url device s.device.oldid %}">{{ s.device|device_icon }} {{ s.device.name|striptags }}</a>
      {% endif %}
     </td>
     <td>{% if s.started or s.playmark %}{{s.started|format_time }} - {% endif %}
         {% if s.playmark %}{{ s.playmark|format_time }}{% endif %}
     </td>
	</tr>
   {% endfor %}

   {% if user.is_authenticated %}
    <tr>
     <form action="{% episode_link_target episode podcast "add-episode-action" %}" method="POST">
      {% csrf_token %}
      <td>
       <input type="text" id="timestamp" name="timestamp" /></td>
      <td>
       <select name="action">
        {% for action, str in actions %}
         <option value="{{ action }}">{{ str }}</option>
        {% endfor %}
       </select>
      </td>
      <td>
       <select name="device">
        <option value=""></option>
        {% for device_id, name in devices.items %}
         <option value="{{ device_id }}">{{ name }}</option>
        {% endfor %}
       </select>
      </td>
      <td>
       <input type="submit" value="{% trans "Add" %}" />
      </td>
     </form>
    </tr>
   {% endif %}
  </table>
  </div>
  {% endif %}

  {% if not episode.title %}
   <div class="info"><strong>{% trans "Why Unnamed Episode?" %}</strong> {% trans "Because we display names after we have fetched the information form the feed -- and this may take some time. Until this is completed, the podcast will simply be called this way." %}</div>
  {% endif %}

 </div>

{% endblock %}


{% block javascript %}
 <script type="text/javascript">
  $("#start").watermark("h:mm:ss", {className: 'watermark'});
  $("#end").watermark("h:mm:ss", {className: 'watermark'});
  $("#timestamp").watermark("empty = now", {className: 'watermark'});

  {% if episode.url|is_youtube_video %}
   {{ episode|embed_youtube_video:user }}
  {% endif %}

 </script>
{% endblock javascript %}

