{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}
{% load charts %}

{% load menu %}
{% block mainmenu %}{{ "/toplist/episodes"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/toplist/episodes"|section_menu }}{% endblock %}

{% block title %}{% trans "Episode-Toplist" %}{% endblock %}

{% block content %}
  <h1>{% trans "Episode-Toplist" %}</h1>

  <p>{% blocktrans with entries|length as count %}These are the {{ count }} most-listened episodes of the last 7 days.{% endblocktrans %}</p>

  <table class="list episode_list">
   <tr>
    <th></th>
    <th></th>
    <th>{% trans "Episode" %}</th>
    <th>{% trans "Listeners" %}</th>
   </tr>
  {% for entry in entries %}
   <tr>
    <td class="numeric">{{ forloop.counter }}</td>
    <td>{{ entry.episode.podcast|podcast_logo }}</td>
    <td><a href="/episode/{{ entry.episode.id }}">
     {% if entry.episode.title %}
      {{ entry.episode.title|striptags }}
     {% else %}
      {% trans "Unnamed Episode" %}
     {% endif %}
     </a><br/>
     <span class="from_podcast">{% trans "from" %} <a href="/podcast/{{ entry.episode.podcast.id }}">{{ entry.episode.podcast|striptags }}</a></td>
    <td>{{ entry.listeners|vertical_bar:max_listeners }}</td>
   </tr>
  {% endfor %}
  </table>

  <div class="info"><strong>{% trans "You think that's not much?" %}</strong> {% blocktrans %}You're right - the listener counts are still pretty low, because they are only counted for users of gPodder 2.2 or later, which is rather new. So <a href="http://gpodder.org/downloads.html">get it</a>, if you don't have it already.{% endblocktrans %}</div>
{% endblock %}

