{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load episodes %}
{% load devices %}
{% load time %}

{% block head %}
 <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
 <script type="text/javascript" src="/media/js/jquery.watermark.min.js"></script>
{% endblock head %}

{% block title %}{{ episode.title|default:"Unnamed Episode"|striptags }} - {{ episode.podcast.title|default:"Unnamed Podcast"|striptags}}{% endblock %}

{% block content %}
  <h1>{{ episode.title|default:"Unnamed Episode"|striptags }}</h1>
  <div>{%blocktrans with episode.podcast|striptags as podcast and episode.podcast.id as podcast_id %}An episode of the <a href="/podcast/{{ podcast_id }}">{{ podcast }}</a> podcast.{% endblocktrans %}</div>

  {% if episode.timestamp %}
   <div>Released on {{episode.timestamp}}.</div>
  {% endif %}

  {% if episode.description %}
   <p class="description">{{ episode.description|striptags }}</p>
  {% endif %}

  <div class="links"><strong>Links: </strong>
   <a href="{{episode.url}}">{% trans "Direct Download" %}</a>
   {% if episode.link %}<a href="{{episode.link}}">Website</a>{% endif %}
  </div>

  {% if user.is_authenticated %}
   <h2>{% trans "Chapters" %}</h2>
   <table class="list">
    <tr>
     <th></th>
     <th>{% trans "Ad?" %}</th>
     <th>{% trans "Label" %}</th>
     <th></td>
    </tr>

    {% for chapter in chapters %}
     <tr>
      <td>{{ chapter.start|sec_to_time|time:"i:s" }}{% if chapter.start != chapter.end %} - {{ chapter.end|sec_to_time|time:"i:s" }}{% endif %}</td>
      <td>{% if chapter.advertisement %}Yes{% endif %}</td>
      <td>{{ chapter.label }}
      <td><a href="/episode/{{ episode.id }}/remove-chapter/{{ chapter.id}}"><img src="/media/unsubscribe.png" alt="{% trans "Remove" %}" /></a>
     </tr>
    {% endfor %}
    <tr>
     <form action="/episode/{{ episode.id }}/add-chapter" method="POST">
      <td>
       <input type="text" name="start" id="start" class="time" /> -
       <input type="text" name="end" id="end" class="time" />
      </td>
      <td>
       <input type="checkbox" name="advertisement" />
      </td>
      <td>
       <input type="text" name="label" />
      </td>
      <td>
       <input type="submit" value="{% trans "Add" %}" />
      </td>
     </form>
    </tr>
   </table>
  {% endif %}

  {% if not history|length_is:"0" %}
  <h2>{% trans "Your Episode History" %}</h2>
  <table class="list">
   <tr>
    <th>{% trans "When" %}</th>
    <th>{% trans "What" %}</th>
    <th>{% trans "Where" %}</th>
    <th></th>
   </tr>

   {% for s in history %}
    <tr>
     <td><abbr title="{{ s.timestamp }}">{{ s.timestamp|naturalday }}</abbr></td>
     <td>{{ s|episode_status_icon }}</td>
     <td><a href="/device/{{ s.device.id }}">{{ s.device|device_icon }} {{ s.device.name|striptags }}</a></td>
     <td>{% if s.playmark %}{{ s.playmark_time|date:"H:m:s" }}{% endif %}
	</tr>
   {% endfor %}
  </table>
  {% endif %}
  <br /><br />

  {% if not episode.title %}
   <div class="info"><strong>{% trans "Why Unnamed Episode?" %}</strong> {% trans "Because we display names after we have fetched the information form the feed -- and this may take some time. Until this is completed, the podcast will simply be called this way." %}</div>
  {% endif %}

{% endblock %}


{% block javascript %}
 <script type="text/javascript">
  $("#start").watermark("h:mm:ss", {className: 'watermark'});
  $("#end").watermark("h:mm:ss", {className: 'watermark'});
 </script>
{% endblock javascript %}

