{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/favorites/"|section_menu }}{% endblock %}

{% block title %}{% trans "Favorite Episodes" %}{% endblock %}

{% block content %}
  <h1>{% trans "Favorite Episodes" %}</h1>

  {% if episodes %}
  <table class="list episode_list">
   <tr>
    <th></th>
    <th></th>
   </tr>
  {% for episode in episodes %}
   <tr>
    <td>{{ episode.podcast|podcast_logo }}</td>
    <td><a href="{% url episode episode.id %}">
     {% if episode.title %}
      {{ episode.title|striptags }}
     {% else %}
      {% trans "Unnamed Episode" %}
     {% endif %}
     </a><br/>
     <span class="from_podcast">{% trans "from" %} <a href="{% url podcast episode.podcast.id %}">{{ episode.podcast|striptags }}</a></td>
   </tr>
  {% endfor %}
  </table>

  <h2>Favorites-Feed</h2>
   <p>
    {% url favorites-feed user.username as favorites-feed-url %}
    {% blocktrans with user.username as username and site.domain as domain %}
     You can access a feed containing your favorites episodes at
     <strong><a href="{{ favorites-feed-url }}">http://{{ domain }}{{ favorites-feed-url }}</a></strong>.
    {% endblocktrans %}
   </p>
   <div>
    <a href="{% url subscribe-by-url %}?url=http://{{ site.domain }}{% url favorites-feed user.username %}">
     <img src="/media/subscribe.png" style="vertical-align: middle;" /> {% trans "Subscribe" %}
    </a>
   </div>

   <h3>Access to your Favorites</h3>
   {% if feed_token.token %}
    <p>
     {% blocktrans with user.username as username and feed_token.token as token %}
      To keep your favorites private (from others and from the public pages of {{ site }}),
      you need to use HTTP-Authentication in your client. Use username
      <strong>{{ username }}</strong> and password <strong>{{ token }}</strong>.
     {% endblocktrans %}
    </p>
    <ul>
     <li><a href="{% url favorites %}?private_feed">{% trans "create a new password" %}</a></li>
     <li><a href="{% url favorites %}?public_feed">{% trans "don't require a password" %}</a>
      and make my favorites visible on {{ site }}</li>
    </ul>
   {% else %}
    <p>
     {% blocktrans with site as sitename %}You've marked your favorites-feed as public and others can
      subscribe to it. It will also be indexed by {{ sitename }}.{% endblocktrans %}
    </p>
    <ul>
     {% if podcast %}
      <li><a href="{% url podcast podcast.id %}">public information about your favorites-feed</a></li>
     {% endif %}
     <li><a href="{% url favorites %}?private_feed">{% trans "require a password for this feed" %}</a></li>
    </ul>
   {% endif %}
  {% else %}

   {% url episode-toplist as episode-toplist-url %}
   <p>{% blocktrans %}You don't have any episodes marked as favorites yet. Maybe have a look at the <a href="{{ episode-toplist-url }}">episode toplist</a>.{% endblocktrans %}</p>

   <p>{% blocktrans %}Once you've selected your favorites, you can subscribe to your very own <em>Favorites-Feed</em> that contains your favorite episodes{% endblocktrans %}</p>

  {% endif %}

{% endblock %}

