{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}
{% load episodes %}

{% load menu %}
{% block mainmenu %}{{ "/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/favorites/"|section_menu }}{% endblock %}

{% block title %}{% trans "Favorite Episodes" %}{% endblock %}

{% block content %}

 <div class="span8">
  <h1>{% trans "Favorite Episodes" %}</h1>

  <table class="list episode_list">
  {% for episode in episodes %}
   <tr>
    <td class="logo">{% if episode.podcast %}{{ episode.podcast|podcast_logo }}{% endif %}</td>
    <td>{% episode_link episode episode.podcast %}<br/>
     {% if episode.podcast %}
      <span class="from_podcast">{% podcast_group_link episode.podcast %}</span>
     {% endif %}
    </td>
    <td>
     <span class="icon-star"></span>
    </td>
   </tr>
  {% empty %}
   empty here
  {% endfor %}
  </table>

  <div class="btn-group">
   <a class="btn" href="{% url share-favorites %}">
    <img src="/media/24x24/openshareicon.png" />
    Share
   </a>
  </div>
 </div>

 <div class="span4 well">
  <h3>Recently Listened</h3>

  <table class="list episode_list">
  {% for episode in recently_listened %}

   <tr>
    <td class="logo">{% if episode.podcast %}{{ episode.podcast|podcast_logo }}{% endif %}</td>
    <td>
     {% if episode.podcast %}
      {% episode_link episode episode.podcast %}<br/>
      <span class="from_podcast">{% podcast_group_link episode.podcast %}</span>
     {% endif %}
    </td>
    <td>
     <form class="form-inline" action="">
      {% if episode in episodes %}
       <span class="icon-star"></span>
      {% else %}
       <span class="icon-star-empty"></span>
      {% endif %}
     </form>
    </td>
   </tr>

  {% endfor %}
  </table>

 </div>

{% endblock %}
