{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load devices %}
{% load podcasts %}

{% block content %}
  <h1>{% trans "Subscription History" %}</h1>

   {% if not history|length_is:"0" %}
   <table class="list">
    <tr>
     <th></th>
     <th>{% trans "Podcast" %}</th>
     <th>{% trans "Timestamp" %}</th>
     <th>{% trans "Action" %}</th>
     <th>{% trans "Device" %}</th>
    </tr>
    {% for s in history %}
     <tr>
      <td>{{ s.podcast|podcast_logo }}</td>
      <td><a href="/podcast/{{ s.podcast.id }}">{{ s.podcast|striptags }}</a></td>
      <td><abbr title="{{ s.timestamp }}">{{ s.timestamp|naturalday }}</abbr></td>
      <td>
       {% ifequal s.action 1 %}
        <img src="/media/subscribe.png" />
       {% endifequal %}
       {% ifequal s.action -1 %}
        <img src="/media/unsubscribe.png" />
       {% endifequal %}
      </td>
      <td><a href="/device/{{ s.device.id }}">{{ s.device|device_icon }}&nbsp;{{ s.device.name|striptags }}</a></td>
     </tr>
    {% endfor %}
   </table>
  {% endif %}
{% endblock %}

