{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load devices %}
{% load podcasts %}
{% load episodes %}

{% block content %}
   <h1>{% trans "History" %}{% if deviceflag %}: {{ device|device_icon }}&nbsp;{{ device.name }}{% endif %}</h1>

   {% if not generalhistory|length_is:"0" %}
   <table class="list">
    <tr>
     <th></th>
     <th>{% trans "Podcast/Episode" %}</th>
     <th>{% trans "Timestamp" %}</th>
     <th>{% trans "Action" %}</th>
     <th>{% trans "Device" %}</th>
    </tr>
    {% for s in generalhistory %}
     <tr>
      <td>{{ s.podcast|podcast_logo }}</td>
      <td>
       {% if s.podcast %}
        <a href="/podcast/{{ s.podcast.id }}">{{ s.podcast|striptags }}</a></td>
       {% else %}
        <a href="/episode/{{ s.episode.id }}">{{ s.episode|striptags }}</a></td>
       {% endif %}
      <td><abbr title="{{ s.timestamp }}">{{ s.timestamp|naturalday }}</abbr></td>
      <td>
       {% if s.podcast %}
        {% ifequal s.action 1 %}
         <img src="/media/subscribe.png" />
        {% endifequal %}
        {% ifequal s.action -1 %}
         <img src="/media/unsubscribe.png" />
        {% endifequal %}
       {% else %}
        {{ s|episode_status_icon }}
       {% endif %}
      </td>
      <td><a href="/device/{{ s.device.id }}">{{ s.device|device_icon }}&nbsp;{{ s.device.name|striptags }}</a></td>
     </tr>
    {% endfor %}
   </table>
  {% endif %}


{% endblock %}
