{% extends "base.html" %}
{% load i18n %}
{% load devices %}
{% load podcasts %}

{% block title %}{% trans "Your Subscriptions" %}{% endblock %}

{% block content %}
{% if deletedevice_success %}
   <div class="success">{% blocktrans with device_name|striptags as devicename %}The device {{ devicename }} has been deleted.{% endblocktrans %}</div>
{% endif %}

<h1>{% trans "Your Subscriptions" %}</h1>

 {% if not subscriptionlist|length_is:"0" %}
 <table class="list">
  <tr>
   <th>&nbsp;</th>
   <th>{% trans "Podcast" %}</th>
   <th>{% trans "Latest Episode" %}</th>
   <th>{% trans "Subscribed on" %}</th>
  </tr>
  
  {% for s in subscriptionlist %}
   <tr>
    <td>{{ s.podcast|podcast_logo }}</td>
    <td><a class="listlink" href="/podcast/{{ s.podcast.id }}">{{ s.podcast|striptags }}</a></td>
    {% if s.episode %}
     <td><a href="/episode/{{s.episode.id}}">{{ s.episode.title|default:"Unnamed Episode"|striptags }}</a></td>
    {% else %}
     <td></td>
    {% endif %}
    <td>{{ s.devices|device_list }}</td>
   </tr>
  {% endfor %}
  </table>
 {% else %}

 <h2>{% trans "Where to start?" %}</h2>
 <p>{% blocktrans with user.username|striptags as username %}{{ url }} help you to track your podcasts which you have subscribed on your devices - desktop computer, notebook, mobile devices, etc. To start using my.gpodder.org set up <a href="http://gpodder.org">gPodder</a> with your username &ndash; <strong>{{username}}</strong> &ndash; and password and upload your podcasts. They will automatically show up here.{% endblocktrans %}</p>

 {% endif %}

 <div class="info">
  <strong>{% trans "Subscribe to new Podcasts!" %}</strong>
  {% blocktrans %}Browse the <a href="/toplist/">toplist</a> and your <a href="/suggestions/">personal suggestions</a>, <a href="/search/">search</a> or simply copy and paste the podcast's URL here{% endblocktrans %}
  <form method="get" action="subscribe">
   <input class="url" name="url" type="text" />
   <input type="submit" value="{% trans "Subscribe" %}" />
  </form>
 </div>

{% endblock %}

