{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/login/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/login/"|section_menu }}{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

 {% if next %}
  <div class="error">
   {% trans "You need to login to access this page." %}
  </div>
 {% endif %}


 <h1>Login</h1>

 <div class="form">
  <form action="{% url login %}" method="post">

   {% csrf_token %}

   <label>Username
   </label>
   <input type="text" name="user" id="login_username" />

   <label>Password
    <span class="small"><a href="{% url restore-password %}">Forgot your password?</a></span>
   </label>
   <input type="password" name="pwd" />

   <button type="submit">Login</button>
   <div class="spacer"></div>

   </form>
  </div>

{% endblock %}

