{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/login/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/login/"|section_menu }}{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

 <div class="row-fluid">
  <div class="span12">
   <h1>{% trans "Login" %}
  </div>
 </div>

 <div class="row-fluid">

  <div class="span8">

   <form class="form-horizontal" action="{% url login %}" method="post">

    <fieldset>
     {% csrf_token %}

     <div class="control-group">
      <label class="control-label">Username</label>
      <div class="controls">
       <input type="text" name="user" id="login_username" />
      </div>
     </div>

     <div class="control-group">
      <label class="control-label">Password</label>
      <div class="controls">
       <input type="password" name="pwd" />
       <p>
        <a href="{% url restore-password %}">
         {% trans "Forgot your password?" %}
        </a>
       </p>
      </div>
     </div>

     <div class="control-group">
      <div class="controls">
       <button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
      </div>
     </div>

    </fieldset>
   </form>
  </div>

  {% if next %}
   <div class="span4">
    <div class="error">
     {% trans "You need to login to access this page." %}
    </div>
   </div>
  {% endif %}

 </div>

{% endblock %}

