{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Select a Username" %}{% endblock %}

{% block content %}
  <h1>{{ url }}</h1>
  <p>{% blocktrans with username|striptags as user_name %}The new {{ url }} uses usernames instead of email addresses. Based on your email address, we think you might like <strong>{{user_name}}</strong>, but you can change that if you want to.{% endblocktrans %}</p>

  <form action="{% url migrate-user %}" method="post">
  {% csrf_token %}
  Username: <input type="text" name="username" value="{{ username|striptags }}"/><br /><br />
  <input type="submit" name="submit" value="Submit" />
  </form>
  <p>{% trans "You can keep your old user settings in gPodder. Once the next version (with lots of new features) is release, you'll have to replace your email address with your username." %}</p>
{% endblock %}

