{% extends "base.html" %}
{% load i18n %}
{% load devices %}
{% load episodes %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/tags/"|section_menu }}{% endblock %}

{% block title %}{% trans "My Tags" %}{% endblock %}

{% block content %}

 {% if tags_podcast %}

  <h1>{% trans "Tagged Podcasts" %}</h1>
  <table class="list">
   {% for podcast, taglist in tags_podcast.items %}
    <tr>
     <td>{{ podcast|podcast_logo }}</td>
     <td><a href="/podcast/{{ podcast.id}}">{{ podcast|striptags}}</a></td>
     <td class="tag-list">
     {% for tag in taglist %}{% spaceless %}
       {% if tag.is_own %}
        <span class="own">{{ tag.tag }} <a class="remove" href="/podcast/{{ podcast.id }}/remove-tag?tag={{ tag.tag }}&next=mytags">X</a></span>
       {% else %}
        <span class="other">{{ tag.tag }}</span>
       {% endif %}
       {% if not forloop.last %}<span class="seperator">,</span>{% endif %}
      {% endspaceless %}
     {% endfor %}
     {% if user.is_authenticated %}
      <form action="/podcast/{{ podcast.id }}/add-tag">
       <input type="text" name="tag" />
       <input type="submit" value="Add" />
       <input type="hidden" name="next" value="mytags" />
      </form>
     {% endif %}
     </td>
    </tr>
   {% endfor %}
  </table>


  <h1>{% trans "All your Tags" %}</h1>
  <table class="list">
  {% for tag, podcast_list in tags_tag.items %}
   <tr>
    <td>{{ tag }}</td>
    <td>
     {% for podcast in podcast_list %}
      <a href="/podcast/{{ podcast.podcast.id }}">{{ podcast.podcast|podcast_logo }}</a>
     {% endfor %}
    </td>
   </tr>
  {% endfor %}

  </table>


 {% else %}

  <h1>{% trans "My Tags" %}</h1>
  <div class="info">
   {% blocktrans %}You didn't tag any photos yet. Go to your <a href="/subscriptions/">subscriptions</a> and tag some.{% endblocktrans %}
  </div>
 {% endif %}

{% endblock %}

