{% extends "base.html" %}
{% load i18n %}
{% load devices %}
{% load episodes %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/tags/"|section_menu }}{% endblock %}

{% block title %}{% trans "My Tags" %}{% endblock %}

{% block header %}
  <h1>{% trans "My Tags" %}</h1>
{% endblock %}


{% block content %}

 {% if tags_podcast %}

  <table class="list">
  {% for tag, podcast_list in tags_tag.items %}
   <tr>
    <td>{{ tag }}</td>
    <td>
     {% for podcast in podcast_list %}
      <a href="{% podcast_link_target podcast %}">{{ podcast|podcast_logo }}</a>
     {% endfor %}
    </td>
   </tr>
  {% endfor %}

  </table>


 {% else %}

  <div class="info">
   {% url subscriptions as subscriptions-url %}
   {% blocktrans %}You didn't tag any podcasts yet. Go to your <a href="{{ subscriptions-url }}">subscriptions</a> and tag some.{% endblocktrans %}
  </div>
 {% endif %}

{% endblock %}

