{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load episodes %}
{% load podcasts %}
{% load devices %}
{% load charts %}

{% load menu %}
{% block mainmenu %}{{ "/podcast/"|main_menu }}{% endblock %}
{% block sectionmenu %}
 {% if podcast.title %}
  {{ "/podcast/"|section_menu:podcast.title }}
 {% else %}
  {{ "/podcast/"|section_menu:"Unnamed Podcast" }}
 {% endif %}
{% endblock %}

{% block title %}{{ podcast.title|default:"Unnamed Podcast"|striptags }}{% endblock %}

{% block content %}
  {% if podcast.logo_url %}
  <div id="podcastlogo">{{ podcast|podcast_logo_big }}</div>
  {% endif %}

  <h1>{% if podcast.title %}{{ podcast.title|striptags }}{% else %}{% trans "Unnamed Podcast" %}{%endif%}</h1>
  <small class="description">
      {% trans "links" %}:
      <a href="{{podcast.url}}">{% trans "feed" %}</a>{% if podcast.link %}, <a href="{{podcast.link}}">{% trans "website" %}</a>
      {% endif %},
      {% trans "stats:" %} {% blocktrans with podcast.subscriber_count as subscriber_count and podcast.listener_count as listener_count %}{{subscriber_count}} subscribers, {{listener_count}} listeners{% endblocktrans %}
  </small>
  <hr style="clear: none;"/>

  {% if related_podcasts %}
   <div class="related-podcasts">
    <strong>{% trans "Also available" %}</strong>
    {% for p in related_podcasts %}
     <a href="{% url podcast p.id %}">{{ p.group_member_name|striptags }}</a>
    {% endfor %}
   </div>
  {% endif %}

  {% if podcast.description %}
   <p class="description">{{ podcast.description|striptags }}</p>
  {% endif %}

   {% if devices %}
    <h2>{% trans "My Subscriptions" %}</h2>

    {% if privacy_form %}
     {% if success %}
      <div class="success">{% trans "Your settings have been saved." %}</div>
     {% endif %}

     <form action="{% url podcast podcast.id %}" method="POST">
         {% csrf_token %}
         <p>{{ privacy_form.public }} {{ privacy_form.public.label_tag }}</p>
         <input type="submit" value="Save" />
     </form>
    {% endif %}
   {% endif %}

  {% if not user.is_authenticated %}
      <div class="subscribe"><a href="{% url subscribe podcast.id %}"><img src="/media/subscribe.png" style="vertical-align: middle;" alt=""/> {% trans "Subscribe to this podcast" %}</a></div>
  {% endif %}

  {% if devices or can_subscribe %}
    <table class="list" id="subscribed-devices-list">
        <tr>
            <th>{% trans "Device" %}</th>
            <th>{% trans "(Un)subscribe" %}</th>
        </tr>
    {% for device in devices %}
        <tr>
            <td>
                {{ device|device_icon }}
                <a href="{% url device device.id %}">{{ device|striptags }}</a>
            </td>
            <td style="text-align: center;">
                <a href="{% url unsubscribe podcast.id device.id %}?return_to=/podcast/{{ podcast.id }}"><img src="/media/unsubscribe.png" alt="{% trans "Unsubscribe" %}" title="{% trans "Click here to unsubscribe" %}"/></a>
            </td>
        </tr>
    {% endfor %}
        {% if can_subscribe %}
         <tr>
          <form action="{% url subscribe podcast.id %}" method="post">
           {% csrf_token %}
           <td>{{ subscribe_form.as_p }}</td>
           <td style="text-align: center;">
            <input type="submit" class="subscribe" value="" />
           </td>
          </form>
         </tr>
        {% endif %}

    </table>
   {% endif %}

    <div class="tag-list">
     <h3>Tags</h3>
     {% for tag in tags %}{% spaceless %}
       {% if tag.is_own %}
        <span class="own">{{ tag.tag }} <a class="remove" href="{% url remove-tag podcast.id %}?tag={{ tag.tag }}">X</a></span>
       {% else %}
        <span class="other">{{ tag.tag }}</span>
       {% endif %}
       {% if not forloop.last %}<span class="seperator">,</span>{% endif %}
      {% endspaceless %}
     {% endfor %}
     {% if user.is_authenticated %}
      <form action="/podcast/{{ podcast.id }}/add-tag">
       <input type="text" name="tag" />
       <input type="submit" value="Add" />
      </form>
     {% endif %}
    </div>


  {% if episodes %}
   <hr/>
   <a name="episodes" />
   <table class="list episode_list">
    <tr>
     <th></th>
     <th>{% trans "Episode" %}</th>
     <th>{% trans "Released" %}</th>
     <th>{% trans "Listeners" %}</th>
    </tr>

    {% for episode in episodes %}
     <tr>
      <td style="text-align: center; padding-left: 5px; padding-right: 5px;">{{ episode.action|episode_status_icon }}</td>
      <td style="width: 500px;">
          <p class="title"><a href="{% url episode episode.id %}">{{ episode.title|default:"Unknown Episode"|striptags }}</a></p>
          <p class="description">{{ episode.description|default:""|striptags|truncatewords:"15" }}</p>
      </td>
      <td>{{ episode.timestamp|default:""|date:"Y-m-d" }}</td>
      <td>
       {% if episode.listener_count %}
        {{ episode.listener_count|vertical_bar:max_listeners }}
       {% endif %}
      </td>
     </tr>
    {% endfor %}
   </table>
  {% endif %}

  {% if history %}
   <hr/>
   <h2>{% trans "Subscription history" %}</h2>
   <table class="list">
    <tr>
     <th>{% trans "Timestamp" %}</th>
     <th>{% trans "Action" %}</th>
     <th>{% trans "Devices" %}</th>
    </tr>
    {% for s in history %}
     <tr>
      <td><abbr title="{{ s.timestamp }}">{{ s.timestamp|naturalday }}</abbr></td>
      <td>{{ s|podcast_status_icon }}</td>
      <td>
       <a href="{% url device s.device.id %}">{{ s.device|device_icon }} {{ s.device.name|striptags }}</a></td>
     </tr>
    {% endfor %}
   </table>
  {% endif %}

  {% if not podcast.title %}
   <div class="info"><strong>{% trans "Why Unnamed Podcast?" %}</strong> {% trans "Because we display names after we have fetched the information form the feed -- and this may take some time. Until this is completed, the podcast will simply be called this way." %}</div>
  {% endif %}

{% endblock %}

