{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}
{% load facebook %}
{% load google %}
{% load utils %}

{% load menu %}
{% block mainmenu %}{{ "/podcast/"|main_menu }}{% endblock %}
{% block sectionmenu %}
 {{ "/podcast/"|section_menu:podcast.display_title }}
{% endblock %}

{% block head %}
 {{ podcast|opengraph_podcast }}
 {% google_plus_one_head %}
{% endblock %}

{% block title %}{{ podcast.display_title|striptags }}{% endblock %}

{% block header %}
  <h1>
   {{ podcast.display_title|striptags }}
  </h1>
{% endblock %}

{% block sidebar %}

   {% if podcast.logo_url %}
    <div id="podcastlogo">
     <a href="{% podcast_link_target podcast %}">
      {{ podcast|podcast_logo_big }}
     </a>
    </div>
   {% endif %}

   <div id="info">

    {% if podcast.author %}
     <div class="item">
      <span class="key"><i class="fa-group"></i> Author</span>
      <span class="value">{{ podcast.author|striptags }}</span>
     </div>
    {% endif %}

    {% if podcast.twitter %}
     <div class="item">
      <span class="key"><i class="fa-twitter"></i> Twitter</span>
      <span class="value"><a href="https://twitter.com/{{ podcast.twitter|striptags }}">@{{ podcast.twitter }}</a></span>
     </div>
    {% endif %}

    <div class="item">
     <span class="key"><i class="fa-rss"></i> Feed</span>
     <span class="value"><a href="{{podcast.url}}" title="{% trans "Feed" %}">{{ podcast.url|domain }}</a></span>
    </div>

    {% if podcast.link %}
     <div class="item">
      <span class="key"><i class="fa-external-link"></i> {% trans "Website" %}</span>
      <span class="value"><a href="{{podcast.link}}"> {{ podcast.link|domain }}</a></span>
     </div>
    {% endif %}

    {% if podcast.license %}
     <div class="item">
      <span class="key"><i class="fa-legal"></i> License</span>
      <span class="value"><a href="{{ podcast.license }}">{{ podcast.license|license_name }}</a></span>
     </div>
    {% endif %}

    {% if podcast.subscriber_count %}
     <div class="item">
      <span class="key"><i class="fa-line-chart"></i> Subscribers</span>
      <span class="value">{{ podcast.subscriber_count }}</span>
     </div>
    {% endif %}
   </div>

   {% block sidebarcontent %}
   {% endblock %}

{% endblock sidebar %}

{% block content %}

   {% if related_podcasts %}
    <div class="related-podcasts">
     <form class="form-inline">
      <select class="input-mini" id="relatedpodcasts">
       {% for p in related_podcasts %}
        {% if p.group_member_name == podcast.group_member_name %}
         <option value="{% podcast_link_target p %}" selected="selected">{{ p.group_member_name }}</option>
        {% else %}
         <option value="{% podcast_link_target p %}">{{ p.group_member_name }}</option>
        {% endif %}
       {% endfor %}
      </select>
     </form>
    </div>
   {% endif %}

   {% if podcast.description %}
    <div class="description" {% if podcast.language %}lang="{{ podcast.language }}"{% endif %}>
     {{ podcast.description|markdown }}
    </div>
   {% endif %}

  {% block podcastcontent %}
  {% endblock %}

{% endblock %}


{% block ads %}
 {% comment %}disable ads on podcast pages{% endcomment %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#relatedpodcasts").change(function()
            {
                window.location.href = $("#relatedpodcasts option:selected").val();
            });
        });
    </script>
{% endblock %}
