{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/privacy"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/privacy/"|section_menu }}{% endblock %}

{% block title %}{% trans "Privacy Policy" %}{% endblock %}


{% load i18n %}


{% block content %}


<h2>gpodder.net Privacy Policy</h2>

<h3>Which kind of Personal Data data do we process?</h2>
<p>
When registering an account on gpodder.net, we store the following information
about you:
</p>
<ul>
    <li>E-Mail address</li>
</ul>

<h3>Which kind of Application Data do we process?</h2>
<p>
When using a client application with gpodder.net, we might store the following
application-specific data:
</p>
<ul>
    <li>User-supplied device name and type</li>
    <li>Per-device subscription list of podcasts</li>
    <li>Episode actions (e.g. play, download, delete) as sent by the client</li>
    <li>User-generated content when created inside the client application</li>
</ul>
</p>
Depending on the client application you use, we might only store a subset of
this data.
</p>

<h3>Why do we collect this data?</h3>
<p>
We need to store your e-mail address so that we can inform you about news
regarding the gpodder.net service. The e-mail address is also used to check
your identity to change the password in case of a forgotten password.
</p>
<p>
Your e-mail address is solely used for the purposes of contacting you in case
we upgrade our service, and to reset a forgotten password. We will never sell
your e-mail address or give it to third parties.
</p>
<p>
The application-specific data is collected as part of the gpodder.net service.
Without collection application-specific data, the web service can not be used.
</p>

<h3>How do we protect this data?</h3>
<p>
We try to protect this data as much as possible by utilizing secure coding
practices, and by making sure that updates to vital system packages are always
applied from the operating system vendor that we happen to use.
</p>
<p>
Passwords are stored in hashed format, which means that we cannot retrieve your
plaintext password from the database. Instead, when you enter your password,
we compare its hash with the stored hash to check its validity. When you forget
your password, we cannot tell you old your password, but you can set a new one.
</p>
<p>
Connections to the web site and API parts are protected via SSL (Secure Socket
Layer) HTTP connection ("HTTPS"), so that the data is not sent in plain text
over the network.
</p>

<h3>Code auditing</h3>
<p>
The code running this web service is open source, and can be audited by
independent third parties. We are grateful for any improvement suggestions,
and will try to integrate improvement suggestions as quickly as possible.
</p>

<h3>Contact</h3>
<p>
If you have any questions, feel free to contact us.
</p>


{% endblock %}

