{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/account/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/account/privacy"|section_menu }}{% endblock %}

{% block title %}{% trans "Privacy Settings" %}{% endblock %}

{% block header %}
  <h1>{% trans "Privacy Settings" %}</h1>
{% endblock %}


{% block content %}

  <p>{% blocktrans %}{{ domain }} distinguishes between public and private subscriptions.{% endblocktrans %}
  <ul>
   <li>{% blocktrans %}<strong>Public</strong> subscriptions are included in your <a href="/share/">shared podcasts</a> and our anonymized public statistics.{% endblocktrans %}</li>
   <li>{% blocktrans %}<strong>Private</strong> subscriptions do neither show up in your list of shared podcasts, nor are considered in our statistics.{% endblocktrans %}</li>
  </ul>
  </p>

  <h2>{% trans "Subscriptions" %}</h2>
  <table class="list">
   <tr>
    <td class="logo"></td>
    <td>{% trans "Default for new subscriptions" %}</td>
    <td>
     <form name="default_public"
           method="post"
           action="{% url "privacy_default_public" %}">
      {% csrf_token %}
     </form>
     <form name="default_private"
           method="post"
           action="{% url "privacy_default_private" %}">
      {% csrf_token %}
     </form>
     {% include "share/components/private-toggle.html" with private=private_subscriptions public_action="default_public" private_action="default_private" %}
    </td>
   </tr>

   {% for podcast, private in subscriptions %}
    <tr>
     <td class="logo">{{ podcast|podcast_logo }}</td>
     <td>{% podcast_group_link podcast %}</td>
     <td>
      <form name="podcast_private_{{ podcast.get_id }}"
            method="post"
            action="{% url "privacy_podcast_private" podcast.get_id %}">
       {% csrf_token %}
      </form>
      <form name="podcast_public_{{ podcast.get_id }}"
            method="post"
            action="{% url "privacy_podcast_public" podcast.get_id %}">
       {% csrf_token %}
      </form>
      {% include "share/components/private-toggle.html" with private=private public_action="podcast_public_" private_action="podcast_private_" param=podcast.get_id %}
     </td>
    </tr>
   {% endfor %}
  </table>


  {% if included_subscriptions %}
    <h2>{% trans "Public Subscriptions" %}</h2>
    <table class="list">

     {% for podcast in included_subscriptions %}
      <tr>
       <td class="logo">{{ podcast|podcast_logo }}</td>
       <td>{% podcast_group_link podcast %}</td>
       <td>
        <form method="post" action="{% url "privacy_podcast_private" podcast.get_id %}">
         {% csrf_token %}
         <button class="btn btn-default btn-sm" type="submit">
          <i class="icon-eye-close"></i> {% trans "Make Private" %}
         </button>
        </form>
       </td>
      </tr>
     {% endfor %}
    </table>
  {% endif %}


    {% if excluded_subscriptions %}
     <h2>{% trans "Private Subscriptions" %}</h3>
     <table class="list">

      {% for podcast in excluded_subscriptions %}
       <tr>
        <td class="logo">{{ podcast|podcast_logo }}</td>
        <td>{% podcast_group_link podcast %}</td>
        <td>
        <form method="post" action="{% url "privacy_podcast_public" podcast.get_id %}">
         {% csrf_token %}
         <button class="btn btn-default btn-sm" type="submit">
          <i class="icon-eye-open"></i> {% trans "Make Public" %}
         </button>
        </form>
       </tr>
      {% endfor %}
     </table>
    {% endif %}

{% endblock %}



{% block javascript %}
    <script language="javascript">
        <!--
        function submitForm(formid)
        {
            document.forms[formid].submit();
            return true;
        }
        -->
    </script>
{% endblock %}
