{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/account/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/account/privacy"|section_menu }}{% endblock %}

{% block title %}{% trans "Privacy Settings" %}{% endblock %}

{% block content %}
  <h1>{% trans "Privacy Settings" %}</h1>

  <p>{% blocktrans %}{{ domain }} distinguishes between public and private subscriptions.{% endblocktrans %}</p>
  <ul>
   <li>{% blocktrans %}<strong>Public</strong> subscriptions are not shown to anybody (unless you chose to <a href="/share/">share</a> them), but are included anonymized on our public statistics.{% endblocktrans %}</li>
   <li>{% blocktrans %}<strong>Private</strong> subscriptions do neither show up in your list of shared podcasts, nor are considered in our statistics.{% endblocktrans %}</li>
  </ul>

  <p>
   {% url privacy as privacy-url %}
   {% if public_subscriptions %}
    {% blocktrans %}New subscriptions will be public by default. Change to <a href="{{ privacy-url }}?private_subscriptions">private</a>.{% endblocktrans %}
   {% else %}
    {% blocktrans %}New subscriptions will be private by default. Change to <a href="{{ privacy-url }}?public_subscriptions">public</a>.{% endblocktrans %}
   {% endif %}
  </p>

  {% if included_subscriptions %}
    <h2>{% trans "Your Public Subscriptions" %}</h2>
    <table class="list">
     <tr>
      <th></th>
      <th>{% trans "Podcast" %}</th>
      <th>{% trans "Make Private" %}</th>
     </tr>

     {% for podcast in included_subscriptions %}
      <tr>
       <td>{{ podcast|podcast_logo }}</td>
       <td><a href="{% url podcast podcast.oldid %}">{{ podcast.display_title|striptags }}</a></td>
       <td><a href="{% url privacy %}?exclude={{ podcast.get_id }}"><img src="/media/unsubscribe.png" alt="{% trans "Make Public" %}" /></a></td>
      </tr>
     {% endfor %}
    </table>
  {% endif %}


    {% if excluded_subscriptions %}
     <h2>{% trans "Your Private Subscriptions" %}</h3>
     <table class="list">
      <tr>
       <th></th>
       <th>{% trans "Podcast" %}</th>
       <th>{% trans "Make Public" %}</th>
      </tr>

      {% for podcast in excluded_subscriptions %}
       <tr>
        <td>{{ podcast|podcast_logo }}</td>
        <td><a href="{% url podcast podcast.oldid %}">{{ podcast.display_title|striptags }}</a></td>
        <td><a href="{% url privacy %}?include={{ podcast.get_id }}"><img src="/media/edit-undo.png" alt="{% trans "Make Private" %}" /></a></td>
       </tr>
      {% endfor %}
     </table>
    {% endif %}

{% endblock %}

