{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/account/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/account/privacy"|section_menu }}{% endblock %}

{% block title %}{% trans "Privacy Settings" %}{% endblock %}

{% block content %}
  <h1>{% trans "Privacy Settings" %}</h1>

  <p>{% blocktrans %}{{ domain }} distinguishes between public and private subscriptions.{% endblocktrans %}
  <ul>
   <li>{% blocktrans %}<strong>Public</strong> subscriptions are included in your <a href="/share/">shared podcasts</a> them) and ouranonymized public statistics.{% endblocktrans %}</li>
   <li>{% blocktrans %}<strong>Private</strong> subscriptions do neither show up in your list of shared podcasts, nor are considered in our statistics.{% endblocktrans %}</li>
  </ul>
  </p>

  <p>
   {% if public_subscriptions %}
    {% trans "New subscriptions will be public by default." %}
    <form method="post" action="{% url privacy_default_private %}">
     {% csrf_token %}
     <button class="btn btn-warning" type="submit">
      <i class="icon-eye-close"></i> {% trans "Change to Private" %}
     </button>
    </form>
   {% else %}
    {% trans "New subscriptions will be private by default." %}
    <form method="post" action="{% url privacy_default_public %}">
     {% csrf_token %}
     <button class="btn btn-warning" type="submit">
      <i class="icon-eye-open"></i> {% trans "Change to Public" %}
     </button>
    </form>
   {% endif %}
  </p>

  {% if included_subscriptions %}
    <h2>{% trans "Public Subscriptions" %}</h2>
    <table class="list">

     {% for podcast in included_subscriptions %}
      <tr>
       <td class="logo">{{ podcast|podcast_logo }}</td>
       <td>{% podcast_group_link podcast %}</td>
       <td>
        <form method="post" action="{% url privacy_podcast_private podcast.get_id %}">
         {% csrf_token %}
         <button class="btn btn-danger" type="submit">
          <i class="icon-eye-close"></i> {% trans "Make Private" %}
         </button>
        </form>
       </td>
      </tr>
     {% endfor %}
    </table>
  {% endif %}


    {% if excluded_subscriptions %}
     <h2>{% trans "Private Subscriptions" %}</h3>
     <table class="list">

      {% for podcast in excluded_subscriptions %}
       <tr>
        <td class="logo">{{ podcast|podcast_logo }}</td>
        <td>{% podcast_group_link podcast %}</td>
        <td>
        <form method="post" action="{% url privacy_podcast_public podcast.get_id %}">
         {% csrf_token %}
         <button class="btn btn-warning" type="submit">
          <i class="icon-eye-open"></i> {% trans "Make Public" %}
         </button>
        </form>
       </tr>
      {% endfor %}
     </table>
    {% endif %}

{% endblock %}

