{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/login/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/login/"|section_menu }}{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block header %}
 <h1>Restore Password</h1>
{% endblock %}


{% block content %}

 <div class="form">

  <form action="{% url "restore-password" %}" method="POST">
   {% csrf_token %}
   <p>{% blocktrans %}Please enter either your username or (if you don't know that either) the e-mail address which you used to register your account. An e-mail will be sent to you.{% endblocktrans %}</p>

   <label>{{ form.username.label_tag }}</label>
   {{ form.username }}

   <label>{{ form.email.label_tag }}</label>
   {{ form.email }}

   <button type="submit">{% trans "Reset Password" %}</button>
  </form>
 </div>

{% endblock %}

