{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/share/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/share/"|section_menu }}{% endblock %}

{% block title %}{% trans "Share Subscriptions" %}{% endblock %}

{% block content %}

 <div class="span12">
  <h1>{% trans "Share Subscriptions" %}</h1>


  <table>

   <tr>
    <td>
     <img src="/media/22x22/internet-web-browser.png" class="action-button" />
    </td>
    <td>
     <a href="{% url shared-subscriptions user.username %}{% if token %}?token={{ token }}{% endif %}">
      {% trans "Website" %}
     </a>
    </td>
    <td>
     <input class="input-xxlarge" readonly="readonly" type="text" value="http://{{ site.domain }}{% url shared-subscriptions user.username %}{% if token %}?token={{ token }}{% endif %}" />
    </td>
   </tr>

   <tr>
    <td>
     <img src="/media/22x22/opml-icon.png" class="action-button" />
    </td>
    <td>
     <a href="{% url shared-subscriptions-opml user.username %}{% if token %}?token={{ token }}{% endif %}">
      {% trans "Download as OPML" %}
     </a>
    </td>
    <td>
     <input class="input-xxlarge" readonly="readonly" type="text" value="http://{{ site.domain }}{% url shared-subscriptions-opml user.username %}{% if token %}?token={{ token }}{% endif %}" />
    </td>
   </tr>

   <tr>
    <td>
     <img height="22" width="22" src="/media/28x28/feed-icon.png" class="action-button" />
    </td>
    <td>
     <a href="{% url shared-subscriptions-rss user.username %}{% if token %}?token={{ token }}{% endif %}">
      {% trans "Changes-Feed" %}
     </a>
    </td>
    <td>
     <input class="input-xxlarge" readonly="readonly" type="text" value="http://{{ site.domain }}{% url shared-subscriptions-rss user.username %}{% if token %}?token={{ token }}{% endif %}" />
    </td>
   </tr>
  </table>

    <div class="btn-group">
  {% if token %}
     <button type="submit" class="btn btn-warning" onclick="submitForm('private');">
      <i class="icon-eye-close"></i> {% trans "New Password" %}
     </button>
     <button type="submit" class="btn btn-warning" onclick="submitForm('public');">
      <i class="icon-eye-open"></i> {% trans "Make Public" %}
     </button>
  {% else %}
     <button type="submit" class="btn btn-warning" onclick="submitForm('private');">
      <i class="icon-eye-close"></i> {% trans "Make Private" %}
     </button>
  {% endif %}
    <a class="btn" href="{% url privacy %}">
      <i class="icon-filter"></i> {% trans "Filter Shared Podcasts" %}
    </a>
    </div>

    <form id="private" class="form-inline" method="post" action="{% url private_subscriptions %}">
     {% csrf_token %}
    </form>

    <form id="public" class="form-inline" method="post" action="{% url public_subscriptions %}">
     {% csrf_token %}
    </form>


  <div class="info">
   {% trans "Add <tt>&amp;symbian=true#.opml</tt> to the OPML URL to get an OPML file for Nokia Podcasting on Symbian devices." %}
  </div>

 </div>

{% endblock %}


{% block javascript %}

    <script language="javascript">
        <!--
        function submitForm(formid)
        {
            document.forms[formid].submit();
            return true;
        }
        -->
    </script>

{% endblock %}
