{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/share/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/share/"|section_menu }}{% endblock %}

{% block title %}{% trans "Share your subscriptions" %}{% endblock %}

{% block content %}

 <div class="span12">

 <div class="row-fluid">
  <div class="span12">
   <h1>{% trans "Share your subscriptions" %}</h1>
  </div>
 </div>


 <div class="row-fluid">
  <div class="span12">

  <table>

   <tr>
    <td>
     <i class="icon-link"></i>
    </td>
    <td>
     <a href="{% url shared-subscriptions user.username %}{% if token %}?token={{ token }}{% endif %}">
      {% trans "Website" %}
     </a>
    </td>
    <td>
     <input class="input-xxlarge" readonly="readonly" type="text" value="http://{{ site.domain }}{% url shared-subscriptions user.username %}{% if token %}?token={{ token }}{% endif %}" />
    </td>
   </tr>

   <tr>
    <td>
     <i class="icon-download"></i>
    </td>
    <td>
     <a href="{% url shared-subscriptions-opml user.username %}{% if token %}?token={{ token }}{% endif %}">
      {% trans "OPML" %}
     </a>
    </td>
    <td>
     <input class="input-xxlarge" readonly="readonly" type="text" value="http://{{ site.domain }}{% url shared-subscriptions-opml user.username %}{% if token %}?token={{ token }}{% endif %}" />
    </td>
   </tr>

   <tr>
    <td>
     <i class="icon-rss"></i>
    </td>
    <td>
     <a href="{% url shared-subscriptions-rss user.username %}{% if token %}?token={{ token }}{% endif %}">
      {% trans "Changes-Feed" %}
     </a>
    </td>
    <td>
     <input class="input-xxlarge" readonly="readonly" type="text" value="http://{{ site.domain }}{% url shared-subscriptions-rss user.username %}{% if token %}?token={{ token }}{% endif %}" />
    </td>
   </tr>
  </table>

    <div class="btn-group">
  {% if token %}
     <button type="submit" class="btn" onclick="submitForm('public');">
      <i class="icon-eye-open"></i> {% trans "Use public URLs" %}
     </button>
     <button type="submit" class="btn" onclick="submitForm('private');">
      <i class="icon-eye-close"></i> {% trans "Generate new token" %}
     </button>
  {% else %}
     <button type="submit" class="btn" onclick="submitForm('private');">
      <i class="icon-eye-close"></i> {% trans "Disable public URLs" %}
     </button>
  {% endif %}
    <a class="btn" href="{% url privacy %}">
      <i class="icon-filter"></i> {% trans "Change privacy settings" %}
    </a>
    </div>

    <form id="private" class="form-inline" method="post" action="{% url private_subscriptions %}">
     {% csrf_token %}
    </form>

    <form id="public" class="form-inline" method="post" action="{% url public_subscriptions %}">
     {% csrf_token %}
    </form>

  </div>

 </div>

{% endblock %}


{% block javascript %}

    <script language="javascript">
        <!--
        function submitForm(formid)
        {
            document.forms[formid].submit();
            return true;
        }
        -->
    </script>

{% endblock %}
