{% extends "base.html" %}
{% load i18n %}

{% load menu %}
{% block mainmenu %}{{ "/share/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/share/"|section_menu }}{% endblock %}

{% block title %}{% trans "Sharing" %}{% endblock %}

{% block content %}
  <h1>{% trans "Share your Subscriptions" %}</h1>

  <p>{% trans "To let others know which podcasts you are listening to, you can point them to one of the following URLs." %}</p>

   <div>
    <a href="{% url shared-subscriptions user.username %}{% if token %}?token={{ token }}{% endif %}">
     <img src="/media/22x22/internet-web-browser.png" class="action-button" />
     {% trans "Website" %}</a>
    <input readonly="readonly" type="text" value="http://{{ site.domain }}{% url shared-subscriptions user.username %}{% if token %}?token={{ token }}{% endif %}" />
   </div>

   <div>
    <a href="{% url shared-subscriptions-opml user.username %}{% if token %}?token={{ token }}{% endif %}">
     <img src="/media/22x22/opml-icon.png" class="action-button" />
     {% trans "Download as OPML" %}</a>
    <input readonly="readonly" type="text" value="http://{{ site.domain }}{% url shared-subscriptions-opml user.username %}{% if token %}?token={{ token }}{% endif %}" />
   </div>

   <div>
    <a href="{% url shared-subscriptions-rss user.username %}{% if token %}?token={{ token }}{% endif %}">
     <img height="22" width="22" src="/media/28x28/feed-icon.png" class="action-button" />
     {% trans "Changes-Feed" %}</a>
     <input readonly="readonly" type="text" value="http://{{ site.domain }}{% url shared-subscriptions-rss user.username %}{% if token %}?token={{ token }}{% endif %}" />
    </div>

  {% url share as share-url %}
  {% if token %}
   <p>{% blocktrans %}Only those who know the exact link above can see your subscriptions, but you can <a href="{{ share-url }}?public_subscriptions">make it public</a> so everyone can see it.{% endblocktrans %}</p>
   <p>{% blocktrans %}If you gave your link to the wrong people, you can <a href="{{ share-url }}?private_subscriptions">create a new one</a> - the old one will get invalid then.{% endblocktrans %}</p>

  {% else %}

   <p>{% blocktrans %}You don't want everybody to see your subscriptions? <a href="{{ share-url }}?private_subscriptions">Make them private</a> so that you can give the link to people you trust.{% endblocktrans %}</p>
  {% endif %}

  <p>{% trans "Add <tt>&amp;symbian=true#.opml</tt> to the OPML URL to get an OPML file for Nokia Podcasting on Symbian devices." %}</p>

  {% url privacy as privacy-url %}
  <p>{% blocktrans %}You can configure which podcasts show up in your shared subscription list. <a href="{{ privacy-url }}">Go to Privacy-Settings</a>{% endblocktrans %}</p>

  <hr>

  <h3>{% trans "Share your Favorite Episodes" %}</h3>
  <p>

   {% url favorites as favorites-url %}
   {% blocktrans %}You can share episodes that you have marked as favorites
    with others. Go to the <a href="{{ favorites-url }}">favorites</a> page and
    find out how.{% endblocktrans %}
  </p>
{% endblock %}

