{% load i18n %}
{% load menu %}
{% load static %}
{% load utils %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
         {% block titletag %}
          {% block title %}{% endblock %} &mdash; gpodder.net
         {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900" rel="stylesheet" type="text/css">
        <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
        <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static "common.css" %}" rel="stylesheet" type="text/css" />
        <link media="screen" href="{% static "screen.css" %}" rel="stylesheet" type="text/css" />
        <link media="screen and (min-width: 800px)" href="{% static "large.css" %}" rel="stylesheet" type="text/css" />
        <link media="screen and (max-width: 800px)" href="{% static "mobile.css" %}" rel="stylesheet" type="text/css" />


        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="/favicon.png">

        {% block head %}{% endblock %}

        {% if google_analytics_property_id %}
        {% load googleanalytics %}
        {{ google_analytics_property_id|google_analytics_async }}
        {% endif %}

    </head>

    <body>

     {% block body %}


     {% endblock %}

    </body>

</html>
