{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load podcasts %}
{% load utils %}
{% load devices %}

{% load menu %}
{% block mainmenu %}{{ "/podcast/"|main_menu }}{% endblock %}
{% block sectionmenu %}
 {% if podcast.title %}
  {{ "/podcast/"|section_menu:podcast.title }}
 {% else %}
  {{ "/podcast/"|section_menu:"Unnamed Podcast" }}
 {% endif %}
{% endblock %}

{% block title %}{% blocktrans with podcast.title|default:"Unnamed Podcast"|striptags as podcasttitle %}Subscribe to {{ podcasttitle }}{% endblocktrans %}{% endblock %}

{% block header %}
  {% if podcast.logo_url %}
   <div id="podcastlogo"><a href="{% podcast_link_target podcast %}">{{ podcast|podcast_logo_big }}</a></div>
  {% endif %}
  <h1>
   {% if podcast.title %}
    {% blocktrans with podcast.title|striptags as podcasttitle %}Subscribe to {{podcasttitle }}{% endblocktrans %}
   {% else %}
    {% trans "Subscribe to this podcast" %}
   {% endif %}
  </h1>
  <a href="{{ podcast.url }}" class="URL">{{ podcast.url }}</a>

  {% if podcast.description %}
   <p class="description">{{ podcast.description|striptags }}</p>
   {% endif %}
{% endblock %}


{% block content %}

   <h2>{% trans "Subscribe on devices" %}</h2>
  {% if targets|length  %}
   <form action="{% podcast_link_target podcast "subscribe" %}" method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="control-group">
     <div class="controls">
      {% for target in targets %}
       <label class="checkbox">
        <input type="checkbox" value="{{ target|target_uid }}" name="{{ target|target_uid }}" checked="checked">
        {% if target|is_list %}
         {% for t in target %}
          <a href="{% url "device" t.uid %}">{{ t|device_icon }}{{ t.name|striptags }}</a>
         {% endfor %}
        {% else %}
         <a href="{% url "device" target.uid %}">{{ target|device_icon }}{{ target.name|striptags }}</a>
        {% endif %}
       </label>
      {% endfor %}
     </div>
    </div>

    <div class="control-group">
     <div class="controls">
      <input type="submit" value="Subscribe" />
     </div>
    </div>
   </form>
  {% else %}
   <p>{% trans "You can't subscribe to this podcast, because you don't have any devices (on which you don't have subscribed to the podcast already." %}</p>
   <a class="btn btn-success" href="{% url "device-edit-new" %}">
    <i class="icon-plus"></i> {% trans "Create Device" %}
   </a>

  {% endif %}

  {% if not podcast.title %}
   <div class="info"><strong>{% trans "Why Unnamed Podcast?" %}</strong> {% trans "Because we display names after we have fetched the information form the feed -- and this may take some time. Until this is completed, the podcast will simply be called this way." %}</div>
  {% endif %}

{% endblock %}

