{% extends "base.html" %}
{% load i18n %}
{% load devices %}
{% load episodes %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/subscriptions/"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcast Subscriptions" %}{% endblock %}


{% block header %}
 <h1>{% trans "Podcast Subscriptions" %}</h1>
{% endblock %}


{% block content %}
 {% if not subscriptionlist|length_is:"0" %}

 <table class="list podcast_list">

  {% for s in subscriptionlist %}
   <tr>
    <td class="logo">{{ s.podcast|podcast_logo }}</td>
    <td>{% podcast_group_link s.podcast %}<br/><span class="latest_episode">
     {% if s.episode %}
      {% episode_link s.episode s.podcast %}
     {% else %}
      {% trans "No episodes" %}
     {% endif %}
     </span></td>
     <td>{{ s.devices|device_list }}</td>
   </tr>
  {% endfor %}
  </table>

  <div class="btn-group">
   <a class="btn" href="{% url subscriptions-download %}">
    <i class="icon-download"></i> {% trans "Download OPML" %}
   </a>

   <a class="btn" href="{% url share %}">
    <i class="icon-share"></i> {% trans "Share" %}
   </a>
  </div>

 {% else %}

  <p>
   {% url directory-home as directory %}
   {% url devices as devices %}
   {% blocktrans %}You don't have any subscriptions yet. Set up your <a href="{{ devices }}">podcast clients</a> and <a href="{{ directory }}">discover interesting podcasts</a>.{% endblocktrans %}
  </p>

 {% endif %}
{% endblock %}

{% block sidebar %}

 <div class="well">
  <h4>{% trans "Subscribe to Podcasts" %}</h4>
  {% url toplist as toplist-url %}
  {% url search as search-url %}
  {% url suggestions as suggestions-url %}
  {% blocktrans %}Browse the <a href="{{ toplist-url }}">toplist</a> and your <a href="{{ suggestions-url }}">personal suggestions</a>, <a href="{{ search-url }}">search</a> or paste the URL of the podcast's feed here{% endblocktrans %}
  <form class="form-inline" method="get" action="{% url subscribe-by-url %}">
   <div class="input-append">
    <input class="url input-large" name="url" type="text" />
    <button class="btn btn-success" type="submit">
     <i class="icon-plus"></i>
    </button>
   </div>
  </form>
 </div>

{% endblock %}

