{% extends "podcast-base.html" %}
{% load i18n %}
{% load podcasts %}
{% load utils %}
{% load devices %}

{% block title %}{% blocktrans with podcast.title|default:"Unnamed Podcast"|striptags as podcasttitle %}Subscribe to {{ podcasttitle }}{% endblocktrans %}{% endblock %}

{% block content %}

  <h2>{% trans "Subscribe" %}</h2>
  {% if targets|length  %}
   <form action="{% podcast_link_target podcast "subscribe" %}" method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="control-group">
     <div class="controls">
      {% for target in targets %}
       <label class="checkbox">
        <input type="checkbox" value="{{ target|target_uid }}" name="{{ target|target_uid }}" checked="checked">
        {% if target|is_syncgroup %}
         {% for t in target.client_set.all %}
          <a href="{% url "device" t.uid %}">{{ t|device_icon }}{{ t.name|striptags }}</a>
         {% endfor %}
        {% else %}
         <a href="{% url "device" target.uid %}">{{ target|device_icon }}{{ target.name|striptags }}</a>
        {% endif %}
       </label>
      {% endfor %}
     </div>
    </div>

    <div class="form-actions">
     <button class="btn" type="submit">
      <i class="icon-plus"></i>
      {% trans "Subscribe" %}
     </button>
    </div>
   </form>
  {% else %}
   <p>{% trans "You can't subscribe to this podcast, because you don't have any devices (on which you don't have subscribed to the podcast already)." %}</p>
   <a class="btn btn-success" href="{% url "devices" %}">
    <i class="icon-plus"></i> {% trans "Create Device" %}
   </a>

  {% endif %}

  {% if not podcast.title %}
   <div class="alert alert-info"><strong>{% trans "Why Unnamed Podcast?" %}</strong> {% trans "Because we display names after we have fetched the information from the feed -- and this may take some time. Until this is completed, the podcast will simply be called this way." %}</div>
  {% endif %}

{% endblock %}

