{% extends "base.html" %}
{% load i18n %}
{% load devices %}
{% load episodes %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/subscriptions/"|section_menu }}{% endblock %}

{% block title %}{% trans "My Podcast Subscriptions" %}{% endblock %}

{% block content %}
<h1>{% trans "Podcast Subscriptions" %}</h1>

 {% if not subscriptionlist|length_is:"0" %}

 <table class="list podcast_list">
  <tr>
   <th>&nbsp;</th>
   <th>{% trans "Podcast" %}</th>
   <th>{% trans "Devices" %}</th>
  </tr>

  {% for s in subscriptionlist %}
   <tr>
    <td>{{ s.podcast|podcast_logo }}</td>
    <td class="listlink">{% podcast_group_link s.podcast %}<br/><span class="latest_episode">
    {% if s.episode %}
    {% trans "Latest Episode:" %} {% episode_link s.episode s.podcast %}
      {% if s.episode.action %}
          ({{ s.episode.released|date:"Y-m-d" }}, {{s.episode.action|episode_status_text }})
      {% else %}
          ({{ s.episode.released|date:"Y-m-d" }})
      {% endif %}
     {% else %}
       {% trans "No episodes" %}
     {% endif %}
     </span></td>
     <td>{{ s.devices|device_list }}</td>
   </tr>
  {% endfor %}
  </table>

  <div>
   <a href="{% url subscriptions-download %}">
    <img src="/media/24x24/opml-icon.png" class="action-button" /> {% trans "Download Subscriptions as OPML" %}
   </a>
  </div>

  <div>
   <a href="{% url share %}">
    <img src="/media/24x24/openshareicon.png" class="action-button" /> {% trans "Share" %}
   </a>
  </div>

 {% else %}

 <h2>{% trans "Where to start?" %}</h2>
 <p>{% blocktrans with user.username|striptags as username %}{{ url }} help you to track your podcasts which you have subscribed on your devices - desktop computer, notebook, mobile devices, etc. To start using my.gpodder.org set up <a href="http://gpodder.org">gPodder</a> with your username &ndash; <strong>{{username}}</strong> &ndash; and password and upload your podcasts. They will automatically show up here.{% endblocktrans %}</p>

 {% endif %}

 <div class="info">
  <strong>{% trans "Subscribe to new Podcasts!" %}</strong>
  {% url toplist as toplist-url %}
  {% url search as search-url %}
  {% url suggestions as suggestions-url %}
  {% blocktrans %}Browse the <a href="{{ toplist-url }}">toplist</a> and your <a href="{{ suggestions-url }}">personal suggestions</a>, <a href="{{ search-url }}">search</a> or simply copy and paste the podcast's URL here{% endblocktrans %}
  <form method="get" action="{% url subscribe-by-url %}">
   <input class="url" name="url" type="text" />
   <input type="submit" value="{% trans "Subscribe" %}" />
  </form>
 </div>

{% endblock %}

