{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/podcast/"|main_menu }}{% endblock %}
{% block sectionmenu %}
 {% if podcast.title %}
  {{ "/podcast/"|section_menu:podcast.title }}
 {% else %}
  {{ "/podcast/"|section_menu:"Unnamed Podcast" }}
 {% endif %}
{% endblock %}

{% block title %}{% blocktrans with podcast.title|default:"Unnamed Podcast"|striptags as podcasttitle %}Subscribe to {{ podcasttitle }}{% endblocktrans %}{% endblock %}

{% block content %}
  {% if podcast.logo_url %}
  <div id="podcastlogo">{{ podcast|podcast_logo_big }}</div>
  {% endif %}
  <h1>
   {% if podcast.title %}
    {% blocktrans with podcast.title|striptags as podcasttitle %}Subscribe to {{podcasttitle }}{% endblocktrans %}
   {% else %}
    {% trans "Subscribe to this podcast" %}
   {% endif %}
  </h1>
  <a href="{{ podcast.url }}" class="URL">{{ podcast.url }}</a>

  {% if podcast.description %}
   <p class="description">{{ podcast.description|striptags }}</p>
   {% endif %}
   <hr/>

   <h2>{% trans "Add a podcast" %}</h2>
  {% if can_subscribe %}
   <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Subscribe" %}" />
</form>
<p style="padding-top: 20px;"><a href="/podcast/{{ podcast.id }}">{% trans "Back to the podcast page" %}</a></p>
  {% else %}
   <p>{% trans "You can't subscribe to this podcast, because you don't have any devices (on which you don't have subscribed to the podcast already." %}</p>
   <p>{% blocktrans %}If you're new here, you should start by reading our <a href="/online-help/">introduction</a>.{% endblocktrans %}</p>
  {% endif %}

  {% if not podcast.title %}
   <div class="info"><strong>{% trans "Why Unnamed Podcast?" %}</strong> {% trans "Because we display names after we have fetched the information form the feed -- and this may take some time. Until this is completed, the podcast will simply be called this way." %}</div>
  {% endif %}

{% endblock %}

