{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/suggestions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/suggestions/"|section_menu }}{% endblock %}

{% block title %}{% trans "Suggested Podcasts" %}{% endblock %}

{% block header %}
   <h1>{% trans "Suggested Podcasts" %}</h1>
{% endblock %}


{% block content %}

 <div class="podcasts">

  {% for podcast in entries %}
   <div class="podcast">

    <div class="logo">{{ podcast|podcast_logo_big }}</div>

    <div class="title">
     {% podcast_group_link podcast %}
    </div>

    <div class="actions">
      <a class="btn btn-success btn-small" href="{% podcast_link_target podcast "subscribe" %}">
       <i class="icon-ok"></i>&nbsp;{% trans "Subscribe" %}
      </a>
     <form action="{% podcast_link_target podcast "suggestions-blacklist" %}">
      {% csrf_token %}
      <button class="btn btn-danger btn-small" type="submit">
       <i class="icon-ban-circle"></i>&nbsp;{% trans "No Interest" %}
      </button>
     </form>
    </div>

    <div class="description">
      {{ podcast.description|truncatewords:100 }}
    </div>

   </div>
  {% empty %}
    <p>{% trans "No Suggestions Yet" %}</p>
  {% endfor %}
  </div>

  {% if entries %}
 <a class="btn" href="{% url "suggestions-opml" 15 "opml" %}">
  <i class="icon-download"></i>
   {% trans "Download OPML" %}
 </a>
  {% endif %}

{% endblock %}


{% block javascript %}

    <script language="javascript">
        <!--
        function submitForm(formid)
        {
            document.forms[formid].submit();
            return true;
        }
        -->
    </script>

{% endblock %}
