{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/suggestions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/suggestions/"|section_menu }}{% endblock %}

{% block title %}{% trans "Suggested Podcasts" %}{% endblock %}

{% block content %}

 <div class="row-fluid">
  <div class="span12">
   <h1>{% trans "Suggested Podcasts" %}</h1>
  </div>
 </div>

 <div class="row-fluid">
  <div class="span8">

  <table class="list podcast_list">
  {% for podcast in entries %}
   <tr>
    <td class="logo">{{ podcast|podcast_logo }}</td>
    <td>
     <p class="title">{% podcast_group_link podcast %}</p>
     <p class="description">{{ podcast.description|striptags|truncatewords:"12" }}</p>
    </td>
    <td>
      <a class="btn btn-success" href="{% podcast_link_target podcast "subscribe" %}">
       <i class="icon-ok"></i> {% trans "Subscribe" %}
      </a>
    </td>
    <td>
     <form action="{% url suggestions-blacklist podcast.oldid %}">
      {% csrf_token %}
      <button class="btn btn-danger" type="submit">
       <i class="icon-ban-circle"></i> {% trans "No Interest" %}
      </button>
     </form>
    </td>
   </tr>
  {% empty %}
   <tr>
    <td colspan="3">
     {% trans "No Suggestions Yet" %}
    </td>
   </tr>
  {% endfor %}
  </table>

  {% if entries %}
 <a class="btn" href="{% url suggestions-opml 15 "opml" %}">
  <i class="icon-download"></i>
   {% trans "Download OPML" %}
 </a>
  {% endif %}

 </div>


 {% if entries %}
 <div class="span4 well">

   <h3>{% trans "Do you Like our Suggestions?" %}</h3>

   <div class="btn-group">
    <button class="btn btn-success" type="submit" onclick="submitForm('rate_pos');">
     <i class="icon-thumbs-up"></i> {% trans "Yes" %}
    </button>
    <button class="btn btn-danger" type="submit" onclick="submitForm('rate_neg');">
     <i class="icon-thumbs-down"></i> {% trans "No" %}
    </button>
   </div>

   <form id="rate_pos" class="form-inline" action="{% url suggestions-rate %}?rate=1" method="post" class="rate">
    {% csrf_token %}
   </form>
   <form id="rate_neg" class="form-inline" action="{% url suggestions-rate %}?rate=-1" method="post" class="rate">
    {% csrf_token %}
   </form>


 </div>
 {% endif %}

</div>

{% endblock %}


{% block javascript %}

    <script language="javascript">
        <!--
        function submitForm(formid)
        {
            document.forms[formid].submit();
            return true;
        }
        -->
    </script>

{% endblock %}
