{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Toplist" %}</h1>

  <p>{% blocktrans with entries|length as count %}These are the {{ count }} most subscribed podcasts.{% endblocktrans %}</p>

  <table class="list">
   <tr>
    <th>{% trans "#" %}</th>
    <th>{% trans "Last week" %}</th>
    <th>{% trans "Podcast" %}</th>
    <th>{% trans "Subscribers" %}</th>
   </tr>
  {% for entry in entries %}
   <tr>
    <td>{{ forloop.counter }}</td>

    {% ifequal entry.oldplace 0 %}
        <td>{% trans "New" %}</td>
    {% else %}
        <td class="numeric">{{ entry.oldplace|default_if_none:"" }}</td>
    {% endifequal %}
      
    <td><a href="/podcast/{{ entry.podcast.id }}">{{ entry.podcast }}</a></td>
    <td class="numeric">{{ entry.subscriptions }}</td>
   </tr>
  {% endfor %}
  </table>

  <div class="info"><strong>Get the toplist from your Client</strong>! Access <a href="/toplist/30.opml">http://{{ url }}/toplist/30.opml</a> for the Top-30.</div>
{% endblock %}

