{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Toplist" %}</h1>

  <p>{% blocktrans %}These are the {{ count }} most susbscribed podcasts.{% endblocktrans %}</p>

  <table>
   <tr>
    <th>{% trans "#" %}</th>
    <th>{% trans "Podcast" %}</th>
    <th>{% trans "Subscribers" %}</th>
   </tr>
  {% for entry in entries %}
   <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ entry.podcast }}</td>
    <td>{{ entry.subscriptions }}</td>
   </tr>
  {% endfor %}
  </table>

  <div class="info"><strong>Get the toplist from your Client</strong>! Access <a href="http://my.gpodder.org/toplist/30.opml">http://my.gpodder.org/toplist/30.opml</a> for the Top-30.</div>
{% endblock %}

