{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/share/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/user/subscriptions/"|section_menu:other_user.username }}{% endblock %}

{% block head %}
 <link rel="alternate" title="Subscription Changes of {{ other_user.username }}" href="{% url shared-subscriptions-rss other_user.username %}" type="application/rss+xml">
{% endblock %}

{% block title %}
 {% blocktrans with other_user.username as username%}{{ username }}'s Subscriptions{% endblocktrans %}
{% endblock %}

{% block header %}
<h1>{% blocktrans with other_user.username as username%}{{ username }}'s Subscriptions{% endblocktrans %}</h1>
<small class="description">
 {% url user other_user.username as userpage-url %}
 {% blocktrans with subscriptions|length as num_subscriptions and other_user.username as username %}<a href="{{userpage-url}}">{{username}}</a> has {{num_subscriptions}} subscriptions{% endblocktrans %}
</small>

{% endblock %}


{% block content %}

 {% if not subscriptionlist|length_is:"0" %}
 <table class="list">

  {% for p in subscriptions %}
   <tr>
    <td class="logo">{{ p|podcast_logo }}</td>
    <td class="listlink">{% podcast_group_link p %}</td>
   </tr>
  {% endfor %}
  </table>

  <div class="btn-group">
   <a class="btn" href="{% url shared-subscriptions-opml other_user.username %}{% if token %}?token={{ token }}{% endif %}">
    <i class="icon-download"></i>{% trans "Download Subscriptions as OPML" %}
   </a>
   <a class="btn" href="{% url shared-subscriptions-rss other_user.username %}{% if token %}?token={{ token }}{% endif %}">
    <i class="icon-rss"></i> {% trans "Subscribe to Changes" %}
   </a>
  </div>

 {% else %}

  <p>{% blocktrans with other_user.username as username %}{{ username }} doesn't have any subscriptions yet.{% endblocktrans %}</p>

 {% endif %}

{% endblock %}


{% block sidebar %}
 {% if user.is_authenticated %}
  <div class="well">
   <h4>{% trans "Share Your Subscriptions" %}</h4>
   <p>{% trans "Want to share your own subscriptions?" %}</p>

   <a class="btn btn-primary" href="{% url share %}">
    {% trans "Go" %}
   </a>
  </div>
 {% endif %}

 <div class="well">
  <h4>{% trans "Nokia Podcasting" %}</h4>
  <p>{% trans "Add <tt>&amp;symbian=true#.opml</tt> to the OPML URL to get an OPML file for Nokia Podcasting on Symbian devices." %}</p>
 </div>

{% endblock %}

