{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/user/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/user/subscriptions/"|section_menu:other_user.username }}{% endblock %}

{% block title %}
 {% blocktrans with other_user.username as username%}{{ username }}'s Subscriptions{% endblocktrans %}
{% endblock %}

{% block content %}
<h1>{% blocktrans with other_user.username as username%}{{ username }}'s Subscriptions{% endblocktrans %}</h1>

 {% if not subscriptionlist|length_is:"0" %}
 <table class="list">
  <tr>
   <th>&nbsp;</th>
   <th>{% trans "Podcast" %}</th>
  </tr>

  {% for p in subscriptions %}
   <tr>
    <td>{{ p|podcast_logo }}</td>
    <td><a class="listlink" href="{% url podcast p.oldid %}">{{ p.display_title|striptags }}</a></td>
   </tr>
  {% endfor %}
  </table>

  <div>
   <a href="{% url shared-subscriptions-opml other_user.username %}{% if token %}?token={{ token }}{% endif %}">
    <img src="/media/download.png" class="action-button" /> {% trans "Download Subscriptions as OPML" %}
   </a>
  </div>

 {% else %}

  <p>{% blocktrans with other_user.username as username %}{{ username }} doesn't have any subscriptions yet.{% endblocktrans %}</p>

 {% endif %}

 {% if user.is_authenticated %}
  <div class="info"><strong>{% trans "Want to share your subscriptions?" %}</strong>

  {% url share as share-url %}
  {% blocktrans %}Get your link on the <a href="{{ share-url }}">Sharing page</a>.</a>{% endblocktrans %}</div>
 {% endif %}

{% endblock %}

