{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/user/subscriptions/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/user/subscriptions/"|section_menu:other_user.username }}{% endblock %}

{% block title %}
 {% blocktrans with other_user.username as username%}{{ username }}'s Subscriptions{% endblocktrans %}
{% endblock %}

{% block content %}
 <h1>{% blocktrans with other_user.username as username%}{{ username }}'s Subscriptions{% endblocktrans %}</h1>

 <p>{% blocktrans with other_user.username as username %}{{ username }} didn't share his subscriptions with you. Maybe you should contact him to get the correct link.{% endblocktrans %}</p>

 {% if user.is_authenticated %}
  <div class="info"><strong>{% trans "Want to share your subscriptions?" %}</strong> {% blocktrans %}Just go to your <a href/"/account/">account settings</a> to get the link.</a>{% endblocktrans %}</div>
 {% endif %}

{% endblock %}

