{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}
{% block sectionmenu %}{{ "/directory/+license"|section_menu }}{% endblock %}

{% block title %}{% blocktrans with view.license_url|license_name as licensename %}Podcasts with License {{ licensename }}{% endblocktrans %}{% endblock %}

{% block header %}
   <h1>{% blocktrans with view.license_url|license_name as licensename %}Podcasts with License {{ licensename }}{% endblocktrans %}</h1>
{% endblock %}

{% block content %}

  <div class="btn-group">
   <a class="btn btn-default" href="{% url "license-podcasts" %}">
    <i class="icon-list"></i>
    {% trans "License overview" %}
   </a>

   <a class="btn btn-default" href="{{ view.license_url }}">
    <i class="icon-external-link"></i>
    {% trans "View License" %}
   </a>
  </div>

  <table class="list">
   <tr>
    <th></th>
    <th>{% trans "Podcast" %}</th>
    <th>{% trans "Subscribers" %}</th>
   </tr>
  {% for podcast in podcasts %}
   <tr>
    <td class="logo">{{ podcast|podcast_logo }}</td>
    <td>
     {% podcast_group_link podcast %}
    </td>
    <td>{% vertical_bar podcast.subscriber_count view.max_subscribers %}</td>
   </tr>
  {% empty %}
   <tr>
    <td colspan="5">
     {% trans "Currently not available" %}
    </td>
   </tr>
  {% endfor %}
  </table>

  <ul class="pagination">
 {% for page in view.page_list %}
  <li>
   {% if page == "..." %}
    <span>{{ page }}</span>
   {% else %}

     {% if page == current_page %}
      <a href="{% url "license-podcasts-url" view.license_url %}?page={{ page }}"><strong>{{ page }}</strong></a>
     {% else %}
      <a href="{% url "license-podcasts-url" view.license_url %}?page={{ page }}">{{ page }}</a>
     {% endif %}
   {% endif %}
  </li>
 {% endfor %}
 </ul>

{% endblock %}
