{% extends "base.html" %}

{% load i18n %}
{% load podcasts %}
{% load charts %}
{% load math %}
{% load utils %}

{% load menu %}
{% block sectionmenu %}{{ "/directory/+license"|section_menu }}{% endblock %}

{% block title %}{% trans "Podcasts with License Information" %}{% endblock %}

{% block header %}
   <h1>{% trans "Podcasts with License Information" %}</h1>
{% endblock %}

{% block content %}

  <table class="list">
   <tr>
    <th>{% trans "License" %}</th>
    <th class="numeric">{% trans "Podcasts" %}</th>
   </tr>
  {% for license, count in view.licenses %}
    <tr>
     <td>
      <a href="{% url "license-podcasts-url" license %}">
       {{ license|license_name }}
      </a>
      <a href="{{ license }}">
       <i class="icon-external-link"></i>
      </a>
     </td>
     <td class="numeric">{{ count }}</td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}
