{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}
{% load static %}
{% load menu %}
{% block mainmenu %}{{ "/share/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/share/"|section_menu }}{% endblock %}

{% block title %}{% trans "Sharing" %}{% endblock %}

{% block header %}
 <h1>{% trans "Share" %}</h1>
{% endblock %}


{% block content %}

 <table class="list">

  <tr>
   <td><i class="icon-rss icon-large"></i> {% trans "Subscriptions" %}</td>
   <td>
    <div class="btn-group">
     <button class="btn btn-small {% if not subscriptions_token %}disabled btn-primary{% endif %}" onclick="submitForm('subscriptions_public');">{% trans "Public" %}</button>
     <button class="btn btn-small {% if subscriptions_token %}disabled btn-primary{% endif %}" onclick="submitForm('subscriptions_private');">{% trans "Private" %}</button>
    </div>
   </td>
   <td>
    <a href="{% url "shared-subscriptions" user.username %}{% if subscriptions_token %}?token={{ subscriptions_token }}{% endif %}">
     <img src="{% static "22x22/internet-web-browser.png" %}" class="action-button" /></a>
    <a href="{% url "shared-subscriptions-rss" user.username %}{% if subscriptions_token %}?token={{ subscriptions_token }}{% endif %}">
     <img height="22" width="22" src="{% static "28x28/feed-icon.png" %}" class="action-button" /></a>
    <a href="{% url "shared-subscriptions-opml" user.username %}{% if subscriptions_token %}?token={{ subscriptions_token }}{% endif %}">
     <img src="{% static "22x22/opml-icon.png" %}" class="action-button" /></a>
   </td>
   <td>
    <button class="btn btn-small btn-link {% if not subscriptions_token %}disabled{% endif %}" {% if subscriptions_token %}type="submit" onclick="submitForm('subscriptions_private');"{% endif %}>{% trans "New Token" %}</button>
    <a class="btn btn-small btn-link" href="{% url "privacy" %}">Privacy Settings</a>
   </td>
  </tr>

  <tr>
   <td><i class="icon-user icon-large"></i> {% trans "User Page" %}</td>
   <td>
    <div class="btn-group">
     <button class="btn btn-small {% if not userpage_token %}disabled btn-primary{% endif %}" onclick="submitForm('userpage_public');">{% trans "Public" %}</button>
     <button class="btn btn-small {% if userpage_token %}disabled btn-primary{% endif %}" onclick="submitForm('userpage_private');">{% trans "Private" %}</button>
    </div>
   <td>
    <a href="{% url "user" user.username %}{% if userpage_token %}?token={{ userpage_token }}{% endif %}">
     <img src="{% static "22x22/internet-web-browser.png" %}" class="action-button" />
    </a>
   </td>
   <td>
    <button class="btn btn-small btn-link {% if not userpage_token %}disabled{% endif %}" {% if userpage_token %}type="submit" onclick="submitForm('userpage_private');"{% endif %}>{% trans "New Token" %}</button>
   </td>
  </tr>

  <tr>
   <td><i class="icon-star icon-large"></i> {% trans "Favorites Feed" %}</td>
   <td>
    <div class="btn-group">
     <button class="btn btn-small {% if not favfeed_token %}disabled btn-primary{% endif %}" onclick="submitForm('favfeed_public');">{% trans "Public" %}</button>
     <button class="btn btn-small {% if favfeed_token %}disabled btn-primary{% endif %}" onclick="submitForm('favfeed_private');">{% trans "Private" %}</button>
    </div>
   </td>
   <td>
    {% if favfeed_podcast %}
     <a href="{% podcast_link_target favfeed_podcast %}"><img src="{% static "22x22/internet-web-browser.png" %}" class="action-button" /></a>
    {% endif %}
    {% if favfeed_token %}
     <a href="https://{{ user.username }}:{{ favfeed_token }}@{{ site.domain }}{% url "favorites-feed" user.username %}">
      <img height="22" width="22" src="{% static "28x28/feed-icon.png" %}" class="action-button" />
     </a>
    {% else %}
     <a href="{% url "favorites-feed" user.username %}">
      <img height="22" width="22" src="{% static "28x28/feed-icon.png" %}" class="action-button" />
     </a>
    {% endif %}
   </td>
   <td>
    <button class="btn btn-small btn-link {% if not favfeed_token %}disabled{% endif %}" {% if favfeed_token %}type="submit" onclick="submitForm('favfeed_private');"{% endif %}>{% trans "New Token" %}</button>
    <a class="btn btn-small btn-link" href="{% url "favorites" %}">Edit Favorites</a>
   </td>
  </tr>

 </table>



 <form id="subscriptions_public" method="post" action="{% url "subscriptions-public" %}">
  {% csrf_token %}
 </form>

 <form id="subscriptions_private" method="post" action="{% url "subscriptions-private" %}">
  {% csrf_token %}
 </form>

 <form id="userpage_public" method="post" action="{% url "userpage-public" %}">
  {% csrf_token %}
 </form>

 <form id="userpage_private" method="post" action="{% url "userpage-private" %}">
  {% csrf_token %}
 </form>

 <form id="favfeed_public" method="post" action="{% url "favfeed-public" %}">
  {% csrf_token %}
 </form>

 <form id="favfeed_private" method="post" action="{% url "favfeed-private" %}">
  {% csrf_token %}
 </form>

{% endblock %}


{% block javascript %}
    <script language="javascript">
        <!--
        function submitForm(formid)
        {
            document.forms[formid].submit();
            return true;
        }
        -->
    </script>
{% endblock %}



{% block sidebar %}

 <div class="well">
  <h4>{% trans "Private Items" %}</h4>
  <p>{% trans "Private items are protected by a special token. Only those who know the exact link can access your content" %}</p>
 </div>

{% endblock %}
