{% extends "base.html" %}
{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/share/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/share/"|section_menu }}{% endblock %}

{% block title %}{% trans "Sharing" %}{% endblock %}

{% block content %}

 <h1>{% trans "Share" %}</h1>

 <table class="list">

  <tr>
   <td>Subscriptions</td>
   <td>{% if subscriptions_token %}Private{% else %}Public{% endif%}</td>
   <td>
    {% if subscriptions_token %}
     <form method="post" action="{% url subscriptions-public %}">
      {% csrf_token %}
      <input type="submit" value="Make Public" />
     </form>
     <form method="post" action="{% url subscriptions-private %}">
      {% csrf_token %}
      <input type="submit" value="New Token" />
     </form>
    {% else %}
     <form method="post" action="{% url subscriptions-private %}">
      {% csrf_token %}
      <input type="submit" value="Make Private" />
     </form>
    {% endif %}
   </td>
   <td>
    <a href="{% url shared-subscriptions user.username %}{% if subscriptions_token %}?token={{ subscriptions_token }}{% endif %}">
     <img src="/media/22x22/internet-web-browser.png" class="action-button" />
    <a href="{% url shared-subscriptions-opml user.username %}{% if subscriptions_token %}?token={{ subscriptions_token }}{% endif %}">
     <img src="/media/22x22/opml-icon.png" class="action-button" />
    <a href="{% url shared-subscriptions-rss user.username %}{% if subscriptions_token %}?token={{ subscriptions_token }}{% endif %}">
     <img height="22" width="22" src="/media/28x28/feed-icon.png" class="action-button" />
    </a>
   </td>
   <td>
    <a href="{%url privacy %}">Privacy Settings</a>
   </td>
  </tr>

  <tr>
   <td>User Page</td>
   <td>{% if userpage_token %}Private{% else %}Public{% endif %}</td>
   <td>
    {% if userpage_token %}
     <form method="post" action="{% url userpage-public %}">
      {% csrf_token %}
      <input type="submit" value="Make Public" />
     </form>
     <form method="post" action="{% url userpage-private %}">
      {% csrf_token %}
      <input type="submit" value="New Token" />
     </form>
    {% else %}
     <form method="post" action="{% url userpage-private %}">
      {% csrf_token %}
      <input type="submit" value="Make Private" />
     </form>
    {% endif %}
   <td>
    <a href="{% url user user.username %}{% if userpage_token %}?token={{ userpage_token }}{% endif %}">
     <img src="/media/22x22/internet-web-browser.png" class="action-button" />
    </a>
   </td>
   <td></td>
  </tr>

  <tr>
   <td>Favorites Feed</td>
   <td>{% if favfeed_token %}Private{% else %}Public{% endif %}</td>
   <td>
    {% if favfeed_token %}
     <form method="post" action="{% url favfeed-public %}">
      {% csrf_token %}
      <input type="submit" value="Make Public" />
     </form>
     <form method="post" action="{% url favfeed-private %}">
      {% csrf_token %}
      <input type="submit" value="New Token" />
     </form>
    {% else %}
     <form method="post" action="{% url favfeed-private %}">
      {% csrf_token %}
      <input type="submit" value="Make Private" />
     </form>
    {% endif %}
   </td>
   <td>
    {% if favfeed_token %}
     <a href="https://{{ user.username }}:{{ favfeed_token }}@{{ site.domain }}{% url favorites-feed user.username %}">
      <img height="22" width="22" src="/media/28x28/feed-icon.png" class="action-button" />
     </a>
    {% else %}
     <a href="{% url favorites-feed user.username %}">
      <img height="22" width="22" src="/media/28x28/feed-icon.png" class="action-button" />
     </a>
    {% endif %}
    <a href="{% url subscribe-by-url %}?url=http://{{ site.domain }}{% url favorites-feed user.username %}">
      <img height="22" width="22" src="/media/subscribe.png" class="action-button" />
    </a>
    {% if favfeed_podcast %}
     <a href="{% podcast_link_target favfeed_podcast %}">Website</a>
    {% endif %}
   </td>
   <td>
    <a href="{% url favorites %}">Edit Favorites</a>
   </td>
  </tr>

 </table>

 <div class="info">
  {% trans "Add <tt>&amp;symbian=true#.opml</tt> to the OPML URL to get an OPML file for Nokia Podcasting on Symbian devices." %}
 </div>


{% endblock %}
