{% extends 'base.html' %}

{% load i18n %}
{% load podcasts %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
    <h2>{% trans "Search" %}</h2>

    <form method="get" action="." class="search">

     {% for field in form %}
      {{ field.errors }}
      {{ field }}
     {% endfor %}

     <input type="submit" value="Search">
    </form>

    {% if query %}
     <h3>{% trans "Results" %}</h3>

     <table class="list">
      <tr>
       <th></th>
       <th></th>
      </tr>

      {% for result in page.object_list %}
       <tr>
        {% ifequal result.model_name "podcast" %}
         <td>{{ result.object|podcast_logo }}</td>
         <td>
          <a class="podcast" href="/podcast/{{ result.pk }}">{{ result.object }}</a><br />
          <span class="listlink description">{{ result.object.description|default:""|truncatewords:"15" }}</span>
         </td>
        {% endifequal %}

        {% ifequal result.model_name "episode" %}
         {% ifchanged result.object.podcast %}
          <td>{{ result.object.podcast|podcast_logo }}</td>
          <td>
           <a class="podcast" href="/podcast/{{ result.object.podcast.id }}">{{ result.object.podcast }}</a>
         {% endifchanged %}
           <span class="episode">
            <a class="episode" href="/episode/{{ result.pk }}">{{ result.object.title }}</a>
            <span class="description">{{ result.object.description|default:""|truncatewords:"15" }}</span>
           </span>
        {% endifequal %}
       </tr>
      {% endfor %}
     </table>
    {% endif %}
{% endblock %}

