{% extends 'base.html' %}

{% load i18n %}
{% load podcasts %}

{% load menu %}
{% block mainmenu %}{{ "/search/"|main_menu }}{% endblock %}
{% block sectionmenu %}{{ "/search/"|section_menu }}{% endblock %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
<h2>{% trans "Search" %}</h2>
<p>
{% blocktrans %}
Use this page to search for interesting podcasts. We are still working
on optimizing the search library.
{% endblocktrans %}
</p>

    <form method="get" action="." class="search">
        {% trans "Search:" %}
     {% for field in form %}
      {{ field.errors }}
      {{ field }}<br/><br/>
     {% endfor %}

     <input type="submit" value="Search">
    </form>

    {% if query %}
     <h3>{% trans "Results" %}</h3>

     <table class="list">
      <tr>
       <th></th>
       <th></th>
      </tr>

      {% for result in page.object_list %}
       <tr>
        {% ifequal result.model_name "podcast" %}
         <td>{{ result.object|podcast_logo }}</td>
         <td>
          <a class="podcast" href="/podcast/{{ result.pk }}">{{ result.object }}</a><br />
          <span class="listlink description">{{ result.object.description|default:""|striptags|truncatewords:"15" }}</span>
         </td>
        {% endifequal %}

        {% ifequal result.model_name "episode" %}
         <td>{{ result.object.podcast|podcast_logo }}</td>
         <td>
          <a class="episode" href="/episode/{{ result.pk }}">{{ result.object.title }}</a>
          (<a class="podcast" href="/podcast/{{ result.object.podcast.id }}">{{ result.object.podcast }}</a>)</br>
          <span class="description">{{ result.object.description|default:""|striptags|truncatewords:"15" }}</span>
        {% endifequal %}
       </tr>
      {% endfor %}
     </table>
    {% endif %}
{% endblock %}

