div.error
{
    background-color: #fa7080;
    border: #f5001d thin solid;
    width: 100%;
    padding: 1em 1em 1em 45px;
    background-image: url('dialog-error.png');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    margin: .5em;
}

table.register th {
    font-weight:normal;
    width:150px;
    text-align:left;
}

.success
{
    background-color: #b7f46e;
    border: #539800 thin solid;
    width: 100%;
    padding: 1em 1em 1em 45px;
    background-image: url('emblem-default.png');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    margin: .5em;
}

.info
{
    background-color: #eeeeee;
    border: #aaaaaa thin solid;
    width: 100%;
    padding: 1em 1em 1em 45px;
    background-image: url('info.png');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    margin: .5em;
}

.info a
{
    color: black;
}


.menu a
{
    color: black;
}

ul.menu
{
    list-style-type: none;
    margin: 1em;
    border: 0;
    padding: 0;
}

ul.menu li {
    margin: 3px;
    padding-left: 10px;
}

ul.menu li.heading {
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu strong {
    color: #75507b;
    background-color: white;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    -moz-border-radius: 5px;
    margin-left: -10px;
}

table.list
{
    margin-top: 2em;
    font-size: 1em;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2em;
}

table.list tr:hover td
{
    background-color: #ddd;
}

table.list th
{
    text-align: left;
    border-bottom: thin solid black;
    padding: 0;
    margin: 0;
}

table.list th,
table.list td
{
    padding-right: 1em;
}

table td.numeric
{
    text-align: right;
}

table.list tr.group
{
    font-weight: bold;
    height: 3em;
    vertical-align: bottom;
}

table.list tr.group:hover td
{
    /* don't show hover effect for group rows */
    background-color: inherit;
}

.description
{
    color: #666;
}

.URL
{
    text-decoration: none;
    color: black;
}

.URL:hover
{
    text-decoration: underline;
}

h1, h2
{
    padding-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
}


img.device_icon
{
    padding: 3px;
    vertical-align: middle;
}

ul.devices li.desktop
{
    list-style-image: url('16x16/computer.png');
}

ul.devices li.laptop
{
    list-style-image: url('16x16/stock_notebook.png');
}

ul.devices li.mobile
{
    list-style-image: url('16x16/stock_cell-phone.png');
}

ul.devices li.server
{
    list-style-image: url('16x16/server.png');
}

ul.devices li.other
{
    list-style-image: url('16x16/audio-x-generic.png');
}

div.rate
{
    padding-top: 2em;
    padding-bottom: 3em;
}

div.subscribe
{
    padding: 1em 0 1em 0;
}

h2.ohelp
{
    padding-top: 0;
}

img.ohelp
{
    margin-left: 40px;
    border: 3px solid rgb(40%, 40%, 40%) ;
    width: 400px;
}

div.ohelp
{
    width: 40em;
    padding-left: 3em;
    padding-right: 3em;    
    border: 1px solid rgb(40%, 40%, 40%) ;
    -moz-border-radius: 10px;
    margin-bottom: 2em;
}

div.devicesLeft
{
    float:left;
	width: 10em;
}

div.devicesRight
{
    float:left;
    margin-top:-5px;
	width: 26px;
	height: 26px;
}

div.devicesClear
{
    clear:left;
}


form.search input[type="text"]
{
    width: 70%;
    display: inline;
}

form.search ul
{
    display: inline;
}

form.search ul li
{
    list-style: none;
    display: inline;
}

form.search input[type="submit"]
{
    display: inline;
}

div.result img
{
    float: left;
}

div.result a.podcast
{
    font-size: 1.2em;
    color: black;
    padding-top: 2em;
    font-weight: bold;
    display: block;
}

div.result span.episode
{
    display: list-item;
    margin-left: 2em;
}

div.result span.episode a
{
    color: black;
}

div.result
{
}

div#podcastlogo
{
    float: right;
    padding-top: 3em;
}

table.form
{
}

table.form th
{
    font-weight: normal;
    text-align: right;
}
