body 
{ 
    font-family: DeJaVu Sans, Bitstream Vera Sans, sans-serif; 
    font-size: 12px; 
    padding-left: 50px; 
    padding-right: 50px;
}

h2 
{ 
    margin-top:0px;
}

h3 
{ 
    color: #535;
}

hr 
{ 
    border-width: 0px; 
    border-bottom: 1px #aaa dotted; 
}

img 
{ 
    border-width: 0px; 
}

ul#gpodder-menu 
{ 
    margin: 10px;
    padding-top: 10px; 
    z-index: 900; 
    text-align: center; 
}

ul#gpodder-menu li 
{ 
    display: inline; 
    font-weight: bold; 
    padding-right: 4px; 
    margin-bottom: 5px; 
}

ul#gpodder-menu li a 
{ 
    text-decoration: none; 
    color: rgb(70%, 70%, 70%); 
    padding: 6px; 
    border: 1px rgb(40%, 40%, 40%) solid; 
    -moz-border-radius: 5px; 
}

ul#gpodder-menu li a:hover 
{ 
    color: rgb(10%, 10%, 10%); 
    background-color: white; 
    border-bottom: 1px rgb(60%, 60%, 60%) solid;
    border-right: 1px rgb(40%, 60%, 40%) solid; 
    border-left: 1px rgb(70%, 70%, 70%) solid;
    border-top: 1px rgb(70%, 70%, 70%) solid; 
}

ul#gpodder-menu li strong 
{ 
    background-color: white; 
    padding: 6px; 
    border-top: 1px solid rgb(60%, 60%, 60%); 
    border-left: 1px solid rgb(60%, 60%, 60%); 
    border-bottom: 1px solid rgb(70%, 70%, 70%); 
    color: black; -moz-border-radius: 5px;
}

ul#gpodder-menu li img 
{ 
    vertical-align: middle; 
    padding-right: 2px; 
}

a 
{ 
    color: blue; 
    text-decoration: none; 
}

a:hover 
{ 
    text-decoration: underline; 
}

p#version-info 
{ 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    text-align: right; 
}

ul.highlights 
{ 
    padding-left: 10px; 
    list-style-type: none; 
}

ul.highlights strong 
{ 
    font-size: 13pt; 
} 

address 
{
    font-style: normal; 
    color: #aaa; 
    text-align:center;
} 

address a 
{ 
    color: #aaaaff; 
}

table.downloads td 
{ 
    background-color: #eee; 
}

a[href^="http://"]:after, a[href^="https://"]:after {
    content: url(http://gpodder.org/images/external.png);
    padding-left: 2px;
}

/* ..but not URLs linking to the bug tracker or mygpo */
a[href^="http://gpodder.org"]:after, 
a.noextlink:after,
a.imgonlylink:after 
{
    content: '';
    padding-left: 0px;
}

a[href^="http://bugs.gpodder.org"]:after, 
a.noextlink:after,
a.imgonlylink:after 
{
    content: '';
    padding-left: 0px;
}

a[href^="http://my.gpodder.org"]:after,
a.noextlink:after,
a.imgonlylink:after 
{
    content: '';
    padding-left: 0px;
}

#logo
{
    margin: 0px; 
    padding: 0px; 
    position: absolute; 
    top: 0px; 
    left: 20px; 
    height: 70px; 
    z-index: 100;
}

#logo img
{
    padding-top: 10px; 
    width: 64px; 
    height: 64px;
}

#topnav
{
    position: absolute; 
    z-index: 10; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    background-color: rgb(102, 102, 102); 
    padding-bottom: 10px;
}

#body
{
    margin-right: 5%; 
    padding-top: 80px; 
    padding-bottom: 10px; 
    float:left; 
    width: 70%
}

#navigation
{
    padding-top: 80px; 
    width:200px; 
    height:70%; 
    margin-right:-58px; 
    padding-bottom: 10px; 
    float:right; 
    background-color: rgb(102, 102, 102); 
    -moz-border-radius-bottomleft: 30px;
}

#navigation .spacer1
{
    width:20px; 
    position:absolute; 
    margin-top:-32px; 
    margin-left:-20px; 
    background-color:rgb(102, 102, 102);
}

#navigation .spacer2
{
    width:20px; 
    position:absolute; 
    margin-top:-32px; 
    margin-left:-20px; 
    -moz-border-radius-topright: 30px; 
    background-color:rgb(255,255,255);
}

