div.error
{
    background-color: #fa7080;
    border: #f5001d thin solid;
    width: 100%;
    padding: 1em 1em 1em 45px;
    background-image: url('dialog-error.png');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    margin: .5em;
}

table.register th {
    font-weight:normal;
    width:150px;
    text-align:left;
}

.success
{
    background-color: #b7f46e;
    border: #539800 thin solid;
    width: 100%;
    padding: 1em 1em 1em 45px;
    background-image: url('emblem-default.png');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    margin: .5em;
}

.info
{
    background-color: #eeeeee;
    border: #aaaaaa thin solid;
    width: 100%;
    padding: 1em 1em 1em 45px;
    background-image: url('info.png');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    margin: .5em;
}

.info a
{
    color: black;
}


.menu a
{
    color: black;
}

ul.menu
{
    list-style-type: none;
    margin: 1em;
    border: 0;
    padding: 0;
}

table.list
{
    margin-top: 2em;
    font-size: 1em;
    border-collapse: collapse;
    width: 100%;
}

table.list th
{
    text-align: left;
    border-bottom: thin solid black;
    padding: 0;
    margin: 0;
}

table.list th,
table.list td
{
    padding-right: 1em;
}

table td.numeric
{
    text-align: right;
}

.description
{
    color: #666;
}

.URL
{
    text-decoration: none;
    color: black;
}

.URL:hover
{
    text-decoration: underline;
}

h1, h2
{
    padding-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
}


ul.devices li.desktop
{
    list-style-image: url('16x16/computer.png');
}

ul.devices li.laptop
{
    list-style-image: url('16x16/pda.png');
}

ul.devices li.mobile
{
    list-style-image: url('16x16/multimedia-player.png');
}

ul.devices li.server
{
    list-style-image: url('16x16/server.png');
}

ul.devices li.other
{
    list-style-image: url('16x16/audio-x-generic.png');
}

div.rate
{
    padding-top: 2em;
    padding-bottom: 3em;
}

div.subscribe
{
    padding: 1em 0 1em 0;
}

h2.ohelp
{
    padding-top: 0;
}

img.ohelp
{
    border: 1px solid rgb(40%, 40%, 40%) ; 
}

div.ohelp
{
    width: 50em;
    padding-left: 3em;
    padding-right: 3em;    
    border: 1px solid rgb(40%, 40%, 40%) ;
    -moz-border-radius: 10px;
    margin-bottom: 2em;
}


