body 
{ 
    font-family: DeJaVu Sans, Bitstream Vera Sans, sans-serif; 
    background-color: #333;
    padding: 0px;
    margin: 0px;
}

body, table, td, th
{
    font-size: 12px;
}

hr 
{ 
    border-width: 0px; 
    border-bottom: 1px #aaa dotted; 
    clear: both;
}

img 
{ 
    border-width: 0px; 
}

#body
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    min-height: 100%;
    padding: 0px;
}

#logo
{
	float: right;
	padding: 0px;
	margin: 7px 10px 0px 0px;
}

#content-area
{
    padding: 20px;
}

#logininfo
{
    float: right;
    margin-top: 1px;
    background-color: white;
    padding: 5px;
    text-align: right;
    background-image: url(logininfo-bottomleft.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

#navigation
{
    background-color: rgb(102, 102, 102); 
}

a {
    color: #10488B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.error
{
    border-radius: 4px;
    background-color: #fa7080;
    border: #f5001d thin solid;
    padding: 1em 1em 1em 45px;
    background-image: url('dialog-error.png');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    margin: .5em;
}

table.register th {
    font-weight:normal;
    width:150px;
    text-align:left;
}

.success
{
    background-color: #b7f46e;
    border: #539800 thin solid;
    border-radius: 4px;
    padding: 1em 1em 1em 45px;
    background-image: url('emblem-default.png');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    margin: .5em;
}

.info
{
    border-radius: 4px;
    background-color: #eeeeee;
    border: #aaaaaa thin solid;
    padding: 1em 1em 1em 45px;
    background-image: url('info.png');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    margin: .5em;
}

.info a
{
    color: black;
}


.menu a
{
    color: #aaa;
}

ul.menu
{
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    border-width: 0px;
}

ul.menu.secondary
{
    background-color: #777;
    padding-left: 40px;
    padding-top: 20px;
    border-top: 1px #666 solid;
}

ul.menu.primary
{
    padding-top: 20px;
}

ul.menu li {
    display: inline;
    padding: 10px;
    padding-left: 10px;
    border-width: 0px;
    text-shadow: 0px 0px 3px #333;
    position: relative;
    top: 1px;
}

ul.menu.primary li.selected {
    background-color: #777;
    background-image: url(navcaps/primary-top-left.png),
                      url(navcaps/primary-top-right.png);
    background-position: top left, top right;
    background-repeat: no-repeat;
    text-shadow: 0px 0px 4px #333;
}

ul.menu.primary li.selected:hover {
    background-color: #777;
}

ul.menu.secondary li.selected a,
ul.menu.secondary li.selected a:hover,
ul.menu.secondary li.selected:hover a {
    color: black;
}

ul.menu.secondary li.selected {
    position: relative;
    top: 1px;
    background-color: white;
    background-image: url(navcaps/secondary-top-left.png),
                      url(navcaps/secondary-top-right.png),
                      url(navcaps/secondary-bg-gradient.png);
    background-position: top left, top right, top left;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0px 0px 4px #777;
}

ul.menu.secondary li.selected:hover {
    background-color: white;
}

ul.menu li a:hover {
    text-shadow: 0px 0px 5px black;
}

ul.menu.secondary li.selected a:hover {
    text-shadow: 0px 0px 5px #444;
}

ul.menu li:hover a {
    text-decoration: none;
}

ul.menu li.selected a, ul.menu li.selected:hover a {
    color: white;
}

ul.menu li.heading {
    cursor: default;
}

ul.menu li.heading:hover {
    background-color: #777;
}

.menu strong {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

table.list
{
    font-size: 1em;
    border-collapse: collapse;
    margin-bottom: 2em;
}

table.list tr {
    border: 1px solid white;
}

table.list tr:nth-child(even) td {
    background-color: #f7f7f7;
}

table.list tr:nth-child(odd) td {
    background-color: #f0f0f0;
}

table.list tr:nth-child(even):hover td {
    background-color: #e7e7e7;
}

table.list tr:nth-child(odd):hover td {
    background-color: #e0e0e0;
}

table.list th
{
    text-align: left;
    padding: 5px;
}

table.list th,
table.list td
{
    padding-right: 1em;
}

table td.numeric,
table th.numeric
{
    text-align: right;
}

table.list tr.group
{
    font-weight: bold;
    height: 3em;
    vertical-align: bottom;
}

table.list tr.group:hover td
{
    /* don't show hover effect for group rows */
    background-color: inherit;
}

.episode_list .title
{
}

.podcast_list p, .episode_list p
{
    margin: 2px 0px 2px 0px;
    padding: 0px;
}

.podcast_list p.description, .episode_list p.description
{
    font-size: x-small;
}

.description
{
    color: #666;
}

.URL
{
    text-decoration: none;
    color: black;
}

.URL:hover
{
    text-decoration: underline;
}

h1, h2
{
    padding: 5px 0px 2px 0px;
    margin: 0px;
}

h1 {
    font-size: 14pt;
}

h2 {
    font-size: 12pt;
}

img.device_icon
{
    padding: 3px;
    vertical-align: middle;
}

ul.devices li.desktop
{
    list-style-image: url('16x16/computer.png');
}

ul.devices li.laptop
{
    list-style-image: url('16x16/stock_notebook.png');
}

ul.devices li.mobile
{
    list-style-image: url('16x16/stock_cell-phone.png');
}

ul.devices li.server
{
    list-style-image: url('16x16/server.png');
}

ul.devices li.other
{
    list-style-image: url('16x16/audio-x-generic.png');
}

div.rate
{
    padding-top: 2em;
    padding-bottom: 3em;
}

div.devicesLeft
{
    float:left;
	width: 10em;
}

div.devicesRight
{
    float:left;
    margin-top:-5px;
	width: 26px;
	height: 26px;
}

div.devicesClear
{
    clear:left;
}


form.search input[type="text"]
{
    width: 300px;
    display: inline;
}

form.search ul
{
    display: inline;
    margin: 0px;
    padding: 0px;
}

form.search ul li
{
    list-style: none;
    display: inline;
}

form.search input[type="submit"]
{
    margin-top: 20px;
    display: inline;
}

div.result img
{
    float: left;
}

div.result a.podcast
{
    font-size: 1.2em;
    color: black;
    padding-top: 2em;
    font-weight: bold;
    display: block;
}

div.result span.episode
{
    display: list-item;
    margin-left: 2em;
}

div.result span.episode a
{
    color: black;
}

div.result
{
}

div#podcastlogo
{
    float: right;
    padding-left: 20px;
    padding-bottom: 10px;
}

table.form
{
}

table.form th
{
    font-weight: normal;
    text-align: right;
}

input.url
{
    width: 80%;
}

.bar
{
    background-color: #333;
    color: white;
    float: left;
    text-align: left;
}

.bar span, .barbg span
{
    padding-left: 5px;
    padding-right: 5px;
}

.barbg
{
    background-color: #aaa;
    text-align: right;
    color: black;
    float: left;
    width: 100%;
}

td.position
{
    font-size: 1.3em;
    font-weight: bold;
    padding-right: 0;
    margin-right: 0;
}

td.oldposition
{
    font-size: .8em;
}

.pos
{
    color: green;
}

.neg
{
    color: red;
}

.new
{
    color: #555;
}

span.from_podcast, span.latest_episode {
    font-size: x-small;
    color: #666;
}

span.from_podcast a, span.latest_episode a {
    color: #333;
}

.time
{
    width: 5em;
}

.watermark
{
    color: #aaa;
}

ul.square-menu
{
    padding: 20px;
}

ul.square-menu li
{
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #aaa;
    text-align: center;
}

ul.square-menu li a
{
    position: relative;
    bottom: -40px;
}

address
{
    clear: both;
    text-align: center;
    padding: 5px;
    font-style: normal;
    color: #999;
}

.own-chapter
{
    font-weight: bold;
}

div.related-podcasts
{
    float: right;
}

div.intro-box
{
    text-align: justify;
    float: left;
    width: 40%;
    padding-top: 1em;
    padding-left: 5%;
    padding-bottom: 1em;
}

div.wide-box
{
    float: left;
    width: 90%;
    padding-top: 1em;
    padding-left: 5%;
    padding-bottom: 1em;
}

div.intro-box ul
{
    text-align: left;
}

div.come-in-box
{
    margin-left: -10%;
    padding-top: 1em;
    padding-bottom: 1em;
    clear: both;
    font-size: 2em;
    text-align: center;
}
