{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Resend activation e-mail" %}{% endblock %}


{% block header %}
 <h1>{% trans "Resend activation e-mail" %}</h1>
{% endblock %}


{% block content %}
   <form action="{% url "resend-activation" %}" method="POST">
       {% csrf_token %}
       <table>
           <tr>
               <td colspan="2">
                   {% blocktrans %}Please enter either your username or (if you don't know that either) the e-mail address which you used to register your account. An e-mail will be sent to you.{% endblocktrans %}
               </td>
           </tr>
           <tr>
               <th>
                   {{ form.username.label_tag }}
               </th>
               <td>{{ form.username }}</td>
           </tr>
           <tr>
               <th>
                   {{ form.email.label_tag }}
               </th>
               <td>{{ form.email }}</td>
           </tr>
           <tr>
               <td colspan="2">
                   <button type="submit">
                    {% trans "Send activation e-mail" %}
                   </button>
               </td>
           </tr>
       </table>
   </form>
{% endblock %}
